Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2021-08, with the labels that each got.

#31 Add Icon component
  igniteui-webcomponents.ts
  package.json
  src/components/icon/icon.material.scss
  src/components/icon/icon.registry.ts
  src/components/icon/icon.spec.ts
  src/components/icon/icon.ts
  stories/icon.stories.ts
Labels: icon, status: verified

#33 Add Navigation bar component
  igniteui-webcomponents.ts
  src/components/navbar/navbar.bootstrap.scss
  src/components/navbar/navbar.indigo.scss
  src/components/navbar/navbar.material.scss
  src/components/navbar/navbar.spec.ts
  src/components/navbar/navbar.ts
  src/styles/themes/bootstrap.scss
  src/styles/themes/indigo.scss
  stories/navbar.stories.ts
Labels: status: verified, navbar

#32 feat(ripple): Added implementation
  igniteui-webcomponents.ts
  src/components/ripple/ripple.scss
  src/components/ripple/ripple.ts
  stories/ripple.stories.ts
Labels: status: verified, ripple

#38 Add List component
  igniteui-webcomponents.ts
  src/components/list/list-header.material.scss
  src/components/list/list-header.ts
  src/components/list/list-item.material.scss
  src/components/list/list-item.ts
  src/components/list/list.bootstrap.scss
  src/components/list/list.fluent.scss
  src/components/list/list.indigo.scss
  src/components/list/list.material.scss
  src/components/list/list.spec.ts
  src/components/list/list.ts
  src/styles/themes/bootstrap.scss
  src/styles/themes/fluent.scss
  src/styles/themes/indigo.scss
  src/styles/utilities/_typography.scss
  stories/list.stories.ts
Labels: status: verified, themes, list

#15 docs(*): Explore generating documentation metadata
  .gitignore
  package.json
  scripts/build-stories.js
  scripts/stories-watcher.js
  src/components/button/button-base.ts
  src/components/button/button.ts
  src/components/button/link-button.ts
  src/components/common/mixins/event-emitter.ts
  src/components/common/mixins/sizable.ts
  src/components/icon/icon.ts
  stories/avatar.stories.ts
  stories/badge.stories.ts
  stories/button.stories.ts
  stories/icon.stories.ts
  stories/link-button.stories.ts
  stories/list.stories.ts
  stories/navbar.stories.ts
  stories/radio-group.stories.ts
  stories/radio.stories.ts
  stories/ripple.stories.ts
  stories/story.ts
  stories/switch.stories.ts
Labels: status: verified

#47 feat(demos): update storybook and metadata
  package-lock.json
  package.json
  scripts/build-stories.js
  src/components/button/button-base.ts
  src/components/common/mixins/sizable.ts
  src/components/icon/icon.ts
  stories/avatar.stories.ts
  stories/badge.stories.ts
  stories/button.stories.ts
  stories/icon.stories.ts
  stories/link-button.stories.ts
  stories/list.stories.ts
  stories/radio-group.stories.ts
  stories/radio.stories.ts
  stories/switch.stories.ts
Labels: status: verified
