Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2021-09, with the labels that each got.

#52 Add styles for calendar
  src/components/calendar/calendar.bootstrap.scss
  src/components/calendar/calendar.fluent.scss
  src/components/calendar/calendar.material.scss
  src/components/calendar/calendar.scss
  src/components/calendar/calendar.ts
  src/components/calendar/common/calendar-base.ts
  src/components/calendar/days-view/days-view-material.scss
  src/components/calendar/days-view/days-view.scss
  src/components/calendar/days-view/days-view.ts
  src/components/calendar/months-view/months-view.scss
  src/components/calendar/months-view/months-view.ts
  src/components/calendar/years-view/years-view.scss
  src/components/calendar/years-view/years-view.ts
  src/styles/themes/bootstrap.scss
  src/styles/themes/fluent.scss
Labels: status: awaiting-test

#41 feat(card): Card implementation
  demo/index.html
  igniteui-webcomponents.ts
  src/components/card/card.actions.material.scss
  src/components/card/card.actions.ts
  src/components/card/card.bootstrap.scss
  src/components/card/card.content.bootstrap.scss
  src/components/card/card.content.indigo.scss
  src/components/card/card.content.material.scss
  src/components/card/card.content.ts
  src/components/card/card.fluent.scss
  src/components/card/card.header.bootstrap.scss
  src/components/card/card.header.indigo.scss
  src/components/card/card.header.material.scss
  src/components/card/card.header.ts
  src/components/card/card.indigo.scss
  src/components/card/card.material.scss
  src/components/card/card.media.material.scss
  src/components/card/card.media.ts
  src/components/card/card.spec.ts
  src/components/card/card.ts
  src/styles/themes/bootstrap.scss
  src/styles/themes/fluent.scss
  src/styles/themes/indigo.scss
  stories/card.stories.ts
Labels: status: awaiting-test, card

#59 refactor(radio): update invalid styles
  src/components/radio/radio.bootstrap.scss
  src/components/radio/radio.indigo.scss
Labels: status: awaiting-test, radio

#44 Add Input Component
  igniteui-webcomponents.ts
  scripts/build-stories.js
  src/components/common/util.ts
  src/components/input/input.bootstrap.scss
  src/components/input/input.fluent.scss
  src/components/input/input.indigo.scss
  src/components/input/input.material.scss
  src/components/input/input.spec.ts
  src/components/input/input.ts
  src/styles/themes/bootstrap.scss
  src/styles/themes/fluent.scss
  src/styles/themes/indigo.scss
  stories/input.stories.ts
  stories/story.ts
Labels: status: verified, squash-merge, input

#51 Fix checked property reflection
  src/components/checkbox/checkbox-base.ts
  src/components/checkbox/checkbox.bootstrap.scss
  src/components/checkbox/checkbox.fluent.scss
  src/components/checkbox/checkbox.indigo.scss
  src/components/checkbox/checkbox.material.scss
  src/components/checkbox/checkbox.ts
  src/components/checkbox/switch.bootstrap.scss
  src/components/checkbox/switch.fluent.scss
  src/components/checkbox/switch.indigo.scss
  src/components/checkbox/switch.material.scss
  src/components/checkbox/switch.ts
  src/components/radio/radio.bootstrap.scss
  src/components/radio/radio.fluent.scss
  src/components/radio/radio.indigo.scss
  src/components/radio/radio.material.scss
  src/components/radio/radio.ts
Labels: status: verified, switch, radio, checkbox

#57 docs(*): Added API documentation
  .gitignore
  package.json
  scripts/build-stories.js
  src/components/avatar/avatar.ts
  src/components/badge/badge.ts
  src/components/button/button-base.ts
  src/components/button/button.ts
  src/components/button/link-button.ts
  src/components/checkbox/checkbox-base.ts
  src/components/checkbox/checkbox.ts
  src/components/checkbox/switch.ts
  src/components/radio/radio.ts
  src/components/ripple/ripple.ts
  stories/avatar.stories.ts
  stories/badge.stories.ts
  stories/button.stories.ts
  stories/card.stories.ts
  stories/checkbox.stories.ts
  stories/icon.stories.ts
  stories/link-button.stories.ts
  stories/list.stories.ts
  stories/navbar.stories.ts
  stories/radio.stories.ts
  stories/ripple.stories.ts
  stories/switch.stories.ts
Labels: documentation, status: verified, squash-merge

#60 docs(card): Adding API doc comments #23
  src/components/card/card.actions.ts
  src/components/card/card.content.ts
  src/components/card/card.header.ts
  src/components/card/card.media.ts
  src/components/card/card.ts
Labels: documentation, status: verified, card

#68 fix(input): bump input z-index
  src/components/input/input.bootstrap.scss
  src/components/input/input.material.scss
Labels: status: verified, input

#64 sample(card): Adding more cards to story
  src/components/card/card.actions.material.scss
  stories/card.stories.ts
Labels: status: verified, card

#53 Add Form Component
  igniteui-webcomponents.ts
  src/components/form/form.spec.ts
  src/components/form/form.ts
  src/components/input/input.ts
  stories/form.stories.ts
Labels: status: verified, form

#71 chore(*): Updated some access modifiers.
  .eslintrc.json
  src/IgniteuiWebcomponents.ts
  src/components/avatar/avatar.ts
  src/components/badge/badge.ts
  src/components/button/button-base.ts
  src/components/button/button.ts
  src/components/button/link-button.ts
  src/components/card/card.actions.ts
  src/components/card/card.content.ts
  src/components/card/card.header.ts
  src/components/card/card.media.ts
  src/components/card/card.ts
  src/components/checkbox/checkbox-base.ts
  src/components/checkbox/checkbox.ts
  src/components/checkbox/switch.ts
  src/components/common/mixins/event-emitter.ts
  src/components/common/mixins/sizable.ts
  src/components/form/form.ts
  src/components/icon/icon.registry.ts
  src/components/icon/icon.ts
  src/components/input/input.ts
  src/components/list/list-header.ts
  src/components/list/list-item.ts
  src/components/list/list.ts
  src/components/navbar/navbar.ts
  src/components/radio-group/radio-group.ts
  src/components/radio/radio.ts
  src/components/ripple/ripple.ts
  stories/card.stories.ts
  stories/form.stories.ts
Labels: status: verified

#62 docs(list): add api docs #61
  src/components/list/list-header.ts
  src/components/list/list-item.ts
  src/components/list/list.ts
Labels: documentation, status: verified, squash-merge, list

#63 Add Icon Button Component
  igniteui-webcomponents.ts
  src/components/button/button-base.ts
  src/components/button/button.bootstrap.scss
  src/components/button/button.fluent.scss
  src/components/button/button.indigo.scss
  src/components/button/button.material.scss
  src/components/button/button.spec.ts
  src/components/button/icon-button.bootstrap.scss
  src/components/button/icon-button.fluent.scss
  src/components/button/icon-button.indigo.scss
  src/components/button/icon-button.material.scss
  src/components/button/icon-button.spec.ts
  src/components/button/icon-button.ts
  src/components/button/link-button.spec.ts
  src/components/icon/icon.material.scss
  src/styles/themes/bootstrap.scss
  src/styles/themes/fluent.scss
  src/styles/themes/indigo.scss
  stories/button.stories.ts
  stories/icon-button.stories.ts
  stories/link-button.stories.ts
Labels: status: verified, icon-button
