Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2021-11, with the labels that each got.

#102 refactor(switch): move variables to component
  src/components/checkbox/switch.material.scss
  src/styles/themes/material.scss
Labels: switch

#101 build(*): optimize build process
  demo/index.html
  index.ts
  package-lock.json
  package.json
  scripts/_package.json
  scripts/build-styles.js
  scripts/build.js
  src/components/avatar/avatar.spec.ts
  src/components/badge/badge.spec.ts
  src/components/button/button.spec.ts
  src/components/button/icon-button.spec.ts
  src/components/button/link-button.spec.ts
  src/components/calendar/calendar-keyboard-navigation.spec.ts
  src/components/calendar/calendar-rendering.spec.ts
  src/components/calendar/calendar.interaction.spec.ts
  src/components/calendar/days-view/days-view.material.scss
  src/components/calendar/days-view/days-view.ts
  src/components/calendar/months-view/months-view.material.scss
  src/components/calendar/months-view/months-view.ts
  src/components/calendar/years-view/years-view.material.scss
  src/components/calendar/years-view/years-view.ts
  src/components/card/card.spec.ts
  src/components/checkbox/checkbox.spec.ts
  src/components/checkbox/switch.spec.ts
  src/components/form/form.spec.ts
  src/components/icon/icon.spec.ts
  src/components/input/input.spec.ts
  src/components/list/list.spec.ts
  src/components/nav-drawer/nav-drawer.spec.ts
  src/components/navbar/navbar.spec.ts
  src/components/radio-group/radio-group.material.scss
  src/components/radio-group/radio-group.spec.ts
  src/components/radio-group/radio-group.ts
  src/components/radio/radio.spec.ts
  src/components/ripple/ripple.material.scss
  src/components/ripple/ripple.ts
  src/index.ts
  stories/avatar.stories.ts
  stories/badge.stories.ts
  stories/button.stories.ts
  stories/calendar.stories.ts
  stories/card.stories.ts
  stories/checkbox.stories.ts
  stories/form.stories.ts
  stories/icon-button.stories.ts
  stories/icon.stories.ts
  stories/input.stories.ts
  stories/link-button.stories.ts
  stories/list.stories.ts
  stories/nav-drawer.stories.ts
  stories/navbar.stories.ts
  stories/radio-group.stories.ts
  stories/radio.stories.ts
  stories/ripple.stories.ts
  stories/switch.stories.ts
  tsconfig.prod.json
Labels: status: verified

#95 Add build.docs command to package.json
  gulpfile.js
  package-lock.json
  package.json
  tsconfig.json
  webComponentsDocs.nuspec
Labels: documentation

#113 attributes can't be set during constructor, need to wait till connect…
  src/components/list/list-header.ts
  src/components/list/list-item.ts
  src/components/list/list.ts
Labels: bug, list

#109 chore(*): Export base classes and mixins.
  src/components/common/mixins/sizable.ts
  src/index.ts
Labels: status: verified

#110 feat(calendar): add styles for disabled and special dates
  src/components/calendar/calendar.bootstrap.scss
  src/components/calendar/calendar.fluent.scss
  src/components/calendar/calendar.material.scss
  src/components/calendar/days-view/days-view.material.scss
  src/components/calendar/days-view/days-view.ts
  src/components/calendar/shared-calendar.scss
  src/styles/themes/bootstrap.scss
  src/styles/themes/fluent.scss
Labels: status: verified, calendar

#112 fix(Buttons): Merged the two button components
  src/components/button/button-base.ts
  src/components/button/button.bootstrap.scss
  src/components/button/button.fluent.scss
  src/components/button/button.indigo.scss
  src/components/button/button.spec.ts
  src/components/button/button.ts
  src/components/button/icon-button.spec.ts
  src/components/button/icon-button.ts
  src/components/button/link-button.ts
  src/components/form/form.ts
  src/index.ts
  stories/button.stories.ts
  stories/icon-button.stories.ts
  stories/link-button.stories.ts
Labels: status: verified, button, link-button, squash-merge

#118 fix(nav-drawer): set active drawer item in stories
  src/components/nav-drawer/nav-drawer-item.ts
  stories/nav-drawer.stories.ts
Labels: status: verified, nav-drawer

#125 fix(calendar): remove circular dependency
  src/components/calendar/calendar.ts
  src/components/calendar/common/calendar-base.ts
  src/components/calendar/months-view/months-view.ts
  src/components/calendar/years-view/years-view.ts
Labels: status: verified, calendar

#117 refactor(themes): remove deprecation warnings
  src/components/calendar/calendar.fluent.scss
Labels: status: verified, themes, calendar

#121 fix(icon): fix icon auto import
  scripts/_package.json
Labels: status: verified, icon

#128 fix(themes,button): flat button background in material
  src/components/button/button.material.scss
Labels: button

#132 fix(package): fix sideEffects paths
  scripts/_package.json
Labels: status: verified

#137 chore(*): fix eslint warning
  src/components/nav-drawer/nav-drawer-item.ts
Labels: status: verified, nav-drawer

#127 refactor(themes): update for bootstrap defaults
  .storybook/preview.js
  src/components/badge/badge.bootstrap.scss
  src/components/badge/badge.material.scss
  src/components/badge/badge.ts
  src/components/button/button.spec.ts
  src/components/button/button.ts
  src/components/button/icon-button.spec.ts
  src/components/button/icon-button.ts
  src/components/card/card.actions.bootstrap.scss
  src/components/card/card.bootstrap.scss
  src/components/card/card.content.bootstrap.scss
  src/components/card/card.header.bootstrap.scss
  src/components/card/card.indigo.scss
  src/components/card/card.spec.ts
  src/components/card/card.ts
  src/components/checkbox/switch.bootstrap.scss
  src/components/input/input.bootstrap.scss
  src/components/input/input.spec.ts
  src/components/input/input.ts
  src/components/navbar/navbar.bootstrap.scss
  src/components/navbar/navbar.material.scss
  src/styles/themes/bootstrap.scss
  src/styles/themes/indigo.scss
  stories/button.stories.ts
  stories/card.stories.ts
  stories/icon-button.stories.ts
  stories/input.stories.ts
  stories/list.stories.ts
  stories/navbar.stories.ts
Labels: status: verified, themes, squash-merge, bootstrap-theme

#122 refactor(button): improve button sizing and palette
  src/components/button/button.bootstrap.scss
  src/styles/themes/bootstrap.scss
Labels: status: awaiting-test, themes, button, DO-NOT-MERGE

#130 refactor(button): improve fluent button styles
  src/components/button/button.fluent.scss
  src/styles/themes/fluent.scss
Labels: status: verified, themes, button

#126 refactor(checkbox): update focus state
  src/components/checkbox/checkbox.fluent.scss
Labels: status: verified, checkbox

#140 fix: Setting avatar src correctly resets error state
  src/components/avatar/avatar.ts
Labels: status: verified, avatar, squash-merge

#100 Removed Slider from current milestone.
  ROADMAP.md
  scripts/_package.json
Labels: documentation

#157 build(*): add css plugin for storybook
  .storybook/main.js
  .storybook/preview.js
Labels: status: verified, squash-merge
