Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2021-07, with the labels that each got.

#11 feat(badge): add initial implementation
  igniteui-webcomponents.ts
  src/components/badge/badge.material.scss
  src/components/badge/badge.ts
  stories/badge.stories.ts
  test/badge.test.ts
Labels: badge, status: verified

#10 feat(components): add avatar component
  igniteui-webcomponents.ts
  src/components/avatar/avatar.material.scss
  src/components/avatar/avatar.scss
  src/components/avatar/avatar.ts
  stories/avatar.stories.ts
  test/avatar.test.ts
Labels: avatar, status: verified

#13 test(Buttons): Button and LinkButton tests.
  package-lock.json
  package.json
  src/components/avatar/avatar.spec.ts
  src/components/badge/badge.spec.ts
  src/components/button/button.spec.ts
  src/components/button/link-button.spec.ts
  web-test-runner.config.mjs
Labels: button, link-button, status: verified

#24 refactor(*): themes and CSS parts naming
  src/components/avatar/avatar.material.scss
  src/components/avatar/avatar.spec.ts
  src/components/avatar/avatar.ts
  src/components/badge/badge.material.scss
  src/components/badge/badge.ts
  src/components/button/button.bootstrap.scss
  src/components/button/button.spec.ts
  src/components/button/button.ts
  src/components/button/link-button.spec.ts
  src/components/button/link-button.ts
  stories/avatar.stories.ts
Labels: status: verified

#28 refactor(themes): allow opacity on palette colors
  src/components/avatar/avatar.material.scss
  src/components/badge/badge.material.scss
  src/components/button/button.bootstrap.scss
  src/components/button/button.material.scss
  src/styles/utilities/_functions.scss
Labels: themes

#29 Add stylelint and fix Sass linting errors
  .editorconfig
  .stylelintrc.json
  package-lock.json
  package.json
  src/components/avatar/avatar.material.scss
  src/components/badge/badge.material.scss
  src/components/button/button.bootstrap.scss
  src/components/button/button.material.scss
  src/styles/common/component.scss
  src/styles/themes/bootstrap.scss
  src/styles/themes/material.scss
Labels: themes

#27 refactor(button): add fluent and indigo themes
  src/components/button/button.fluent.scss
  src/components/button/button.indigo.scss
  src/styles/themes/fluent.scss
  src/styles/themes/indigo.scss
Labels: button, link-button, status: verified, themes
