Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2022-12, with the labels that each got.

#571 Fix combo styling bugs
  src/components/combo/themes/light/combo.bootstrap.scss
  src/components/combo/themes/light/combo.fluent.scss
  src/components/input/themes/light/input.fluent.scss
Labels: status: verified

#572 fix input mozilla and safari bugs
  src/components/combo/themes/light/combo.base.scss
  src/components/combo/themes/light/combo.indigo.scss
  src/components/combo/themes/light/combo.material.scss
  src/components/input/themes/light/input.bootstrap.scss
  src/components/input/themes/light/input.fluent.scss
  src/components/input/themes/light/input.indigo.scss
  src/components/input/themes/light/input.material.scss
Labels: status: verified

#574 style(input, icon, combo): fix styling issues
  src/components/combo/combo.spec.ts
  src/components/combo/combo.ts
  src/components/combo/themes/light/combo.base.scss
  src/components/combo/themes/light/combo.bootstrap.scss
  src/components/combo/themes/light/combo.indigo.scss
  src/components/combo/themes/light/combo.material.scss
  src/components/icon/icon.material.scss
  src/components/input/themes/light/input.bootstrap.scss
  src/components/input/themes/light/input.fluent.scss
  src/components/input/themes/light/input.indigo.scss
  src/components/input/themes/light/input.material.scss
  stories/combo.stories.ts
Labels: status: verified

#575 style(date-time-input) remove wrapping div element.
  src/components/date-time-input/date-time-input.ts
Labels: status: verified, input

#576 style(combo, select, input) update the styles for toggle button
  src/components/combo/themes/light/combo.material.scss
  src/components/input/themes/light/input.indigo.scss
  src/components/select/themes/light/select.indigo.scss
  src/components/select/themes/light/select.material.scss
Labels: status: verified

#570 refactor(stepper): full types for event args, drop alt name comment
  src/components/stepper/stepper.common.ts
  src/index.ts
Labels: stepper

#566 Feat: Combo Component
  CHANGELOG.md
  package-lock.json
  package.json
  scripts/_package.json
  src/components/combo/combo-header.ts
  src/components/combo/combo-item.ts
  src/components/combo/combo-list.ts
  src/components/combo/combo.spec.ts
  src/components/combo/combo.ts
  src/components/combo/controllers/data.ts
  src/components/combo/controllers/navigation.ts
  src/components/combo/controllers/selection.ts
  src/components/combo/operations/filter.ts
  src/components/combo/operations/group.ts
  src/components/combo/themes/dark/combo.bootstrap.scss
  src/components/combo/themes/dark/combo.fluent.scss
  src/components/combo/themes/dark/combo.indigo.scss
  src/components/combo/themes/dark/combo.material.scss
  src/components/combo/themes/light/combo.base.scss
  src/components/combo/themes/light/combo.bootstrap.scss
  src/components/combo/themes/light/combo.fluent.scss
  src/components/combo/themes/light/combo.indigo.scss
  src/components/combo/themes/light/combo.material.scss
  src/components/combo/themes/light/header/combo-header.base.scss
  src/components/combo/themes/light/item/combo-item.base.scss
  src/components/combo/types.ts
  src/components/combo/utils/converters.ts
  src/components/common/definitions/defineAllComponents.ts
  src/components/form/form.ts
  src/components/icon/icon.material.scss
  src/components/icon/icon.registry.ts
  src/components/input/themes/light/input.base.scss
  src/components/input/themes/light/input.bootstrap.scss
  src/components/input/themes/light/input.fluent.scss
  src/components/input/themes/light/input.indigo.scss
  src/components/input/themes/light/input.material.scss
  src/components/select/select.ts
  src/components/select/themes/light/select.bootstrap.scss
  src/components/select/themes/light/select.indigo.scss
  src/components/select/themes/light/select.material.scss
  src/index.ts
  src/styles/themes/dark/bootstrap.scss
  src/styles/themes/dark/fluent.scss
  src/styles/themes/dark/indigo.scss
  src/styles/themes/dark/material.scss
  stories/combo.stories.ts
  stories/form.stories.ts
Labels: status: verified, design: verified, combo

#562 feat: Mask skips symbols when deleting characters
  CHANGELOG.md
  src/components/date-time-input/date-time-input.ts
  src/components/mask-input/mask-input-base.ts
  src/components/mask-input/mask-input.spec.ts
  src/components/mask-input/mask-input.ts
  src/components/mask-input/mask-parser.ts
Labels: status: verified, squash-merge, mask

#582 feat(input) add label ellipsis
  src/components/input/themes/light/input.base.scss
  src/components/input/themes/light/input.material.scss
Labels: status: verified, input, material-theme

#585 fix(select): make checkValidity to only return whether the component is valid
  src/components/select/select.spec.ts
  src/components/select/select.ts
Labels: status: verified, select

#584 fix(inputs): helper text should be error 500 color when invalid
  src/components/combo/themes/light/combo.base.scss
  src/components/input/themes/light/input.base.scss
  src/components/input/themes/light/input.bootstrap.scss
  src/components/input/themes/light/input.fluent.scss
  src/components/input/themes/light/input.indigo.scss
  src/components/input/themes/light/input.material.scss
  src/components/select/themes/light/select.base.scss
  stories/input.stories.ts
  stories/select.stories.ts
Labels: status: verified, input, design: verified, select, combo

#591 refactor(combo): switch to latest version of virtualizer
  package-lock.json
  package.json
  scripts/_package.json
  src/components/combo/combo-list.ts
  src/components/combo/combo.spec.ts
  src/components/combo/combo.ts
  src/components/combo/controllers/navigation.ts
Labels: dependencies, refactoring, combo, lit-virtualizer

#589 refactor(input): position label based on component size
  src/components/input/themes/light/input.material.scss
Labels: themes, input, refactoring
