Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2022-11, with the labels that each got.

#539 feat(scrollbars): set global scrollbar styles
  CHANGELOG.md
  src/styles/common/component.scss
  src/styles/themes/base/_bootstrap.scss
  src/styles/themes/base/_fluent.scss
  src/styles/themes/base/_indigo.scss
  src/styles/themes/base/_material.scss
  src/styles/themes/base/_scrollbars.scss
  src/styles/themes/dark/bootstrap.scss
  src/styles/themes/dark/fluent.scss
  src/styles/themes/dark/indigo.scss
  src/styles/themes/dark/material.scss
  src/styles/themes/light/bootstrap.scss
  src/styles/themes/light/fluent.scss
  src/styles/themes/light/indigo.scss
  src/styles/themes/light/material.scss
Labels: status: verified, themes

#541 fix(dialog): remove content max-width
  src/components/dialog/themes/light/dialog.base.scss
Labels: status: awaiting-test, themes, dialog

#540 build: Bump dependencies
  package-lock.json
  package.json
  scripts/_package.json
Labels: dependencies

#544 fix(rating): only projected symbols override default content
  src/components/rating/rating-symbol.ts
  src/components/rating/rating.spec.ts
  src/components/rating/rating.ts
Labels: status: verified, rating

#550 chore(*): roadmap-update-15-nov-2022
  ROADMAP.md
Labels: documentation

#552 refactor(themes): grid apx to apex
  src/styles/themes/third-party/grid/bootstrap.dark.scss
  src/styles/themes/third-party/grid/fluent.dark.scss
  src/styles/themes/third-party/grid/indigo.dark.scss
  src/styles/themes/third-party/grid/material.dark.scss
Labels: status: awaiting-test, themes: apex-grid

#553 fix(checkbox/radio/switch): extra margin without label
  src/components/checkbox/checkbox-base.ts
  src/components/checkbox/checkbox.ts
  src/components/checkbox/switch.ts
  src/components/checkbox/themes/light/checkbox.base.scss
  src/components/checkbox/themes/light/switch.base.scss
  src/components/radio/radio.ts
  src/components/radio/themes/light/radio.base.scss
Labels: status: verified, switch, radio, checkbox

#437 Add stepper component
  CHANGELOG.md
  src/components/common/definitions/defineAllComponents.ts
  src/components/stepper/step.ts
  src/components/stepper/stepper-utils.spec.ts
  src/components/stepper/stepper.common.ts
  src/components/stepper/stepper.spec.ts
  src/components/stepper/stepper.ts
  src/components/stepper/themes/step/dark/step.bootstrap.scss
  src/components/stepper/themes/step/dark/step.fluent.scss
  src/components/stepper/themes/step/dark/step.indigo.scss
  src/components/stepper/themes/step/dark/step.material.scss
  src/components/stepper/themes/step/light/step.base.scss
  src/components/stepper/themes/step/light/step.bootstrap.scss
  src/components/stepper/themes/step/light/step.fluent.scss
  src/components/stepper/themes/step/light/step.indigo.scss
  src/components/stepper/themes/step/light/step.material.scss
  src/components/stepper/themes/stepper/stepper.base.scss
  src/components/stepper/themes/stepper/stepper.bootstrap.scss
  src/components/stepper/themes/stepper/stepper.fluent.scss
  src/components/stepper/themes/stepper/stepper.indigo.scss
  src/index.ts
  stories/stepper.stories.ts
  stories/tabs.stories.ts
Labels: status: verified, stepper

#560 fix(radio): wrong label margin in fluent theme
  src/components/radio/themes/light/radio.fluent.scss
Labels: status: verified, radio, fluent-theme, design: verified

#567 build: Updated to TS 4.9 and build chain
  .github/workflows/node.js.yml
  .github/workflows/npm-publish.yml
  package-lock.json
  package.json
  scripts/_package.json
  src/components/accordion/accordion.ts
  src/components/avatar/avatar.ts
  src/components/badge/badge.ts
  src/components/button/button-base.ts
  src/components/button/button.ts
  src/components/button/icon-button.ts
  src/components/calendar/calendar.ts
  src/components/calendar/days-view/days-view.ts
  src/components/card/card.actions.ts
  src/components/card/card.ts
  src/components/checkbox/checkbox-base.ts
  src/components/checkbox/checkbox.ts
  src/components/chip/chip.ts
  src/components/common/mixins/sizable.ts
  src/components/date-time-input/date-time-input.ts
  src/components/dialog/dialog.ts
  src/components/dropdown/dropdown-item.ts
  src/components/dropdown/dropdown.ts
  src/components/expansion-panel/expansion-panel.ts
  src/components/icon/icon.ts
  src/components/input/input-base.ts
  src/components/input/input.ts
  src/components/mask-input/mask-input.ts
  src/components/nav-drawer/nav-drawer-item.ts
  src/components/nav-drawer/nav-drawer.ts
  src/components/progress/base.ts
  src/components/progress/circular-gradient.ts
  src/components/progress/linear-progress.ts
  src/components/radio-group/radio-group.ts
  src/components/radio/radio.ts
  src/components/rating/rating.ts
  src/components/select/select-group.ts
  src/components/select/select.ts
  src/components/slider/range-slider.ts
  src/components/slider/slider-base.ts
  src/components/slider/slider.ts
  src/components/snackbar/snackbar.ts
  src/components/tabs/tab.ts
  src/components/tabs/tabs.ts
  src/components/toast/toast.ts
  src/components/tree/tree-item.ts
  src/components/tree/tree.ts
  stories/accordion.stories.ts
  stories/date-time-input.stories.ts
  stories/input.stories.ts
  stories/mask-input.stories.ts
  stories/radio-group.stories.ts
Labels: documentation, squash-merge, dependencies
