Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2022-03, with the labels that each got.

#259 build: Latest upstream
  package-lock.json
  package.json
Labels: dependencies

#264 fix(slider): fluent hover color
  src/components/slider/themes/light/slider.fluent.scss
Labels: status: verified, slider

#262 refactor(switch): update component to match latest boostrap spec
  src/components/checkbox/themes/light/switch.bootstrap.scss
Labels: status: awaiting-test, switch, bootstrap-theme

#265 feat(input): add base input component
  src/components/input/input-base.ts
  src/components/input/input.ts
  src/index.ts
  stories/input.stories.ts
Labels: status: awaiting-test, feature, input

#260 Change avatar border radius in bootstrap theme
  src/components/avatar/avatar.bootstrap.scss
Labels: status: awaiting-test, avatar, bootstrap-theme

#266 Didimmova/checkbox stroke width
  src/components/checkbox/themes/light/checkbox.bootstrap.scss
Labels: status: awaiting-test, checkbox, bootstrap-theme

#263 refactor(list): fix refactor on list themes
  src/components/list/list-header.ts
  src/components/list/list-item.ts
  src/components/list/list.ts
  src/components/list/themes/light/list-header.indigo.scss
  src/components/list/themes/light/list-item.bootstrap.scss
  src/components/list/themes/light/list-item.fluent.scss
  src/components/list/themes/light/list-item.indigo.scss
  src/components/list/themes/light/list.bootstrap.scss
Labels: status: verified, themes, list

#267 build: Latest upstream dependencies
  .github/workflows/node.js.yml
  .github/workflows/npm-publish.yml
  .husky/pre-commit
  .stylelintrc.json
  package-lock.json
  package.json
  scripts/_package.json
  scripts/build-styles.mjs
  scripts/build.mjs
Labels: status: verified

#238 feat(Dropdown): Adding component
  src/components/common/definitions/defineAllComponents.ts
  src/components/dropdown/dropdown-group.material.scss
  src/components/dropdown/dropdown-group.ts
  src/components/dropdown/dropdown-header.material.scss
  src/components/dropdown/dropdown-header.ts
  src/components/dropdown/dropdown-item.material.scss
  src/components/dropdown/dropdown-item.ts
  src/components/dropdown/dropdown.material.scss
  src/components/dropdown/dropdown.spec.ts
  src/components/dropdown/dropdown.ts
  src/components/toggle/toggle.controller.ts
  src/components/toggle/toggle.interface.ts
  src/index.ts
  stories/dropdown.stories.ts
Labels: status: awaiting-test, feature

#282 refactor(theming): catch stylesheet reading error
  src/theming/utils.ts
Labels: status: verified, themes

#250 feat(themes): add global radius factor
  src/components/avatar/avatar.base.scss
  src/components/avatar/avatar.bootstrap.scss
  src/components/avatar/avatar.ts
  src/components/avatar/themes/avatar.base.scss
  src/components/avatar/themes/avatar.bootstrap.scss
  src/components/badge/themes/light/badge.base.scss
  src/components/button/themes/button/light/button.base.scss
  src/components/button/themes/button/light/button.bootstrap.scss
  src/components/button/themes/button/light/button.fluent.scss
  src/components/button/themes/button/light/button.indigo.scss
  src/components/button/themes/icon-button/light/icon-button.base.scss
  src/components/button/themes/icon-button/light/icon-button.bootstrap.scss
  src/components/button/themes/icon-button/light/icon-button.fluent.scss
  src/components/calendar/themes/bootstrap/vars.scss
  src/components/calendar/themes/calendar.base.scss
  src/components/calendar/themes/days-view.base.scss
  src/components/calendar/themes/fluent/days-view.fluent.scss
  src/components/calendar/themes/fluent/vars.scss
  src/components/card/themes/light/card.bootstrap.scss
  src/components/card/themes/light/card.material.scss
  src/components/checkbox/themes/light/checkbox.base.scss
  src/components/checkbox/themes/light/checkbox.bootstrap.scss
  src/components/checkbox/themes/light/checkbox.fluent.scss
  src/components/checkbox/themes/light/checkbox.indigo.scss
  src/components/checkbox/themes/light/checkbox.material.scss
  src/components/checkbox/themes/light/switch.base.scss
  src/components/checkbox/themes/light/switch.bootstrap.scss
  src/components/checkbox/themes/light/switch.fluent.scss
  src/components/checkbox/themes/light/switch.indigo.scss
  src/components/checkbox/themes/light/switch.material.scss
  src/components/input/themes/light/input.bootstrap.scss
  src/components/input/themes/light/input.fluent.scss
  src/components/list/themes/light/list.bootstrap.scss
  src/components/nav-drawer/styles/indigo/nav-drawer-item.indigo.scss
  src/components/nav-drawer/styles/nav-drawer-item.base.scss
  src/components/radio/themes/light/radio.base.scss
  src/components/radio/themes/light/radio.bootstrap.scss
  src/components/slider/themes/light/slider.base.scss
  src/components/slider/themes/light/slider.material.scss
  src/styles/themes/base/_bootstrap.scss
  src/styles/themes/base/_fluent.scss
  src/styles/themes/base/_indigo.scss
  src/styles/themes/base/_material.scss
  src/styles/utilities/_functions.scss
  src/styles/utilities/_mixins.scss
Labels: status: verified, themes

#281 style(switch): update switch styles for material
  src/components/checkbox/themes/light/switch.base.scss
  src/components/checkbox/themes/light/switch.material.scss
Labels: status: awaiting-test, switch, material-theme

#276 style(switch): update fluent switch styles
  src/components/checkbox/themes/dark/switch.fluent.scss
  src/components/checkbox/themes/light/switch.fluent.scss
Labels: status: verified, switch, fluent-theme

#280 style(list): change bootstrap light separator color
  src/components/list/themes/light/list.bootstrap.scss
Labels: status: verified, list, bootstrap-theme

#216 feat(toast): add toast component
  src/components/common/definitions/defineAllComponents.ts
  src/components/toast/themes/toast.base.scss
  src/components/toast/themes/toast.bootstrap.scss
  src/components/toast/themes/toast.fluent.scss
  src/components/toast/themes/toast.indigo.scss
  src/components/toast/toast.spec.ts
  src/components/toast/toast.ts
  src/index.ts
  stories/toast.stories.ts
Labels: status: verified, toast

#226 feat(snackbar): implement snackbar component
  src/components/common/definitions/defineAllComponents.ts
  src/components/snackbar/snackbar.spec.ts
  src/components/snackbar/snackbar.ts
  src/components/snackbar/themes/snackbar.base.scss
  src/components/snackbar/themes/snackbar.bootstrap.scss
  src/components/snackbar/themes/snackbar.fluent.scss
  src/components/snackbar/themes/snackbar.indigo.scss
  src/index.ts
  stories/snackbar.stories.ts
Labels: status: awaiting-test, snackbar

#227 Add Progress Components
  .stylelintrc.json
  scripts/build-stories.js
  src/components/common/definitions/defineAllComponents.ts
  src/components/common/util.ts
  src/components/progress/base.ts
  src/components/progress/circular-gradient.ts
  src/components/progress/circular-progress.spec.ts
  src/components/progress/circular-progress.ts
  src/components/progress/linear-progress.spec.ts
  src/components/progress/linear-progress.ts
  src/components/progress/themes/circular/circular.progress.base.scss
  src/components/progress/themes/circular/circular.progress.bootstrap.scss
  src/components/progress/themes/circular/circular.progress.fluent.scss
  src/components/progress/themes/linear/linear.progress.base.scss
  src/components/progress/themes/linear/linear.progress.bootstrap.scss
  src/components/progress/themes/linear/linear.progress.fluent.scss
  src/components/progress/themes/linear/linear.progress.indigo.scss
  src/components/progress/themes/shared.scss
  src/components/progress/themes/vars.scss
  src/index.ts
  stories/circular-progress.stories.ts
  stories/linear-progress.stories.ts
Labels: status: verified, circular-progress, linear-progress

#278 didimmova/create chip component
  src/components/chip/chip.spec.ts
  src/components/chip/chip.ts
  src/components/chip/themes/chip.base.scss
  src/components/chip/themes/chip.bootstrap.scss
  src/components/chip/themes/chip.fluent.scss
  src/components/chip/themes/chip.indigo.scss
  src/components/chip/themes/chip.material.scss
  src/components/common/definitions/defineAllComponents.ts
  src/index.ts
  src/styles/themes/dark/fluent.scss
  src/styles/themes/light/fluent.scss
  stories/chip.stories.ts
Labels: status: verified, feature, themes, chip

#139 Rating component
  CHANGELOG.md
  scripts/build-stories.js
  src/components/common/definitions/defineAllComponents.ts
  src/components/form/form.spec.ts
  src/components/form/form.ts
  src/components/rating/rating-symbol.ts
  src/components/rating/rating.base.scss
  src/components/rating/rating.bootstrap.scss
  src/components/rating/rating.fluent.scss
  src/components/rating/rating.indigo.scss
  src/components/rating/rating.spec.ts
  src/components/rating/rating.ts
  src/index.ts
  stories/form.stories.ts
  stories/rating.stories.ts
Labels: status: verified, squash-merge, rating

#290 build: Bump to latest
  package-lock.json
  package.json
Labels: squash-merge

#294 style(checkbox/radio): update material checkbox and radio styles
  src/components/checkbox/themes/light/checkbox.base.scss
  src/components/checkbox/themes/light/checkbox.material.scss
  src/components/radio/themes/light/radio.base.scss
Labels: status: verified, checkbox, material-theme

#289 style(chip): add display inline-flex for chip host
  src/components/chip/themes/chip.base.scss
Labels: themes, chip

#293 style(checkbox/radio/switch): update fluent themes
  src/components/checkbox/themes/dark/checkbox.fluent.scss
  src/components/checkbox/themes/light/checkbox.fluent.scss
  src/components/checkbox/themes/light/switch.fluent.scss
  src/components/radio/themes/dark/radio.fluent.scss
  src/components/radio/themes/light/radio.fluent.scss
Labels: status: verified, radio, checkbox, fluent-theme

#302 refactor(themes): initialize scrollbar values
  src/styles/common/component.scss
Labels: themes

#237 Adding Toggle & Dropdown
  CHANGELOG.md
  package-lock.json
  package.json
  scripts/_package.json
  src/components/common/definitions/defineAllComponents.ts
  src/components/dropdown/dropdown-group.ts
  src/components/dropdown/dropdown-header.ts
  src/components/dropdown/dropdown-item.ts
  src/components/dropdown/dropdown.spec.ts
  src/components/dropdown/dropdown.ts
  src/components/dropdown/themes/dark/dropdown.bootstrap.scss
  src/components/dropdown/themes/dark/dropdown.fluent.scss
  src/components/dropdown/themes/dark/dropdown.indigo.scss
  src/components/dropdown/themes/light/dropdown-group.base.scss
  src/components/dropdown/themes/light/dropdown-group.fluent.scss
  src/components/dropdown/themes/light/dropdown-header.base.scss
  src/components/dropdown/themes/light/dropdown-header.bootstrap.scss
  src/components/dropdown/themes/light/dropdown-item.base.scss
  src/components/dropdown/themes/light/dropdown-item.bootstrap.scss
  src/components/dropdown/themes/light/dropdown-item.fluent.scss
  src/components/dropdown/themes/light/dropdown-item.indigo.scss
  src/components/dropdown/themes/light/dropdown.base.scss
  src/components/dropdown/themes/light/dropdown.bootstrap.scss
  src/components/dropdown/themes/light/dropdown.fluent.scss
  src/components/dropdown/themes/light/dropdown.indigo.scss
  src/components/toggle/test.component.spec.ts
  src/components/toggle/toggle.controller.ts
  src/components/toggle/toggle.directive.ts
  src/components/toggle/toggle.spec.ts
  src/components/toggle/utilities.ts
  src/index.ts
  src/styles/themes/dark/bootstrap.scss
  src/styles/themes/dark/fluent.scss
  src/styles/themes/dark/indigo.scss
  stories/dropdown.stories.ts
  web-dev-server.config.mjs
  web-test-runner.config.mjs
Labels: status: verified, feature, squash-merge

#288 chore(*): roadmap-update-11-mar-22
  ROADMAP.md
Labels: documentation

#303 feat(calendar): Set active date through attribute
  CHANGELOG.md
  src/components/calendar/calendar-rendering.spec.ts
  src/components/calendar/common/calendar-base.ts
Labels: status: verified, squash-merge, calendar
