Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2022-01, with the labels that each got.

#204 build: Latest upstream dependencies
  package-lock.json
  package.json
Labels: status: verified

#202 fix: Checkbox/switch validity status
  CHANGELOG.md
  src/components/checkbox/checkbox.spec.ts
  src/components/checkbox/checkbox.ts
  src/components/checkbox/switch.spec.ts
  src/components/checkbox/switch.ts
Labels: status: in-test

#77 Add slider component
  CHANGELOG.md
  scripts/build-stories.js
  src/components/common/definitions/defineAllComponents.ts
  src/components/slider/range-slider.ts
  src/components/slider/slider-base.ts
  src/components/slider/slider.bootstrap.scss
  src/components/slider/slider.fluent.scss
  src/components/slider/slider.indigo.scss
  src/components/slider/slider.material.scss
  src/components/slider/slider.spec.ts
  src/components/slider/slider.ts
  src/index.ts
  src/styles/themes/dark/bootstrap.scss
  src/styles/themes/dark/fluent.scss
  src/styles/themes/dark/indigo.scss
  src/styles/themes/light/bootstrap.scss
  src/styles/themes/light/fluent.scss
  src/styles/themes/light/indigo.scss
  stories/calendar.stories.ts
  stories/input.stories.ts
  stories/range-slider.stories.ts
  stories/slider.stories.ts
Labels: status: verified, squash-merge, slider

#209 feat(slider): add slider classes docs
  src/components/slider/range-slider.ts
  src/components/slider/slider.ts
Labels: status: verified, slider

#208 build: Updated package.json
  scripts/_package.json
Labels: status: verified

#214 Changed boolean properties to default to false.
  CHANGELOG.md
  src/components/calendar/calendar-rendering.spec.ts
  src/components/calendar/calendar.ts
  src/components/card/card.bootstrap.scss
  src/components/card/card.fluent.scss
  src/components/card/card.material.scss
  src/components/card/card.spec.ts
  src/components/card/card.ts
  stories/calendar.stories.ts
  stories/card.stories.ts
Labels: status: verified

#215 refactor(calendar): split value into two props
  CHANGELOG.md
  src/components/calendar/calendar.interaction.spec.ts
  src/components/calendar/calendar.ts
  src/components/calendar/common/calendar-base.ts
  src/components/calendar/days-view/days-view.ts
  stories/calendar.stories.ts
Labels: calendar

#218 fix(slider): remove z-index
  src/components/slider/slider-base.ts
  src/components/slider/slider.material.scss
  stories/calendar.stories.ts
Labels: status: verified, slider

#217 fix(nav-drawer): remove events
  CHANGELOG.md
  src/components/nav-drawer/nav-drawer.spec.ts
  src/components/nav-drawer/nav-drawer.ts
  stories/nav-drawer.stories.ts
Labels: status: verified, nav-drawer

#221 feat(slider): export slider base and range value
  src/index.ts
Labels: slider

#212 feat(radio): support required attribute
  CHANGELOG.md
  src/components/radio-group/radio-group.spec.ts
  src/components/radio-group/radio-group.ts
  src/components/radio/radio.spec.ts
  src/components/radio/radio.ts
  stories/form.stories.ts
  stories/radio.stories.ts
Labels: status: verified, radio, squash-merge
