Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2022-08, with the labels that each got.

#463 fix(dropdown): Dispose of top-level event listeners
  CHANGELOG.md
  src/components/dropdown/dropdown.spec.ts
  src/components/toggle/toggle.controller.ts
Labels: status: verified, drop-down

#465 fix linear progress animations
  src/components/progress/linear-progress.spec.ts
  src/components/progress/linear-progress.ts
  src/components/progress/themes/linear/linear.progress.base.scss
  src/components/progress/themes/linear/linear.progress.bootstrap.scss
  src/components/progress/themes/linear/linear.progress.fluent.scss
  src/components/progress/themes/linear/linear.progress.indigo.scss
  src/components/progress/themes/shared.scss
Labels: status: verified, linear-progress, safari, animations

#464 fix(radio-group): define radio component
  src/components/radio-group/radio-group.spec.ts
  src/components/radio-group/radio-group.ts
Labels: radio-group

#469 chore(*): readme-update-3.3.0
  README.md
Labels: documentation

#471 refactor: Reduced LTR query calls and improved rating rendering
  src/components/common/util.ts
  src/components/radio-group/radio-group.ts
  src/components/rating/rating.ts
  src/components/slider/slider-base.ts
  src/components/tabs/tabs.ts
Labels: status: verified, squash-merge, refactoring, rating

#485 build: Latest dependencies
  package-lock.json
  package.json
  scripts/_package.json
Labels: dependencies

#487 fix(rating): Improved a11y
  src/components/rating/rating.spec.ts
  src/components/rating/rating.ts
  stories/rating.stories.ts
Labels: a11y, status: verified, rating

#488 feat(*): role property to icon, focusable remove chip
  CHANGELOG.md
  src/components/chip/chip.ts
  src/components/icon/icon.ts
  stories/chip.stories.ts
Labels: a11y, status: verified, icon, chip

#425 Feat: Select Component
  src/components/dropdown/dropdown-group.ts
  src/components/dropdown/dropdown-header.ts
  src/components/dropdown/dropdown-item.ts
  src/components/dropdown/dropdown.ts
  src/components/dropdown/themes/light/dropdown-group.base.scss
  src/components/dropdown/themes/light/dropdown-group.fluent.scss
  src/components/dropdown/themes/light/dropdown-item.base.scss
  src/components/dropdown/themes/light/dropdown.base.scss
  src/components/dropdown/themes/light/dropdown.fluent.scss
  src/components/form/form.ts
  src/components/input/input.ts
  src/components/input/themes/light/input.base.scss
  src/components/input/themes/light/input.bootstrap.scss
  src/components/input/themes/light/input.fluent.scss
  src/components/input/themes/light/input.indigo.scss
  src/components/select/select-group.ts
  src/components/select/select-header.ts
  src/components/select/select-item.ts
  src/components/select/select.spec.ts
  src/components/select/select.ts
  src/components/select/themes/dark/select.bootstrap.scss
  src/components/select/themes/dark/select.fluent.scss
  src/components/select/themes/dark/select.indigo.scss
  src/components/select/themes/dark/select.material.scss
  src/components/select/themes/light/select.base.scss
  src/components/select/themes/light/select.bootstrap.scss
  src/components/select/themes/light/select.fluent.scss
  src/components/select/themes/light/select.indigo.scss
  src/components/select/themes/light/select.material.scss
  src/index.ts
  src/styles/themes/dark/bootstrap.scss
  src/styles/themes/dark/fluent.scss
  src/styles/themes/dark/indigo.scss
  src/styles/themes/dark/material.scss
  stories/form.stories.ts
  stories/input.stories.ts
  stories/select.stories.ts
Labels: status: verified, themes, squash-merge, input, design: awaiting-validation, drop-down, select

#492 fix(toast): adding alert role for toast
  CHANGELOG.md
  src/components/toast/toast.spec.ts
  src/components/toast/toast.ts
Labels: a11y, status: verified, toast
