Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2022-10, with the labels that each got.

#521 style(circular-progressbar): fix safari bugs
  src/components/progress/themes/circular/circular.progress.base.scss
  src/components/progress/themes/circular/circular.progress.bootstrap.scss
  src/components/progress/themes/circular/circular.progress.fluent.scss
  src/components/progress/themes/shared.scss
  src/components/progress/themes/vars.scss
Labels: status: verified, circular-progress, safari

#522 deps(theming): bump to latest version
  package-lock.json
  package.json
Labels: dependencies

#531 refactor(radio): reportValidity doesn't return value
  src/components/radio/radio.ts
Labels: status: verified, radio

#527 fix(select): prefix misalignment
  src/components/select/themes/light/select.base.scss
Labels: status: verified, select

#530 refactor(select): focus target on change event
  src/components/select/select.ts
Labels: status: verified, select

#533 refactor(*): add checkValidity to input-like form elements
  src/components/checkbox/checkbox-base.ts
  src/components/input/input.ts
  src/components/radio/radio.ts
  src/components/select/select.ts
Labels: status: verified, switch, radio, checkbox, input, select
