Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2022-05, with the labels that each got.

#348 fix failing calendar-rendering test
  src/components/calendar/calendar-rendering.spec.ts
Labels: calendar

#356 fix(nav-drawer): remove redundant margin
  src/components/nav-drawer/styles/indigo/nav-drawer-item.indigo.scss
  src/components/nav-drawer/styles/nav-drawer-item.base.scss
Labels: status: verified, nav-drawer

#357 style(button/icon-button): add vertical align to button and icon-button
  src/components/button/themes/button/light/button.base.scss
  src/components/button/themes/icon-button/light/icon-button.base.scss
Labels: status: verified, button, icon-button

#362 fix(switch): fix switch getting shrinked when space is small
  src/components/checkbox/themes/light/switch.base.scss
Labels: status: verified, themes, switch

#363 feat(navdrawer): add border on relative navdrawer
  src/components/nav-drawer/styles/nav-drawer.base.scss
Labels: status: verified, themes, nav-drawer

#364 chore(nav-drawer): use gap property for spacing
  src/components/nav-drawer/nav-drawer-item.ts
  src/components/nav-drawer/nav-drawer.spec.ts
  src/components/nav-drawer/styles/indigo/nav-drawer-item.indigo.scss
  src/components/nav-drawer/styles/nav-drawer-item.base.scss
Labels: status: verified, nav-drawer

#371 Adding correct sizes + CSS var to control them.
  src/components/rating/rating.base.scss
  stories/rating.stories.ts
Labels: status: verified, squash-merge, rating

#374 fix(typography): differences between Ignite UI for Angular and WC
  src/styles/themes/base/_bootstrap.scss
  src/styles/themes/base/_fluent.scss
Labels: status: verified, typography

#372 fix(navbar): typography discrepancy
  src/components/navbar/navbar.ts
  src/components/navbar/themes/light/navbar.base.scss
  src/components/navbar/themes/light/navbar.bootstrap.scss
  src/components/navbar/themes/light/navbar.fluent.scss
Labels: status: verified, navbar

#380 fix(buttons): set delegatesFocus on buttons
  src/components/button/button-base.ts
Labels: status: verified, button, link-button, icon-button

#198 Add tree component
  CHANGELOG.md
  src/components/common/definitions/defineAllComponents.ts
  src/components/icon/icon.registry.ts
  src/components/tree/themes/dark/tree-item.bootstrap.scss
  src/components/tree/themes/dark/tree-item.fluent.scss
  src/components/tree/themes/dark/tree-item.indigo.scss
  src/components/tree/themes/light/tree-item.base.scss
  src/components/tree/themes/light/tree-item.bootstrap.scss
  src/components/tree/themes/light/tree-item.fluent.scss
  src/components/tree/themes/light/tree-item.indigo.scss
  src/components/tree/themes/light/tree.base.scss
  src/components/tree/tree-item.ts
  src/components/tree/tree-navigation.spec.ts
  src/components/tree/tree-selection.spec.ts
  src/components/tree/tree-utils.spec.ts
  src/components/tree/tree.common.ts
  src/components/tree/tree.navigation.ts
  src/components/tree/tree.selection.ts
  src/components/tree/tree.spec.ts
  src/components/tree/tree.ts
  src/index.ts
  src/styles/themes/dark/bootstrap.scss
  src/styles/themes/dark/fluent.scss
  src/styles/themes/dark/indigo.scss
  stories/tree.stories.ts
Labels: status: verified, squash-merge, tree

#355 feat(icon-button): allow slotted children
  src/components/button/icon-button.spec.ts
  src/components/button/icon-button.ts
  src/components/button/themes/icon-button/light/icon-button.base.scss
  src/components/button/themes/icon-button/light/icon-button.bootstrap.scss
  src/components/button/themes/icon-button/light/icon-button.fluent.scss
  src/components/button/themes/icon-button/light/icon-button.indigo.scss
  src/components/button/themes/icon-button/light/icon-button.material.scss
  stories/icon-button.stories.ts
Labels: status: verified, themes, squash-merge, icon-button

#384 fix(masked): Drop text behavior
  src/components/mask-input/mask-input.spec.ts
  src/components/mask-input/mask-input.ts
Labels: status: verified

#332 Add expansion panel component
  CHANGELOG.md
  src/components/common/definitions/defineAllComponents.ts
  src/components/expansion-panel/expansion-panel.spec.ts
  src/components/expansion-panel/expansion-panel.ts
  src/components/expansion-panel/themes/light/expansion-panel.base.scss
  src/components/expansion-panel/themes/light/expansion-panel.bootstrap.scss
  src/components/expansion-panel/themes/light/expansion-panel.fluent.scss
  src/components/expansion-panel/themes/light/expansion-panel.indigo.scss
  src/components/icon/icon.registry.ts
  src/index.ts
  stories/expansion-panel.stories.ts
Labels: status: verified, squash-merge, expansion-panel, design: verified

#391 fix(list): allow the list to scroll
  src/components/list/themes/light/list.base.scss
  stories/list.stories.ts
Labels: status: verified, list

#389 fix(expansion-panel): not working with headings
  src/components/expansion-panel/themes/light/expansion-panel.base.scss
  src/components/expansion-panel/themes/light/expansion-panel.bootstrap.scss
  src/components/expansion-panel/themes/light/expansion-panel.fluent.scss
  src/components/expansion-panel/themes/light/expansion-panel.indigo.scss
  stories/expansion-panel.stories.ts
  stories/input.stories.ts
Labels: status: verified, refactoring, expansion-panel

#395 fix(input): remove helper text container when empty
  src/components/input/input-base.ts
Labels: status: verified, input

#393 fix(icon): fix icon not showing in safari
  src/components/icon/icon.material.scss
Labels: status: verified, icon, safari

#398 fix(checkbox): fix check not showing in safari
  src/components/checkbox/themes/light/checkbox.base.scss
Labels: status: verified, checkbox, safari
