Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2022-09, with the labels that each got.

#499 fix(button): misaligned icon prefix / suffix
  src/components/button/themes/button/light/button.base.scss
Labels: status: verified, themes, button

#495 refactor(select): keyboard behavior matches angular
  src/components/dropdown/dropdown.ts
  src/components/select/select.ts
Labels: status: verified, select

#343 Add Dialog component
  src/components/dialog/dialog.spec.ts
  src/components/dialog/dialog.ts
  src/components/dialog/themes/light/dialog.base.scss
  src/components/dialog/themes/light/dialog.bootstrap.scss
  src/components/dialog/themes/light/dialog.fluent.scss
  src/components/dialog/themes/light/dialog.indigo.scss
  src/components/dialog/themes/light/dialog.material.scss
  src/components/form/form.ts
  src/index.ts
  stories/dialog.stories.ts
Labels: a11y, status: verified, themes, dialog, design: verified

#497 fix(calendar): Range selection a11y improvement
  CHANGELOG.md
  src/components/calendar/days-view/days-view.ts
Labels: a11y, status: verified, squash-merge, calendar

#494 fix(range-slider): add ariaValueText
  src/components/slider/range-slider.ts
  src/components/slider/slider-base.ts
Labels: a11y, status: verified, slider

#453 refactor(slider): update theme after latest fluent spec
  src/components/slider/range-slider.ts
  src/components/slider/slider-base.ts
  src/components/slider/themes/dark/slider.fluent.scss
  src/components/slider/themes/light/slider.base.scss
  src/components/slider/themes/light/slider.bootstrap.scss
  src/components/slider/themes/light/slider.fluent.scss
  src/components/slider/themes/light/slider.indigo.scss
  src/components/slider/themes/light/slider.material.scss
Labels: status: verified, themes, slider, fluent-theme

#502 refactor(components): size components using CSS vars
  src/components/button/themes/button/light/button.base.scss
  src/components/button/themes/button/light/button.fluent.scss
  src/components/button/themes/icon-button/light/icon-button.base.scss
  src/components/button/themes/icon-button/light/icon-button.bootstrap.scss
  src/components/button/themes/icon-button/light/icon-button.fluent.scss
  src/components/button/themes/icon-button/light/icon-button.indigo.scss
  src/components/button/themes/icon-button/light/icon-button.material.scss
  src/components/calendar/themes/calendar.base.scss
  src/components/chip/themes/chip.base.scss
  src/components/dropdown/dropdown-header.ts
  src/components/dropdown/themes/light/dropdown-group.base.scss
  src/components/dropdown/themes/light/dropdown-group.fluent.scss
  src/components/dropdown/themes/light/dropdown-header.base.scss
  src/components/dropdown/themes/light/dropdown-header.fluent.scss
  src/components/dropdown/themes/light/dropdown-item.base.scss
  src/components/dropdown/themes/light/dropdown-item.fluent.scss
  src/components/dropdown/themes/light/dropdown.base.scss
  src/components/dropdown/themes/light/dropdown.fluent.scss
  src/components/expansion-panel/themes/light/expansion-panel.base.scss
  src/components/icon/icon.material.scss
  src/components/input/themes/light/input.base.scss
  src/components/input/themes/light/input.bootstrap.scss
  src/components/input/themes/light/input.fluent.scss
  src/components/list/themes/light/list-header.base.scss
  src/components/list/themes/light/list-item.base.scss
  src/components/list/themes/light/list.base.scss
  src/components/rating/rating-symbol.base.scss
  src/components/rating/rating.base.scss
  src/components/select/themes/light/select.fluent.scss
  src/components/tree/themes/light/tree-item.base.scss
  src/components/tree/themes/light/tree.base.scss
  src/styles/themes/base/_bootstrap.scss
  src/styles/themes/base/_fluent.scss
  src/styles/themes/base/_indigo.scss
  src/styles/themes/base/_material.scss
Labels: status: awaiting-test, themes

#505 refactor(calendar): update weekend days color
  src/components/calendar/themes/days-view.base.scss
Labels: status: awaiting-test, themes, calendar, design: verified

#513 build: Bump dependencies
  package-lock.json
  package.json
  scripts/_package.json
Labels: dependencies

#514 chore(*): readme-toc-update
  README.md
Labels: documentation

#516 fix(icon-button): icon not showing when using ripple
  src/components/button/icon-button.spec.ts
  src/components/button/icon-button.ts
  src/components/button/themes/icon-button/light/icon-button.base.scss
  stories/icon-button.stories.ts
Labels: status: verified, ripple, icon-button

#484 refactor(themes): size component using CSS vars
  .storybook/preview.js
  package-lock.json
  package.json
  src/components/avatar/themes/avatar.base.scss
  src/components/button/themes/button/light/button.base.scss
  src/components/button/themes/button/light/button.bootstrap.scss
  src/components/button/themes/button/light/button.fluent.scss
  src/components/button/themes/button/light/button.indigo.scss
  src/components/button/themes/icon-button/light/icon-button.base.scss
  src/components/button/themes/icon-button/light/icon-button.bootstrap.scss
  src/components/button/themes/icon-button/light/icon-button.fluent.scss
  src/components/button/themes/icon-button/light/icon-button.indigo.scss
  src/components/button/themes/icon-button/light/icon-button.material.scss
  src/components/calendar/themes/calendar.base.scss
  src/components/checkbox/themes/light/checkbox.base.scss
  src/components/checkbox/themes/light/checkbox.bootstrap.scss
  src/components/chip/themes/chip.base.scss
  src/components/dropdown/dropdown-header.ts
  src/components/dropdown/themes/light/dropdown-group.base.scss
  src/components/dropdown/themes/light/dropdown-group.fluent.scss
  src/components/dropdown/themes/light/dropdown-header.base.scss
  src/components/dropdown/themes/light/dropdown-header.fluent.scss
  src/components/dropdown/themes/light/dropdown-item.base.scss
  src/components/dropdown/themes/light/dropdown-item.fluent.scss
  src/components/dropdown/themes/light/dropdown.base.scss
  src/components/dropdown/themes/light/dropdown.fluent.scss
  src/components/expansion-panel/themes/light/expansion-panel.base.scss
  src/components/icon/icon.material.scss
  src/components/input/themes/light/input.base.scss
  src/components/input/themes/light/input.bootstrap.scss
  src/components/input/themes/light/input.fluent.scss
  src/components/list/themes/light/list-header.base.scss
  src/components/list/themes/light/list-item.base.scss
  src/components/list/themes/light/list.base.scss
  src/components/rating/rating-symbol.base.scss
  src/components/rating/rating.base.scss
  src/components/select/themes/light/select.fluent.scss
  src/components/tree/themes/light/tree-item.base.scss
  src/components/tree/themes/light/tree.base.scss
  src/styles/common/component.scss
  src/styles/themes/base/_bootstrap.scss
  src/styles/themes/base/_fluent.scss
  src/styles/themes/base/_indigo.scss
  src/styles/themes/base/_material.scss
Labels: status: awaiting-test, avatar
