Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2022-04, with the labels that each got.

#306 theme(fluent): update fluent palette primary and secondary colors
  src/styles/themes/dark/bootstrap.scss
  src/styles/themes/dark/fluent.scss
  src/styles/themes/dark/indigo.scss
  src/styles/themes/light/bootstrap.scss
  src/styles/themes/light/fluent.scss
  src/styles/themes/light/indigo.scss
  src/styles/utilities/_functions.scss
Labels: status: verified, themes, fluent-theme

#320 fix(button): height discrepancy
  src/components/button/themes/button/light/button.indigo.scss
Labels: status: verified, button

#318 Add navdrawer backdrop and fix shadow on closed issue
  src/components/nav-drawer/nav-drawer.spec.ts
  src/components/nav-drawer/nav-drawer.ts
  src/components/nav-drawer/styles/nav-drawer.base.scss
Labels: bug, status: verified, feature-request, squash-merge, nav-drawer

#317 feat(navdrawer): add pinned navdrawer position
  src/components/nav-drawer/nav-drawer.ts
  src/components/nav-drawer/styles/nav-drawer.base.scss
  stories/nav-drawer.stories.ts
Labels: status: verified, feature-request, squash-merge, nav-drawer

#321 fix(button): icon button size discrepancy
  src/components/button/themes/icon-button/light/icon-button.base.scss
  src/components/button/themes/icon-button/light/icon-button.bootstrap.scss
  src/components/button/themes/icon-button/light/icon-button.fluent.scss
  src/components/button/themes/icon-button/light/icon-button.indigo.scss
Labels: status: verified, themes, icon-button

#324 refactor(input): placeholder floated styles
  src/components/input/input-base.ts
  src/components/input/input.ts
  src/components/input/themes/light/input.material.scss
Labels: status: verified, input, refactoring

#323 refactor: Renamed dropdown types/classes
  CHANGELOG.md
  src/components/common/definitions/defineAllComponents.ts
  src/components/dropdown/dropdown-group.ts
  src/components/dropdown/dropdown-header.ts
  src/components/dropdown/dropdown-item.ts
  src/components/dropdown/dropdown.spec.ts
  src/components/dropdown/dropdown.ts
  src/index.ts
  stories/dropdown.stories.ts
Labels: status: awaiting-test, squash-merge, refactoring

#329 fix(chip): Load internal icons
  src/components/chip/chip.ts
  src/components/icon/icon.registry.ts
  stories/chip.stories.ts
Labels: status: verified, squash-merge, chip

#335 fix(chip): selected chip is misaligned
  src/components/chip/themes/chip.base.scss
Labels: status: verified, chip

#337 build: Fully qualified ESM paths
  src/components/avatar/avatar.ts
  src/components/badge/badge.ts
  src/components/button/button-base.ts
  src/components/button/button.ts
  src/components/button/icon-button.ts
  src/components/calendar/calendar.ts
  src/components/calendar/common/calendar-base.ts
  src/components/calendar/common/utils.ts
  src/components/calendar/days-view/days-view.ts
  src/components/calendar/months-view/months-view.ts
  src/components/calendar/years-view/years-view.ts
  src/components/card/card.actions.ts
  src/components/card/card.content.ts
  src/components/card/card.header.ts
  src/components/card/card.media.ts
  src/components/card/card.ts
  src/components/checkbox/checkbox-base.ts
  src/components/checkbox/checkbox.ts
  src/components/checkbox/switch.ts
  src/components/chip/chip.ts
  src/components/common/definitions/defineAllComponents.ts
  src/components/dropdown/dropdown-group.ts
  src/components/dropdown/dropdown-header.ts
  src/components/dropdown/dropdown-item.ts
  src/components/dropdown/dropdown.ts
  src/components/form/form.ts
  src/components/icon/icon.ts
  src/components/input/input-base.ts
  src/components/input/input.ts
  src/components/list/list-header.ts
  src/components/list/list-item.ts
  src/components/list/list.ts
  src/components/nav-drawer/nav-drawer-header-item.ts
  src/components/nav-drawer/nav-drawer-item.ts
  src/components/nav-drawer/nav-drawer.ts
  src/components/navbar/navbar.ts
  src/components/progress/base.ts
  src/components/progress/circular-progress.ts
  src/components/progress/linear-progress.ts
  src/components/radio-group/radio-group.ts
  src/components/radio/radio.ts
  src/components/rating/rating.ts
  src/components/ripple/ripple.ts
  src/components/slider/range-slider.ts
  src/components/slider/slider-base.ts
  src/components/slider/slider.ts
  src/components/snackbar/snackbar.ts
  src/components/toast/toast.ts
  src/components/toggle/test.component.spec.ts
  src/components/toggle/toggle.controller.ts
  src/components/toggle/toggle.directive.ts
  src/components/toggle/toggle.spec.ts
  src/components/toggle/types.ts
  src/index.ts
  src/theming/config.ts
  src/theming/index.ts
  src/theming/theming-controller.ts
  src/theming/theming-decorator.ts
  src/theming/theming-event.ts
Labels: squash-merge

#340 feat(rating): add new 'selected' part to fix the selected state styling.
  src/components/rating/rating.base.scss
  src/components/rating/rating.fluent.scss
  src/components/rating/rating.ts
Labels: status: verified, squash-merge, rating

#249 feat: Mask input
  CHANGELOG.md
  src/components/avatar/avatar.spec.ts
  src/components/common/definitions/defineAllComponents.ts
  src/components/form/form.spec.ts
  src/components/form/form.ts
  src/components/mask-input/mask-input.spec.ts
  src/components/mask-input/mask-input.ts
  src/components/mask-input/mask-parser.spec.ts
  src/components/mask-input/mask-parser.ts
  src/index.ts
  stories/form.stories.ts
  stories/mask-input.stories.ts
Labels: status: verified, squash-merge, input

#342 build(deps): update typedoc plugin versions
  package-lock.json
  package.json
  tsconfig.json
Labels: documentation, status: verified
