Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2022-02, with the labels that each got.

#231 fix(slider): bootstrap height
  src/components/slider/slider.bootstrap.scss
Labels: bug, status: verified, slider, bootstrap-theme

#230 feat(slider): replace labelFormatter
  scripts/build-stories.js
  src/components/common/definitions/defineAllComponents.ts
  src/components/slider/range-slider.ts
  src/components/slider/slider-base.ts
  src/components/slider/slider-label.ts
  src/components/slider/slider.material.scss
  src/components/slider/slider.spec.ts
  src/components/slider/slider.ts
  src/index.ts
  stories/range-slider.stories.ts
  stories/slider.stories.ts
Labels: status: verified, slider

#239 refactor(card): component themes
  src/components/card/card.actions.bootstrap.scss
  src/components/card/card.actions.ts
  src/components/card/card.bootstrap.scss
  src/components/card/card.content.bootstrap.scss
  src/components/card/card.content.indigo.scss
  src/components/card/card.content.ts
  src/components/card/card.fluent.scss
  src/components/card/card.header.bootstrap.scss
  src/components/card/card.header.indigo.scss
  src/components/card/card.header.ts
  src/components/card/card.indigo.scss
  src/components/card/card.media.ts
  src/components/card/card.ts
  src/components/card/themes/light/card.actions.bootstrap.scss
  src/components/card/themes/light/card.actions.material.scss
  src/components/card/themes/light/card.bootstrap.scss
  src/components/card/themes/light/card.content.bootstrap.scss
  src/components/card/themes/light/card.content.indigo.scss
  src/components/card/themes/light/card.content.material.scss
  src/components/card/themes/light/card.fluent.scss
  src/components/card/themes/light/card.header.bootstrap.scss
  src/components/card/themes/light/card.header.indigo.scss
  src/components/card/themes/light/card.header.material.scss
  src/components/card/themes/light/card.material.scss
  src/components/card/themes/light/card.media.material.scss
  src/styles/themes/dark/bootstrap.scss
  src/styles/themes/dark/fluent.scss
  src/styles/themes/dark/indigo.scss
  src/styles/themes/light/bootstrap.scss
  src/styles/themes/light/fluent.scss
  src/styles/themes/light/indigo.scss
Labels: status: awaiting-test, themes, card

#235 refactor(slider): component themes
  src/components/slider/slider-base.ts
  src/components/slider/slider.bootstrap.scss
  src/components/slider/slider.fluent.scss
  src/components/slider/slider.indigo.scss
  src/components/slider/themes/dark/slider.bootstrap.scss
  src/components/slider/themes/dark/slider.fluent.scss
  src/components/slider/themes/dark/slider.indigo.scss
  src/components/slider/themes/light/slider.base.scss
  src/components/slider/themes/light/slider.bootstrap.scss
  src/components/slider/themes/light/slider.fluent.scss
  src/components/slider/themes/light/slider.indigo.scss
  src/components/slider/themes/light/slider.material.scss
  src/styles/themes/dark/bootstrap.scss
  src/styles/themes/dark/fluent.scss
  src/styles/themes/dark/indigo.scss
  src/styles/themes/light/bootstrap.scss
  src/styles/themes/light/fluent.scss
  src/styles/themes/light/indigo.scss
Labels: status: awaiting-test, themes, slider

#236 refactor(swicth & checkbox): component themes
  src/components/checkbox/checkbox.bootstrap.scss
  src/components/checkbox/checkbox.fluent.scss
  src/components/checkbox/checkbox.indigo.scss
  src/components/checkbox/checkbox.ts
  src/components/checkbox/switch.bootstrap.scss
  src/components/checkbox/switch.fluent.scss
  src/components/checkbox/switch.indigo.scss
  src/components/checkbox/switch.ts
  src/components/checkbox/themes/dark/checkbox.fluent.scss
  src/components/checkbox/themes/dark/checkbox.indigo.scss
  src/components/checkbox/themes/dark/switch.fluent.scss
  src/components/checkbox/themes/dark/switch.indigo.scss
  src/components/checkbox/themes/light/checkbox.base.scss
  src/components/checkbox/themes/light/checkbox.bootstrap.scss
  src/components/checkbox/themes/light/checkbox.fluent.scss
  src/components/checkbox/themes/light/checkbox.indigo.scss
  src/components/checkbox/themes/light/checkbox.material.scss
  src/components/checkbox/themes/light/switch.base.scss
  src/components/checkbox/themes/light/switch.bootstrap.scss
  src/components/checkbox/themes/light/switch.fluent.scss
  src/components/checkbox/themes/light/switch.indigo.scss
  src/components/checkbox/themes/light/switch.material.scss
  src/styles/themes/dark/bootstrap.scss
  src/styles/themes/dark/fluent.scss
  src/styles/themes/dark/indigo.scss
  src/styles/themes/light/bootstrap.scss
  src/styles/themes/light/fluent.scss
  src/styles/themes/light/indigo.scss
Labels: status: awaiting-test, themes, switch, checkbox

#241 Refactor navdrawer & calendar themes
  src/components/calendar/calendar.bootstrap.scss
  src/components/calendar/calendar.fluent.scss
  src/components/calendar/calendar.ts
  src/components/calendar/days-view/days-view.ts
  src/components/calendar/months-view/months-view.ts
  src/components/calendar/themes/bootstrap/calendar.bootstrap.scss
  src/components/calendar/themes/fluent/calendar.fluent.scss
  src/components/calendar/themes/material/calendar.material.scss
  src/components/calendar/themes/material/days-view.material.scss
  src/components/calendar/themes/material/months-view.material.scss
  src/components/calendar/themes/material/years-view.material.scss
  src/components/calendar/themes/shared-calendar.scss
  src/components/calendar/themes/year-month.scss
  src/components/calendar/years-view/years-view.ts
  src/components/nav-drawer/nav-drawer-header-item.indigo.scss
  src/components/nav-drawer/nav-drawer-header-item.ts
  src/components/nav-drawer/nav-drawer-item.indigo.scss
  src/components/nav-drawer/nav-drawer-item.ts
  src/components/nav-drawer/nav-drawer.indigo.scss
  src/components/nav-drawer/nav-drawer.ts
  src/components/nav-drawer/styles/bootstrap/nav-drawer-header-item.bootstrap.scss
  src/components/nav-drawer/styles/bootstrap/nav-drawer-item.bootstrap.scss
  src/components/nav-drawer/styles/bootstrap/nav-drawer.bootstrap.scss
  src/components/nav-drawer/styles/fluent/nav-drawer-header-item.fluent.scss
  src/components/nav-drawer/styles/fluent/nav-drawer-item.fluent.scss
  src/components/nav-drawer/styles/fluent/nav-drawer.fluent.scss
  src/components/nav-drawer/styles/indigo/nav-drawer-header-item.indigo.scss
  src/components/nav-drawer/styles/indigo/nav-drawer-item.indigo.scss
  src/components/nav-drawer/styles/indigo/nav-drawer.indigo.scss
  src/components/nav-drawer/styles/material/nav-drawer-header-item.material.scss
  src/components/nav-drawer/styles/material/nav-drawer-item.material.scss
  src/components/nav-drawer/styles/material/nav-drawer.material.scss
  src/components/nav-drawer/styles/nav-drawer-header-item.base.scss
  src/components/nav-drawer/styles/nav-drawer-item.base.scss
  src/components/nav-drawer/styles/nav-drawer.base.scss
  src/styles/themes/dark/bootstrap.scss
  src/styles/themes/dark/fluent.scss
  src/styles/themes/dark/indigo.scss
  src/styles/themes/light/bootstrap.scss
  src/styles/themes/light/fluent.scss
  src/styles/themes/light/indigo.scss
Labels: status: awaiting-test, themes, calendar, nav-drawer, refactoring

#233 didimmova/refactor themes
  src/components/badge/badge.bootstrap.scss
  src/components/badge/badge.ts
  src/components/badge/themes/light/badge.base.scss
  src/components/badge/themes/light/badge.bootstrap.scss
  src/components/badge/themes/light/badge.material.scss
  src/components/button/button.bootstrap.scss
  src/components/button/button.fluent.scss
  src/components/button/button.indigo.scss
  src/components/button/button.ts
  src/components/button/icon-button.bootstrap.scss
  src/components/button/icon-button.fluent.scss
  src/components/button/icon-button.indigo.scss
  src/components/button/icon-button.material.scss
  src/components/button/icon-button.ts
  src/components/button/themes/button/dark/button.fluent.scss
  src/components/button/themes/button/light/button.base.scss
  src/components/button/themes/button/light/button.bootstrap.scss
  src/components/button/themes/button/light/button.fluent.scss
  src/components/button/themes/button/light/button.indigo.scss
  src/components/button/themes/button/light/button.material.scss
  src/components/button/themes/icon-button/dark/icon-button.fluent.scss
  src/components/button/themes/icon-button/light/icon-button.base.scss
  src/components/button/themes/icon-button/light/icon-button.bootstrap.scss
  src/components/button/themes/icon-button/light/icon-button.fluent.scss
  src/components/button/themes/icon-button/light/icon-button.indigo.scss
  src/components/button/themes/icon-button/light/icon-button.material.scss
  src/components/list/list-header.ts
  src/components/list/list-item.ts
  src/components/list/list.bootstrap.scss
  src/components/list/list.fluent.scss
  src/components/list/list.indigo.scss
  src/components/list/list.ts
  src/components/list/themes/dark/list.bootstrap.scss
  src/components/list/themes/dark/list.fluent.scss
  src/components/list/themes/dark/list.indigo.scss
  src/components/list/themes/light/list-header.material.scss
  src/components/list/themes/light/list-item.material.scss
  src/components/list/themes/light/list.base.scss
  src/components/list/themes/light/list.bootstrap.scss
  src/components/list/themes/light/list.fluent.scss
  src/components/list/themes/light/list.indigo.scss
  src/components/list/themes/light/list.material.scss
  src/components/radio/radio.bootstrap.scss
  src/components/radio/radio.fluent.scss
  src/components/radio/radio.indigo.scss
  src/components/radio/radio.ts
  src/components/radio/themes/dark/radio.fluent.scss
  src/components/radio/themes/dark/radio.indigo.scss
  src/components/radio/themes/light/radio.base.scss
  src/components/radio/themes/light/radio.bootstrap.scss
  src/components/radio/themes/light/radio.fluent.scss
  src/components/radio/themes/light/radio.indigo.scss
  src/components/radio/themes/light/radio.material.scss
  src/styles/themes/dark/bootstrap.scss
  src/styles/themes/dark/fluent.scss
  src/styles/themes/dark/indigo.scss
  src/styles/themes/light/bootstrap.scss
  src/styles/themes/light/fluent.scss
  src/styles/themes/light/indigo.scss
  stories/radio.stories.ts
Labels: status: awaiting-test, themes, badge, list, icon-button

#251 refactor(navbar): component themes
  src/components/navbar/navbar.bootstrap.scss
  src/components/navbar/navbar.fluent.scss
  src/components/navbar/navbar.indigo.scss
  src/components/navbar/navbar.ts
  src/components/navbar/themes/light/navbar.bootstrap.scss
  src/components/navbar/themes/light/navbar.indigo.scss
  src/components/navbar/themes/light/navbar.material.scss
  src/styles/themes/dark/bootstrap.scss
  src/styles/themes/dark/indigo.scss
  src/styles/themes/light/bootstrap.scss
  src/styles/themes/light/fluent.scss
  src/styles/themes/light/indigo.scss
Labels: status: awaiting-test, themes, navbar

#256 fix(input): Wait for update before validating
  src/components/input/input.spec.ts
  src/components/input/input.ts
Labels: status: verified, input
