Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2022-07, with the labels that each got.

#424 fix(snackbar): differences between Ignite UI for Angular and WC
  src/components/snackbar/snackbar.ts
  src/components/snackbar/themes/dark/snackbar.indigo.scss
  src/components/snackbar/themes/light/snackbar.base.scss
  src/components/snackbar/themes/light/snackbar.bootstrap.scss
  src/components/snackbar/themes/light/snackbar.fluent.scss
  src/components/snackbar/themes/light/snackbar.indigo.scss
  src/components/snackbar/themes/snackbar.base.scss
  src/components/snackbar/themes/snackbar.fluent.scss
  src/components/snackbar/themes/snackbar.indigo.scss
  src/styles/themes/dark/indigo.scss
Labels: status: awaiting-test, themes, squash-merge, snackbar, design: awaiting-validation

#314 Add DateTime Input component
  src/components/common/definitions/defineAllComponents.ts
  src/components/common/mixins/constructor.ts
  src/components/common/mixins/event-emitter.ts
  src/components/date-time-input/date-time-input.spec.ts
  src/components/date-time-input/date-time-input.ts
  src/components/date-time-input/date-util.spec.ts
  src/components/date-time-input/date-util.ts
  src/components/form/form.spec.ts
  src/components/form/form.ts
  src/components/input/input-base.ts
  src/components/input/input.ts
  src/components/mask-input/mask-input-base.ts
  src/components/mask-input/mask-input.ts
  src/index.ts
  stories/date-time-input.stories.ts
  stories/form.stories.ts
  stories/mask-input.stories.ts
Labels: status: verified, squash-merge, input

#428 Rating: Add support for single selection and empty symbols
  src/components/common/types.ts
  src/components/icon/icon.registry.ts
  src/components/input/input-base.ts
  src/components/rating/rating-symbol.base.scss
  src/components/rating/rating-symbol.ts
  src/components/rating/rating.base.scss
  src/components/rating/rating.bootstrap.scss
  src/components/rating/rating.fluent.scss
  src/components/rating/rating.indigo.scss
  src/components/rating/rating.spec.ts
  src/components/rating/rating.ts
  src/components/tree/tree.ts
  stories/rating.stories.ts
Labels: status: verified, squash-merge, rating

#418 Add Accordion component
  src/components/accordion/accordion.spec.ts
  src/components/accordion/accordion.ts
  src/components/accordion/themes/accordion.base.scss
  src/components/common/definitions/defineAllComponents.ts
  src/components/expansion-panel/themes/light/expansion-panel.base.scss
  src/index.ts
  stories/accordion.stories.ts
Labels: status: verified, squash-merge, accordion

#439 fix(rating): step and line-height
  src/components/rating/rating-symbol.base.scss
  src/components/rating/rating.ts
Labels: rating

#441 fix(rating): emoji rendering
  src/components/rating/rating-symbol.base.scss
Labels: status: verified, rating

#434 fix(dropdown): Various dropdown fixes
  scripts/build-stories.js
  src/components/dropdown/dropdown-group.ts
  src/components/dropdown/dropdown.spec.ts
  src/components/dropdown/dropdown.ts
  src/components/toggle/toggle.controller.ts
  src/components/toggle/toggle.directive.ts
Labels: status: verified, squash-merge, drop-down

#435 change(tabs): Made scroll buttons visual-only elements
  src/components/tabs/tabs.ts
Labels: a11y, tab

#426 refactor: Component dependencies registration
  .github/workflows/node.js.yml
  package-lock.json
  package.json
  scripts/_package.json
  src/components/accordion/accordion.ts
  src/components/button/icon-button.ts
  src/components/calendar/calendar.ts
  src/components/calendar/days-view/days-view.ts
  src/components/calendar/months-view/months-view.ts
  src/components/calendar/years-view/years-view.ts
  src/components/card/card.spec.ts
  src/components/card/card.ts
  src/components/chip/chip.ts
  src/components/dropdown/dropdown.ts
  src/components/expansion-panel/expansion-panel.ts
  src/components/icon/icon.ts
  src/components/list/list.ts
  src/components/nav-drawer/nav-drawer.spec.ts
  src/components/nav-drawer/nav-drawer.ts
  src/components/progress/circular-progress.spec.ts
  src/components/progress/circular-progress.ts
  src/components/rating/rating-symbol.ts
  src/components/rating/rating.spec.ts
  src/components/rating/rating.ts
  src/components/slider/slider-base.ts
  src/components/slider/slider.spec.ts
  src/components/snackbar/snackbar.spec.ts
  src/components/snackbar/snackbar.ts
  src/components/tabs/tabs.ts
  src/components/tree/tree-item.ts
  src/components/tree/tree.spec.ts
  src/components/tree/tree.ts
  src/index.ts
Labels: status: verified, squash-merge, refactoring

#444 build(deps): bump floating-ui to 1.0.0
  package-lock.json
  package.json
  scripts/_package.json
  src/components/toggle/toggle.directive.ts
Labels: dependencies

#442 fix(tabs): icon & text misalignment
  src/components/tabs/themes/light/tab.base.scss
Labels: status: verified, themes, tab

#438 refactor: Unified autoincrement handling in components
  src/components/checkbox/checkbox.spec.ts
  src/components/checkbox/checkbox.ts
  src/components/checkbox/switch.spec.ts
  src/components/checkbox/switch.ts
  src/components/common/util.ts
  src/components/expansion-panel/expansion-panel.ts
  src/components/input/input-base.ts
  src/components/radio/radio.spec.ts
  src/components/radio/radio.ts
  src/components/tabs/tab-panel.ts
  src/components/tabs/tab.ts
Labels: squash-merge, refactoring

#445 Blazor 3.3.0 corrections
  src/components/calendar/common/calendar.model.ts
  src/components/common/decorators/blazorAdditionalDependencies.ts
  src/components/common/decorators/index.ts
  src/components/common/i18n/calendar.resources.ts
  src/components/dropdown/dropdown.ts
  src/components/slider/range-slider.ts
  src/components/tabs/tabs.ts
  src/components/toggle/test.component.spec.ts
  src/components/tree/tree-item.ts
  src/components/tree/tree.common.ts
  src/components/tree/tree.ts
Labels: squash-merge

#447 Date Time Input - emit igcInput/igcChange correctly
  src/components/date-time-input/date-time-input.spec.ts
  src/components/date-time-input/date-time-input.ts
  stories/date-time-input.stories.ts
Labels: status: verified, squash-merge

#194 chore(build): adding storybook-deployer
  .github/workflows/gh-pages-deploy.yml
  package-lock.json
  package.json
  src/components/rating/rating.base.scss
Labels: :book: storybook

#448 feat(slider): update slider steps
  src/components/slider/slider-base.ts
  src/components/slider/slider.spec.ts
  src/components/slider/themes/light/slider.base.scss
  src/components/slider/themes/light/slider.bootstrap.scss
  src/components/slider/themes/light/slider.fluent.scss
  src/components/slider/themes/light/slider.indigo.scss
  src/components/slider/themes/light/slider.material.scss
Labels: status: verified, squash-merge, slider

#451 build: Setup storybook-deployer pipeline
  .github/workflows/gh-pages-deploy.yml
  package.json
Labels: :book: storybook

#455 refactor(themes): update components themes from accordion to dropdown
  src/components/badge/themes/light/badge.base.scss
  src/components/badge/themes/light/badge.bootstrap.scss
  src/components/button/themes/button/light/button.bootstrap.scss
  src/components/button/themes/button/light/button.fluent.scss
  src/components/button/themes/button/light/button.indigo.scss
  src/components/button/themes/button/light/button.material.scss
  src/components/calendar/themes/calendar.base.scss
  src/components/calendar/themes/days-view.base.scss
  src/components/card/themes/light/card.bootstrap.scss
  src/components/card/themes/light/card.material.scss
  src/components/checkbox/themes/light/checkbox.base.scss
  src/components/chip/themes/chip.base.scss
  src/components/dropdown/themes/light/dropdown.base.scss
  src/components/dropdown/themes/light/dropdown.fluent.scss
  src/components/dropdown/themes/light/dropdown.indigo.scss
Labels: themes, refactoring

#460 Mpopov/remove tree height
  src/components/tree/themes/light/tree.base.scss
  stories/tree.stories.ts
Labels: tree
