Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2022-06, with the labels that each got.

#405 build(deps): Bump dependencies
  package-lock.json
  package.json
Labels: dependencies

#407 fix(button): streching in flex container
  src/components/button/themes/button/light/button.base.scss
Labels: status: verified, themes, button

#402 fix(badge): wrong bootstrap badge color
  src/components/badge/themes/light/badge.bootstrap.scss
Labels: status: verified, badge, bootstrap-theme

#392 fix(themes): add missing typography styles
  src/components/calendar/themes/bootstrap/calendar.bootstrap.scss
  src/components/card/card.header.ts
  src/components/card/themes/light/card.header.bootstrap.scss
  src/components/card/themes/light/card.header.fluent.scss
  src/components/checkbox/themes/light/checkbox.bootstrap.scss
  src/components/checkbox/themes/light/checkbox.fluent.scss
  src/components/checkbox/themes/light/checkbox.indigo.scss
  src/components/checkbox/themes/light/checkbox.material.scss
  src/components/checkbox/themes/light/switch.base.scss
  src/components/checkbox/themes/light/switch.fluent.scss
  src/components/chip/themes/chip.base.scss
  src/components/chip/themes/chip.fluent.scss
  src/components/input/themes/light/input.bootstrap.scss
  src/components/list/themes/light/list-item.bootstrap.scss
  src/components/list/themes/light/list-item.fluent.scss
  src/components/list/themes/light/list-item.indigo.scss
  src/components/nav-drawer/nav-drawer-header-item.ts
  src/components/nav-drawer/nav-drawer-item.ts
  src/components/nav-drawer/styles/fluent/nav-drawer-header-item.fluent.scss
  src/components/nav-drawer/styles/fluent/nav-drawer-item.fluent.scss
  src/components/radio/themes/light/radio.base.scss
  src/components/radio/themes/light/radio.fluent.scss
  src/components/snackbar/themes/snackbar.base.scss
  src/components/snackbar/themes/snackbar.fluent.scss
  src/components/toast/themes/toast.base.scss
Labels: status: verified, typography

#409 fix(nav-drawer): different colors in WC and Angular
  src/components/nav-drawer/nav-drawer-header-item.ts
  src/components/nav-drawer/nav-drawer-item.ts
  src/components/nav-drawer/nav-drawer.ts
  src/components/nav-drawer/styles/fluent/nav-drawer-header-item.fluent.scss
  src/components/nav-drawer/styles/fluent/nav-drawer-item.fluent.scss
  src/components/nav-drawer/styles/indigo/nav-drawer-header-item.indigo.scss
  src/components/nav-drawer/styles/indigo/nav-drawer.indigo.scss
  src/components/nav-drawer/themes/dark/nav-drawer-item.base.scss
  src/components/nav-drawer/themes/dark/nav-drawer-item.bootstrap.scss
  src/components/nav-drawer/themes/dark/nav-drawer-item.fluent.scss
  src/components/nav-drawer/themes/dark/nav-drawer-item.indigo.scss
  src/components/nav-drawer/themes/dark/nav-drawer.indigo.scss
  src/components/nav-drawer/themes/light/fluent/nav-drawer-header-item.fluent.scss
  src/components/nav-drawer/themes/light/fluent/nav-drawer-item.fluent.scss
  src/components/nav-drawer/themes/light/indigo/nav-drawer-header-item.indigo.scss
  src/components/nav-drawer/themes/light/indigo/nav-drawer-item.indigo.scss
  src/components/nav-drawer/themes/light/indigo/nav-drawer.indigo.scss
  src/components/nav-drawer/themes/light/nav-drawer-header-item.base.scss
  src/components/nav-drawer/themes/light/nav-drawer-item.base.scss
  src/components/nav-drawer/themes/light/nav-drawer.base.scss
  src/styles/themes/dark/bootstrap.scss
  src/styles/themes/dark/fluent.scss
  src/styles/themes/dark/indigo.scss
  src/styles/themes/dark/material.scss
Labels: status: verified, themes, nav-drawer

#412 chore(*): roadmap-readme-update-22.1
  README.md
  ROADMAP.md
Labels: documentation

#410 Blazor corrections
  src/components/dropdown/dropdown-group.ts
  src/components/input/input.ts
  src/components/mask-input/mask-input.ts
  src/components/tree/tree-item.ts
  src/components/tree/tree.ts
Labels: input, tree, blazor, mask, drop-down

#417 build: Latest build dependencies
  package-lock.json
  package.json
Labels: dependencies
