Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2023-12, with the labels that each got.

#989 refactor(icon): Global registry instance
  CHANGELOG.md
  src/components/button/icon-button.ts
  src/components/expansion-panel/expansion-panel.spec.ts
  src/components/icon/icon.registry.ts
  src/components/icon/icon.spec.ts
  src/components/icon/icon.ts
  src/components/icon/internal-icons-lib.ts
Labels: squash-merge, icon, icon-button

#997 refactor(icon-button): consume colors from schema properly
  package-lock.json
  package.json
  src/components/button/themes/button/dark/_themes.scss
  src/components/button/themes/button/light/_themes.scss
  src/components/button/themes/icon-button/shared/icon-button.bootstrap.scss
  src/components/button/themes/icon-button/shared/icon-button.common.scss
  src/components/button/themes/icon-button/shared/icon-button.fluent.scss
  src/components/button/themes/icon-button/shared/icon-button.indigo.scss
  src/components/button/themes/icon-button/shared/icon-button.material.scss
  src/components/button/themes/icon-button/themes.ts
Labels: status: verified, icon-button, refactoring

#993 fix(calendar): Keep focus state when switching views
  CHANGELOG.md
  src/components/calendar/calendar-keyboard-navigation.spec.ts
  src/components/calendar/calendar.ts
Labels: a11y, status: verified, calendar

#983 feat: Refactor toggle directive into popover component
  .storybook/manager.ts
  .storybook/preview.ts
  src/components/common/controllers/key-bindings.ts
  src/components/common/controllers/root-click.ts
  src/components/common/controllers/root-scroll.ts
  src/components/common/mixins/combo-box.ts
  src/components/common/mixins/option.ts
  src/components/common/util.ts
  src/components/common/utils.spec.ts
  src/components/dropdown/dropdown-group.ts
  src/components/dropdown/dropdown-header.ts
  src/components/dropdown/dropdown-item.ts
  src/components/dropdown/dropdown.spec.ts
  src/components/dropdown/dropdown.ts
  src/components/input/input.ts
  src/components/popover/popover.spec.ts
  src/components/popover/popover.ts
  src/components/popover/themes/light/popover.base.scss
  src/components/select/select-group.ts
  src/components/select/select-header.ts
  src/components/select/select-item.ts
  src/components/select/select.spec.ts
  src/components/select/select.ts
  src/components/toggle/types.ts
  stories/dropdown.stories.ts
  stories/select.stories.ts
Labels: enhancement, status: verified, squash-merge, refactoring, drop-down, select

#999 docs: Updated CHANGELOG
  CHANGELOG.md
Labels: documentation

#1002 fix(dropdown): active items in fluent theme
  package-lock.json
  package.json
  src/components/dropdown/themes/shared/item/dropdown-item.fluent.scss
Labels: status: verified, fluent-theme, drop-down
