Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2023-01, with the labels that each got.

#597 build: Bumped dependencies
  package-lock.json
  package.json
  scripts/_package.json
Labels: dependencies

#600 fix(card): color discrepancy between WC and Angular
  src/components/card/themes/light/card.content.bootstrap.scss
  src/components/card/themes/light/card.content.indigo.scss
  src/components/card/themes/light/card.content.material.scss
  src/components/card/themes/light/card.header.bootstrap.scss
  src/components/card/themes/light/card.header.indigo.scss
  src/components/card/themes/light/card.header.material.scss
Labels: status: verified, themes, card

#607 fix(input): Do not cache the underlying input
  src/components/input/input-base.ts
Labels: status: verified, input

#609 build: Bumped dependencies
  package-lock.json
  package.json
  scripts/_package.json
Labels: dependencies

#608 fix: Dangling references after element disconnect
  src/components/checkbox/checkbox-base.ts
  src/components/radio/radio.ts
  src/components/select/select-group.ts
  src/components/slider/slider-base.ts
Labels: status: verified

#612 feat(animations): add a basic animation player
  src/animations/easings.ts
  src/animations/index.ts
  src/animations/player.spec.ts
  src/animations/player.ts
  src/animations/presets/grow/index.ts
  src/animations/presets/index.ts
  src/animations/types.ts
  src/components/accordion/accordion.ts
  src/components/accordion/themes/accordion.base.scss
  src/components/expansion-panel/expansion-panel.spec.ts
  src/components/expansion-panel/expansion-panel.ts
  src/components/expansion-panel/themes/light/expansion-panel.base.scss
  stories/accordion.stories.ts
  stories/expansion-panel.stories.ts
Labels: status: verified, expansion-panel, animations

#629 fix(nav-drawer): remove !important from item styles
  src/components/nav-drawer/themes/light/fluent/nav-drawer-item.fluent.scss
  src/components/nav-drawer/themes/light/indigo/nav-drawer-item.indigo.scss
  src/components/nav-drawer/themes/light/nav-drawer-item.base.scss
  src/components/slider/slider.spec.ts
Labels: status: verified, themes, nav-drawer

#622 feat(combo): add single-selection option
  src/components/combo/combo-item.ts
  src/components/combo/combo.spec.ts
  src/components/combo/combo.ts
  src/components/combo/controllers/navigation.ts
  src/components/combo/controllers/selection.ts
  src/components/combo/themes/light/combo.base.scss
  src/components/combo/types.ts
  stories/combo.stories.ts
Labels: status: verified, feature, combo

#637 storybook(preview): change the story background based on theme variant
  .storybook/preview.js
Labels: :book: storybook

#632 fix(badge): icons are not rendered properly
  src/components/badge/themes/light/badge.base.scss
  src/components/badge/themes/light/badge.bootstrap.scss
  stories/badge.stories.ts
Labels: status: verified, themes, badge

#634 refactor(theme): normalize input themes
  src/components/combo/themes/light/combo.base.scss
  src/components/combo/themes/light/combo.bootstrap.scss
  src/components/combo/themes/light/combo.fluent.scss
  src/components/combo/themes/light/combo.indigo.scss
  src/components/combo/themes/light/combo.material.scss
  src/components/input/themes/dark/input.dark.bootstrap.scss
  src/components/input/themes/dark/input.dark.fluent.scss
  src/components/input/themes/dark/input.dark.indigo.scss
  src/components/input/themes/dark/input.dark.material.scss
  src/components/input/themes/light/input.bootstrap.scss
  src/components/input/themes/light/input.fluent.scss
  src/components/input/themes/light/input.indigo.scss
  src/components/input/themes/light/input.material.scss
  src/components/select/themes/light/select.base.scss
  src/components/select/themes/light/select.bootstrap.scss
  src/components/select/themes/light/select.fluent.scss
  src/components/select/themes/light/select.indigo.scss
  src/components/select/themes/light/select.material.scss
  stories/form.stories.ts
  stories/select.stories.ts
Labels: status: verified, input, design: verified, select, combo

#630 refactor(radio): design amendments in Fluent and Material themes
  src/components/radio-group/radio-group.base.scss
  src/components/radio-group/radio-group.fluent.scss
  src/components/radio-group/radio-group.material.scss
  src/components/radio-group/radio-group.ts
  src/components/radio/themes/dark/radio.fluent.scss
  src/components/radio/themes/dark/radio.material.scss
  src/components/radio/themes/light/radio.base.scss
  src/components/radio/themes/light/radio.fluent.scss
  src/components/radio/themes/light/radio.material.scss
  src/styles/themes/dark/material.scss
Labels: status: verified, radio, radio-group, fluent-theme, material-theme, design: verified

#640 refactor(input): sizable padding for helper text and input
  src/components/combo/themes/light/combo.indigo.scss
  src/components/combo/themes/light/combo.material.scss
  src/components/input/themes/light/input.indigo.scss
  src/components/input/themes/light/input.material.scss
  src/components/select/themes/light/select.indigo.scss
  src/components/select/themes/light/select.material.scss
Labels: status: verified, themes, input, select, combo

#641 chore(changelog): update changelog for 4.2.0
  CHANGELOG.md
Labels: changelog
