Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2023-10, with the labels that each got.

#932 removed: Internal barrel files import paths
  .storybook/preview.ts
  src/animations/index.ts
  src/animations/presets/index.ts
  src/components/common/decorators/index.ts
  src/components/dialog/dialog.ts
  src/components/expansion-panel/expansion-panel.ts
  src/components/select/select.ts
  src/components/snackbar/snackbar.ts
  src/components/stepper/animations.ts
  src/components/stepper/step.ts
  src/components/toast/toast.ts
  src/components/toggle/test.component.spec.ts
  src/components/tree/tree-item.ts
  src/theming/index.ts
Labels: status: verified

#936 build: Updated dependencies
  package-lock.json
  package.json
  scripts/_package.json
Labels: dependencies

#937 fix(combo): value and selection lost on delayed data
  src/components/combo/combo.spec.ts
  src/components/combo/combo.ts
Labels: status: verified, combo

#939 storybook(preview): add titillium web font
  .storybook/preview-head.html
Labels: status: verified, themes, :book: storybook, material-theme, typography

#934 feat(toast, snackbar): add ability to set position
  src/components/snackbar/snackbar.spec.ts
  src/components/snackbar/snackbar.ts
  src/components/snackbar/themes/light/snackbar.base.scss
  src/components/toast/themes/light/toast.base.scss
  src/components/toast/themes/light/toast.bootstrap.scss
  src/components/toast/themes/light/toast.fluent.scss
  src/components/toast/themes/light/toast.indigo.scss
  src/components/toast/themes/light/toast.material.scss
  src/components/toast/toast.spec.ts
  src/components/toast/toast.ts
  stories/snackbar.stories.ts
  stories/toast.stories.ts
Labels: status: verified, themes, snackbar, toast

#773 feat: Added text area component
  CHANGELOG.md
  src/components/common/definitions/defineAllComponents.ts
  src/components/common/util.ts
  src/components/input/themes/dark/input.dark.bootstrap.scss
  src/components/input/themes/dark/input.dark.fluent.scss
  src/components/input/themes/dark/input.dark.indigo.scss
  src/components/input/themes/dark/input.dark.material.scss
  src/components/select/select-item.ts
  src/components/textarea/textarea.spec.ts
  src/components/textarea/textarea.ts
  src/components/textarea/themes/dark/textarea.bootstrap.scss
  src/components/textarea/themes/dark/textarea.fluent.scss
  src/components/textarea/themes/dark/textarea.indigo.scss
  src/components/textarea/themes/dark/textarea.material.scss
  src/components/textarea/themes/light/textarea.base.scss
  src/components/textarea/themes/light/textarea.bootstrap.scss
  src/components/textarea/themes/light/textarea.fluent.scss
  src/components/textarea/themes/light/textarea.indigo.scss
  src/components/textarea/themes/light/textarea.material.scss
  src/index.ts
  stories/textarea.stories.ts
Labels: status: verified, squash-merge, design: awaiting-validation, text area

#942 fix(textarea): Helper text slot update
  src/components/textarea/textarea.ts
Labels: text area

#959 build: Bump dependencies & automate changelog generation
  package-lock.json
  package.json
  scripts/gen-changelog.mjs
  src/components/dropdown/themes/light/dropdown.base.scss
  src/components/navbar/themes/light/navbar.bootstrap.scss
  src/components/navbar/themes/navbar.base.scss
  src/components/stepper/themes/step/light/step.base.scss
  src/components/tabs/themes/light/tab-panel.base.scss
  src/components/textarea/themes/light/textarea.base.scss
  src/components/textarea/themes/light/textarea.bootstrap.scss
Labels: dependencies

#949 fix(tree): fix disabled colors
  src/components/tree/themes/light/tree-item.base.scss
  src/components/tree/themes/light/tree-item.bootstrap.scss
  src/components/tree/themes/light/tree-item.fluent.scss
  src/components/tree/themes/light/tree-item.indigo.scss
  src/components/tree/themes/light/tree-item.material.scss
Labels: status: verified, tree, design: verified

#960 fix(snackbar): remove unnecessary styles
  src/components/snackbar/themes/snackbar.base.scss
Labels: status: verified, snackbar

#962 fix(tree): regression after merging the dark themes branch.
  src/components/tree/themes/light/tree-item.bootstrap.scss
  src/components/tree/themes/light/tree-item.fluent.scss
  src/components/tree/themes/light/tree-item.indigo.scss
  src/components/tree/themes/light/tree-item.material.scss
  src/components/tree/themes/shared/tree-item.bootstrap.scss
  src/components/tree/themes/shared/tree-item.fluent.scss
  src/components/tree/themes/shared/tree-item.indigo.scss
  src/components/tree/themes/shared/tree-item.material.scss
Labels: tree, design: verified
