Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2023-02, with the labels that each got.

#643 fix(combo): matched item not active in single selection mode
  src/components/combo/combo.ts
  stories/combo.stories.ts
Labels: combo

#644 refactor(combo): change matching logic
  src/components/combo/combo.ts
Labels: combo

#645 chore(changelog): update for version 4.2.1
  CHANGELOG.md
Labels: changelog

#646 fix(dialog): update fluent backdrop color
  src/components/dialog/themes/light/dialog.fluent.scss
Labels: fluent-theme, dialog

#648 build: Downgraded rimraf to v3
  package-lock.json
  package.json
Labels: status: resolved, dependencies

#654 fix(combo): selection API doesn't work with filtered data
  src/components/combo/combo.spec.ts
  src/components/combo/combo.ts
  src/components/combo/controllers/data.ts
  src/components/combo/controllers/selection.ts
  src/components/combo/types.ts
Labels: status: verified, combo

#656 build: Updated dependencies
  package-lock.json
  package.json
  scripts/_package.json
Labels: status: verified, dependencies

#660 refactor(calendar): update fluent design to match UI kit
  src/components/calendar/calendar.ts
  src/components/calendar/themes/calendar.base.scss
  src/components/calendar/themes/fluent/calendar.fluent.scss
  src/components/calendar/themes/fluent/dark/index.scss
  src/components/calendar/themes/fluent/days-view.fluent.scss
  src/components/calendar/themes/fluent/vars.scss
  src/components/calendar/themes/fluent/year-month-view.fluent.scss
  src/components/icon/icon.registry.ts
  src/styles/themes/dark/fluent.scss
Labels: status: awaiting-test, status: verified, calendar, fluent-theme, design: awaiting-validation

#665 deps(theming): update package
  package-lock.json
  package.json
Labels: themes, dependencies

#666 fix(input): update stories and styles for size attribute
  src/components/input/themes/light/input.material.scss
  stories/input.stories.ts
  stories/story.ts
Labels: status: verified, themes, input, :book: storybook

#667 deps(theming): update to latest package
  package-lock.json
  package.json
Labels: status: awaiting-test, igniteui-theming

#676 chore: Fixed Intl unit test & updated dependencies
  src/components/date-time-input/date-util.spec.ts
Labels: dependencies

#670 refactor(button): use gap in place of prefix/suffix padding
  CHANGELOG.md
  src/components/button/button.spec.ts
  src/components/button/button.ts
  src/components/button/themes/button/light/button.base.scss
Labels: status: verified, themes, button, refactoring

#678 fix(theme): fluent theme calendar range
  src/components/calendar/themes/fluent/days-view.fluent.scss
Labels: status: verified, calendar, fluent-theme

#673 fix host sizes for avatar, badge, button, icon-button.
  src/components/avatar/themes/avatar.base.scss
  src/components/badge/themes/light/badge.base.scss
  src/components/button/themes/button/light/button.base.scss
  src/components/button/themes/icon-button/light/icon-button.base.scss
Labels: status: verified, avatar, badge, button, icon-button

#674 fix(toast): update fluent typography
  src/components/toast/themes/toast.base.scss
  src/components/toast/themes/toast.fluent.scss
Labels: status: verified, toast, fluent-theme

#671 fix(input): visual issues on iOS
  src/components/input/themes/light/input.bootstrap.scss
Labels: status: verified, themes, input, bootstrap-theme
