Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2023-03, with the labels that each got.

#683 refactor(button) background to be on an element on which can easily be changed.
  src/components/button/themes/button/light/button.base.scss
  src/components/button/themes/button/light/button.bootstrap.scss
  src/components/button/themes/button/light/button.fluent.scss
  src/components/button/themes/button/light/button.indigo.scss
  src/components/button/themes/button/light/button.material.scss
Labels: status: verified, button, refactoring

#686 style(button) Override material-icons font-size.
  src/components/button/themes/button/light/button.base.scss
Labels: status: verified, button

#592 chore(*): roadmap-readme-update-15-dec-2022
  README.md
  ROADMAP.md
Labels: documentation

#689 fix(radio): fluent theme inconsistencies
  src/components/radio/themes/dark/radio.fluent.scss
  src/components/radio/themes/light/radio.fluent.scss
Labels: status: verified, radio, fluent-theme

#696 fix(icon-button): set icon size to always be 1.125rem/18px
  src/components/button/icon-button.ts
  src/components/button/themes/icon-button/light/icon-button.base.scss
Labels: status: verified, themes, icon-button

#702 Chip - Remove outline styls for material and fluent themes.
  src/components/chip/themes/chip.fluent.scss
  src/components/chip/themes/chip.material.scss
Labels: status: verified

#712 refactor(toggle): change middleware apply destructing assign
  src/components/toggle/toggle.directive.ts
Labels: status: verified, refactoring, select

#615 fix(calendar): navigate to the date set as value initially
  src/components/calendar/calendar-rendering.spec.ts
  src/components/calendar/common/calendar-base.ts
Labels: status: verified, calendar

#711 fix(tabs): make tabs and tab panels to take the full width of their parent
  src/components/tabs/themes/light/tab-panel.base.scss
  src/components/tabs/themes/light/tab.base.scss
  src/components/tabs/themes/light/tabs.base.scss
Labels: status: verified, tab
