Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2023-07, with the labels that each got.

#817 fix(combo): single selection doesn't work as expected
  src/components/combo/combo.spec.ts
  src/components/combo/combo.ts
  stories/combo.stories.ts
Labels: status: verified, combo

#815 refactor(icon): update theming and icon size
  package-lock.json
  package.json
  src/components/icon/icon.base.scss
Labels: status: verified, themes, icon

#825 feat(stories): Adding global color to all previews
  .storybook/preview.ts
Labels: status: awaiting-test, icon

#823 build: Updated dependencies
  package-lock.json
  package.json
  scripts/_package.json
  scripts/build-stories.js
  src/components/calendar/calendar.ts
  src/components/calendar/days-view/days-view.ts
  src/components/common/mixins/event-emitter.ts
  src/components/dropdown/dropdown.spec.ts
  src/components/mask-input/mask-parser.ts
  src/components/select/select.spec.ts
  src/components/select/select.ts
  src/components/tabs/tabs.spec.ts
  src/components/toggle/test.component.spec.ts
  stories/accordion.stories.ts
  stories/calendar.stories.ts
  stories/circular-progress.stories.ts
  stories/dropdown.stories.ts
  stories/input.stories.ts
  stories/linear-progress.stories.ts
  stories/range-slider.stories.ts
  stories/rating.stories.ts
  stories/select.stories.ts
  stories/slider.stories.ts
  stories/snackbar.stories.ts
  stories/toast.stories.ts
Labels: dependencies

#820 refactor(theming): Theming stack enhancements
  src/components/calendar/calendar.ts
  src/components/combo/combo.ts
  src/components/input/input-base.ts
  src/components/select/select.ts
  src/theming/theming-controller.ts
  src/theming/theming-decorator.ts
  src/theming/types.ts
Labels: themes, squash-merge, refactoring

#831 fix(input-group): floating label move inappropriately in read-only state
  src/components/input/themes/light/input.material.scss
Labels: status: verified, input, material-theme

#836 fix(input-group): Jumping label on focus
  src/components/input/themes/light/input.material.scss
Labels: status: verified, input

#837 fix(dropdown): header css import extension
  src/components/dropdown/dropdown-header.ts
Labels: drop-down

#840 fix(ripple): icon button roundness
  src/components/button/themes/icon-button/light/icon-button.bootstrap.scss
  src/components/button/themes/icon-button/light/icon-button.fluent.scss
  src/components/button/themes/icon-button/light/icon-button.indigo.scss
  src/components/button/themes/icon-button/light/icon-button.material.scss
  stories/icon-button.stories.ts
Labels: status: verified, ripple, icon-button

#842 fix(dropdown): fix active state styles
  src/components/dropdown/themes/light/item/dropdown-item.bootstrap.scss
  src/components/dropdown/themes/light/item/dropdown-item.fluent.scss
  src/components/dropdown/themes/light/item/dropdown-item.indigo.scss
  src/components/dropdown/themes/light/item/dropdown-item.material.scss
Labels: status: verified, design: verified, drop-down

#756 feat(tree): animate component
  src/components/tree/themes/light/tree-item.base.scss
  src/components/tree/tree-item.ts
  src/components/tree/tree-navigation.spec.ts
  src/components/tree/tree.spec.ts
  stories/tree.stories.ts
Labels: status: verified, squash-merge, tree, animations

#830 fix(tree-item): assign closest ancestor as parent
  src/components/tree/tree-item.ts
  src/components/tree/tree-utils.spec.ts
  src/components/tree/tree.spec.ts
Labels: status: verified, tree

#847 fix(icon-button): wrong color in fluent theme
  src/components/button/themes/icon-button/dark/icon-button.fluent.scss
  src/components/button/themes/icon-button/light/icon-button.fluent.scss
Labels: status: verified, icon-button, fluent-theme

#850 Fix dropdown in context of select and combo
  src/components/combo/combo-header.ts
  src/components/combo/combo-item.ts
  src/components/combo/themes/light/combo.bootstrap.scss
  src/components/combo/themes/light/combo.fluent.scss
  src/components/combo/themes/light/combo.indigo.scss
  src/components/combo/themes/light/combo.material.scss
  src/components/select/themes/light/select.bootstrap.scss
  src/components/select/themes/light/select.fluent.scss
  src/components/select/themes/light/select.indigo.scss
  src/components/select/themes/light/select.material.scss
Labels: status: verified, themes, drop-down, select, combo
