Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2023-09, with the labels that each got.

#898 build: Updated test setup to use playwright runner
  package-lock.json
  package.json
  web-test-runner.config.mjs
Labels: status: verified

#906 chore: Fixed storybook source code preview
  .storybook/preview.ts
Labels: :book: storybook

#900 fix(calendar): Rotate the month navigation arrows 180deg if the dir attr is set to rtl
  src/components/calendar/themes/calendar.base.scss
Labels: status: verified, calendar, RTL

#903 fix(combo): fix combo dropdown items position is safari
  src/components/combo/themes/light/combo.base.scss
Labels: status: verified, safari, combo, RTL

#911 fix(checkbox): indigo theme color fixes
  src/components/checkbox/themes/light/checkbox.indigo.scss
Labels: status: verified, checkbox, indigo-theme

#891 refactor(*): don't depend on value of size for styling
  .storybook/preview.ts
  CHANGELOG.md
  scripts/build-stories.js
  src/components/avatar/avatar.spec.ts
  src/components/avatar/avatar.ts
  src/components/avatar/themes/avatar.base.scss
  src/components/button/button.spec.ts
  src/components/button/button.ts
  src/components/button/icon-button.spec.ts
  src/components/button/themes/button/light/button.base.scss
  src/components/button/themes/icon-button/light/icon-button.base.scss
  src/components/calendar/calendar-rendering.spec.ts
  src/components/calendar/themes/bootstrap/calendar.bootstrap.scss
  src/components/calendar/themes/calendar.base.scss
  src/components/calendar/themes/fluent/calendar.fluent.scss
  src/components/calendar/themes/fluent/days-view.fluent.scss
  src/components/calendar/themes/indigo/calendar.indigo.scss
  src/components/calendar/themes/shared-calendar.scss
  src/components/chip/chip.spec.ts
  src/components/chip/themes/chip.base.scss
  src/components/common/mixins/sizable.ts
  src/components/dialog/dialog.spec.ts
  src/components/dropdown/dropdown-group.ts
  src/components/dropdown/dropdown.ts
  src/components/dropdown/themes/light/dropdown.base.scss
  src/components/expansion-panel/themes/light/expansion-panel.base.scss
  src/components/input/input-base.ts
  src/components/input/themes/light/input.base.scss
  src/components/list/themes/light/list-item.base.scss
  src/components/list/themes/light/list.base.scss
  src/components/nav-drawer/themes/light/item/nav-drawer-item.base.scss
  src/components/navbar/themes/navbar.base.scss
  src/components/rating/rating.base.scss
  src/components/tabs/themes/light/tab.base.scss
  src/components/tabs/themes/light/tabs.base.scss
  src/components/tree/themes/light/tree-item.base.scss
  src/components/tree/themes/light/tree.base.scss
  src/components/tree/tree-item.ts
  src/components/tree/tree.spec.ts
  stories/avatar.stories.ts
  stories/button.stories.ts
  stories/calendar.stories.ts
  stories/chip.stories.ts
  stories/date-time-input.stories.ts
  stories/dropdown.stories.ts
  stories/icon-button.stories.ts
  stories/icon.stories.ts
  stories/input.stories.ts
  stories/list.stories.ts
  stories/mask-input.stories.ts
  stories/radio-group.stories.ts
  stories/rating.stories.ts
  stories/select.stories.ts
  stories/tree.stories.ts
Labels: status: verified, themes

#915 feat(calendar): fix RTL in :host parent context
  src/components/calendar/themes/calendar.base.scss
Labels: status: verified, calendar

#917 refactor(bundle): export IgcComboChangeEventArgs
  src/index.ts
Labels: combo

#914 button group styles
  src/components/button-group/button-group.ts
  src/components/button-group/themes/dark/_themes.scss
  src/components/button-group/themes/dark/button-group-bootstrap.scss
  src/components/button-group/themes/dark/button-group-fluent.scss
  src/components/button-group/themes/dark/button-group-indigo.scss
  src/components/button-group/themes/dark/button-group-material.scss
  src/components/button-group/themes/dark/toggle-button/toggle-button-bootstrap.scss
  src/components/button-group/themes/dark/toggle-button/toggle-button-fluent.scss
  src/components/button-group/themes/dark/toggle-button/toggle-button-indigo.scss
  src/components/button-group/themes/dark/toggle-button/toggle-button-material.scss
  src/components/button-group/themes/light/_themes.scss
  src/components/button-group/themes/light/button-group.base.scss
  src/components/button-group/themes/light/button-group.bootstrap.scss
  src/components/button-group/themes/light/button-group.fluent.scss
  src/components/button-group/themes/light/button-group.indigo.scss
  src/components/button-group/themes/light/button-group.material.scss
  src/components/button-group/themes/light/toggle-button/toggle-button.base.scss
  src/components/button-group/themes/light/toggle-button/toggle-button.bootstrap.scss
  src/components/button-group/themes/light/toggle-button/toggle-button.fluent.scss
  src/components/button-group/themes/light/toggle-button/toggle-button.indigo.scss
  src/components/button-group/themes/light/toggle-button/toggle-button.material.scss
  src/components/button-group/toggle-button.ts
  src/styles/themes/dark/bootstrap.scss
  src/styles/themes/dark/fluent.scss
  src/styles/themes/dark/indigo.scss
  src/styles/themes/dark/material.scss
  stories/button-group.stories.ts
Labels: status: awaiting-test, themes, bootstrap-theme, fluent-theme, material-theme, indigo-theme, button-group

#921 refactor(*): update border-radius usage
  package-lock.json
  package.json
  src/components/avatar/themes/dark/_themes.scss
  src/components/avatar/themes/light/_themes.scss
  src/components/button/themes/button/dark/_themes.scss
  src/components/button/themes/button/light/_themes.scss
  src/components/calendar/themes/_dark-themes.scss
  src/components/calendar/themes/_light-themes.scss
  src/components/card/themes/light/_themes.scss
  src/components/checkbox/themes/dark/_checkbox-themes.scss
  src/components/checkbox/themes/dark/_switch-themes.scss
  src/components/checkbox/themes/light/_checkbox-themes.scss
  src/components/checkbox/themes/light/_switch-themes.scss
  src/components/checkbox/themes/light/checkbox.bootstrap.scss
  src/components/checkbox/themes/light/checkbox.indigo.scss
  src/components/checkbox/themes/light/checkbox.material.scss
  src/components/checkbox/themes/light/switch.material.scss
  src/components/chip/themes/_dark-themes.scss
  src/components/chip/themes/_light-themes.scss
  src/components/dialog/themes/light/_themes.scss
  src/components/dropdown/themes/dark/_themes.scss
  src/components/dropdown/themes/light/_themes.scss
  src/components/expansion-panel/themes/light/_themes.scss
  src/components/input/themes/dark/_themes.scss
  src/components/input/themes/light/_themes.scss
  src/components/list/themes/dark/_themes.scss
  src/components/list/themes/light/_themes.scss
  src/components/nav-drawer/themes/dark/_themes.scss
  src/components/nav-drawer/themes/light/_themes.scss
  src/components/progress/themes/_dark-themes.scss
  src/components/progress/themes/_light-themes.scss
  src/components/snackbar/themes/dark/_themes.scss
  src/components/snackbar/themes/light/_themes.scss
  src/components/stepper/themes/step/dark/_themes.scss
  src/components/stepper/themes/step/light/_themes.scss
  src/components/tabs/themes/dark/_themes.scss
  src/components/tabs/themes/light/_themes.scss
  src/components/toast/themes/_themes.scss
Labels: status: verified, themes

#922 refactor(navdrawer): add transitions
  .storybook/preview.ts
  src/components/nav-drawer/nav-drawer.spec.ts
  src/components/nav-drawer/nav-drawer.ts
  src/components/nav-drawer/themes/light/nav-drawer.base.scss
  src/components/nav-drawer/themes/light/nav-drawer.bootstrap.scss
  src/components/nav-drawer/themes/light/nav-drawer.fluent.scss
  src/components/nav-drawer/themes/light/nav-drawer.indigo.scss
  src/components/nav-drawer/themes/light/nav-drawer.material.scss
  src/styles/themes/base/_theme.scss
  src/styles/utilities/_functions.scss
  src/styles/utilities/_index.scss
  stories/nav-drawer.stories.ts
Labels: status: verified, themes, nav-drawer, animations

#888 Add Button Group Component
  CHANGELOG.md
  src/components/button-group/button-group.spec.ts
  src/components/button-group/button-group.ts
  src/components/button-group/themes/dark/_themes.scss
  src/components/button-group/themes/dark/button-group-bootstrap.scss
  src/components/button-group/themes/dark/button-group-fluent.scss
  src/components/button-group/themes/dark/button-group-indigo.scss
  src/components/button-group/themes/dark/button-group-material.scss
  src/components/button-group/themes/dark/toggle-button/toggle-button-bootstrap.scss
  src/components/button-group/themes/dark/toggle-button/toggle-button-fluent.scss
  src/components/button-group/themes/dark/toggle-button/toggle-button-indigo.scss
  src/components/button-group/themes/dark/toggle-button/toggle-button-material.scss
  src/components/button-group/themes/light/_themes.scss
  src/components/button-group/themes/light/button-group.base.scss
  src/components/button-group/themes/light/button-group.bootstrap.scss
  src/components/button-group/themes/light/button-group.fluent.scss
  src/components/button-group/themes/light/button-group.indigo.scss
  src/components/button-group/themes/light/button-group.material.scss
  src/components/button-group/themes/light/toggle-button/toggle-button.base.scss
  src/components/button-group/themes/light/toggle-button/toggle-button.bootstrap.scss
  src/components/button-group/themes/light/toggle-button/toggle-button.fluent.scss
  src/components/button-group/themes/light/toggle-button/toggle-button.indigo.scss
  src/components/button-group/themes/light/toggle-button/toggle-button.material.scss
  src/components/button-group/toggle-button.spec.ts
  src/components/button-group/toggle-button.ts
  src/components/common/definitions/defineAllComponents.ts
  src/index.ts
  src/styles/themes/dark/bootstrap.scss
  src/styles/themes/dark/fluent.scss
  src/styles/themes/dark/indigo.scss
  src/styles/themes/dark/material.scss
  stories/button-group.stories.ts
Labels: status: verified, squash-merge, design: verified, button-group

#924 docs: Fixed conflict in manifest JSON
  src/components/input/input-base.ts
  src/components/input/input.ts
  src/components/rating/rating.ts
Labels: documentation

#926 refactor(toast): use colors from schemas
  package-lock.json
  package.json
  src/components/toast/themes/dark/_themes.scss
  src/components/toast/themes/dark/toast.bootstrap.scss
  src/components/toast/themes/dark/toast.fluent.scss
  src/components/toast/themes/dark/toast.indigo.scss
  src/components/toast/themes/dark/toast.material.scss
  src/components/toast/themes/light/_themes.scss
  src/components/toast/themes/light/toast.base.scss
  src/components/toast/themes/light/toast.bootstrap.scss
  src/components/toast/themes/light/toast.fluent.scss
  src/components/toast/themes/light/toast.indigo.scss
  src/components/toast/themes/light/toast.material.scss
  src/components/toast/toast.ts
Labels: status: verified, toast
