Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2023-05, with the labels that each got.

#734 Set titlePosition to undefined if is invalid and remove SizableMixin
  src/components/stepper/stepper.ts
  stories/stepper.stories.ts
Labels: status: verified, stepper

#761 fix(combo): primitive values not being displayed
  src/components/combo/combo.spec.ts
  src/components/combo/combo.ts
  src/components/combo/controllers/data.ts
  src/components/combo/operations/filter.ts
  src/components/combo/operations/group.ts
  src/components/combo/types.ts
Labels: status: verified, combo

#762 build: Updated dependencies
  package-lock.json
  package.json
  scripts/_package.json
  src/components/combo/combo.spec.ts
Labels: dependencies
