Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2023-11, with the labels that each got.

#905 refactor: Exposed a key binding controller
  src/components/accordion/accordion.spec.ts
  src/components/accordion/accordion.ts
  src/components/chip/chip.ts
  src/components/common/controllers/key-bindings.ts
  src/components/common/util.ts
  src/components/common/utils.spec.ts
  src/components/date-time-input/date-time-input.spec.ts
  src/components/date-time-input/date-time-input.ts
  src/components/expansion-panel/expansion-panel.spec.ts
  src/components/expansion-panel/expansion-panel.ts
  src/components/radio-group/radio-group.spec.ts
  src/components/radio/radio.ts
  src/components/radio/utils.ts
  src/components/rating/rating.spec.ts
  src/components/rating/rating.ts
  src/components/slider/slider-base.ts
  src/components/slider/slider.spec.ts
Labels: enhancement, radio, slider, refactoring, rating, chip, expansion-panel, accordion

#978 docs(typedoc): bump version and build script
  .gitignore
  extras/template/strings/shell-strings.json
  package-lock.json
  package.json
  scripts/build-typedoc.js
Labels: documentation, status: verified

#976 feat(snackbar): Added action slot for snackbar
  src/components/snackbar/snackbar.spec.ts
  src/components/snackbar/snackbar.ts
  stories/snackbar.stories.ts
Labels: status: verified, snackbar

#980 fix(list): Added default intrinsic ARIA roles
  src/components/list/list-header.ts
  src/components/list/list-item.ts
  src/components/list/list.spec.ts
  src/components/list/list.ts
Labels: a11y, list

#981 refactor: Extracted a common base for snackbar and toast
  src/components/common/mixins/alert.ts
  src/components/common/utils.spec.ts
  src/components/snackbar/snackbar.spec.ts
  src/components/snackbar/snackbar.ts
  src/components/toast/toast.spec.ts
  src/components/toast/toast.ts
  stories/snackbar.stories.ts
  stories/toast.stories.ts
Labels: status: verified, refactoring, snackbar, toast

#982 feat(expansion-panel): Exposed indicator-expanded slot
  .storybook/preview-head.html
  src/components/expansion-panel/expansion-panel.spec.ts
  src/components/expansion-panel/expansion-panel.ts
  stories/expansion-panel.stories.ts
Labels: status: verified, expansion-panel

#979 build: Updated to Lit v3 and latest TS
  .github/workflows/node.js.yml
  package-lock.json
  package.json
  scripts/_package.json
  src/components/calendar/calendar.ts
  src/components/combo/combo-list.ts
  src/components/combo/combo.spec.ts
  src/components/slider/range-slider.ts
  src/components/slider/slider-base.ts
  src/components/tree/tree-item.ts
  tsconfig.json
Labels: status: verified, squash-merge, dependencies

#984 fix(button-group): changed igcSelect/igcDeselect to non-cancelable
  src/components/button-group/button-group.spec.ts
  src/components/button-group/button-group.ts
Labels: status: verified, button-group

#987 fix(tree): consume new color from schema
  package-lock.json
  package.json
  src/components/tree/themes/shared/item.bootstrap.scss
  src/components/tree/themes/shared/item.fluent.scss
  src/components/tree/themes/shared/item.indigo.scss
  src/components/tree/themes/shared/item.material.scss
Labels: status: awaiting-test, tree, design: verified

#852 refactor: use a concrete type instead of a type literal for the tree event
  src/components/tree/tree.common.ts
Labels: refactoring, tree
