Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2023-04, with the labels that each got.

#720 fix(navbar): content doesn't overflow
  src/components/navbar/themes/light/navbar.base.scss
  stories/navbar.stories.ts
Labels: status: verified, navbar

#724 fix(select): prefixes/suffixes and helper text not being rendered
  src/components/select/select.ts
Labels: status: verified, select

#729 Fix nested tabs selection
  src/components/tabs/tabs.ts
Labels: status: verified, tab

#725 build: Updated package dependencies
  package-lock.json
  package.json
  scripts/_package.json
Labels: status: verified, squash-merge, dependencies

#733 refactor(dialog): reorder closeOnEscape setter/getter
  src/components/dialog/dialog.ts
Labels: refactoring, dialog, blazor

#742 Adding disabled attr styles.
  src/components/checkbox/themes/light/checkbox.base.scss
  src/components/checkbox/themes/light/checkbox.bootstrap.scss
  src/components/checkbox/themes/light/checkbox.fluent.scss
  src/components/checkbox/themes/light/checkbox.indigo.scss
  src/components/checkbox/themes/light/checkbox.material.scss
  src/components/checkbox/themes/light/switch.base.scss
  src/components/checkbox/themes/light/switch.bootstrap.scss
  src/components/checkbox/themes/light/switch.fluent.scss
  src/components/checkbox/themes/light/switch.indigo.scss
  src/components/checkbox/themes/light/switch.material.scss
  src/components/combo/themes/light/combo.base.scss
  src/components/combo/themes/light/combo.bootstrap.scss
  src/components/combo/themes/light/combo.fluent.scss
  src/components/combo/themes/light/combo.indigo.scss
  src/components/combo/themes/light/combo.material.scss
  src/components/input/themes/light/input.bootstrap.scss
  src/components/input/themes/light/input.fluent.scss
  src/components/input/themes/light/input.indigo.scss
  src/components/input/themes/light/input.material.scss
  src/components/radio/themes/light/radio.base.scss
  src/components/radio/themes/light/radio.bootstrap.scss
  src/components/radio/themes/light/radio.fluent.scss
  src/components/radio/themes/light/radio.indigo.scss
  src/components/select/themes/light/select.base.scss
  src/components/select/themes/light/select.bootstrap.scss
  src/components/select/themes/light/select.fluent.scss
  src/components/select/themes/light/select.indigo.scss
  src/components/select/themes/light/select.material.scss
  src/components/slider/themes/light/slider.base.scss
  src/components/slider/themes/light/slider.fluent.scss
  src/components/slider/themes/light/slider.indigo.scss
Labels: status: awaiting-test, radio, checkbox, input, slider, select, combo

#744 fix(dialog): backdrop doesn't overlay elements
  src/components/dialog/themes/light/dialog.base.scss
Labels: status: verified, dialog

#739 feat(card): support height for component
  src/components/card/themes/light/card.content.material.scss
  src/components/card/themes/light/card.header.material.scss
  src/components/card/themes/light/card.material.scss
Labels: status: verified, card

#748 fix(dropdown): initial update the toggle position
  src/components/dropdown/dropdown.spec.ts
  src/components/dropdown/dropdown.ts
  src/components/select/select.spec.ts
Labels: status: verified, drop-down, select

#751 build: Updated build dependencies
  package-lock.json
  package.json
  src/components/calendar/common/calendar-base.ts
  stories/calendar.stories.ts
Labels: squash-merge, dependencies

#743 fix(stepper): the stepper doesn't fill its parent
  src/components/stepper/themes/stepper/stepper.base.scss
Labels: status: verified, stepper

#741 fix(navbar): wrong colors in fluent theme
  src/components/navbar/themes/light/navbar.fluent.scss
Labels: status: awaiting-test, navbar, fluent-theme
