Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2023-08, with the labels that each got.

#849 build: Bumped dependencies
  package-lock.json
  package.json
  scripts/_package.json
  src/components/tree/tree.spec.ts
Labels: dependencies

#855 fix(*): add [hidden] selector when the attr is on the host
  src/styles/common/component.scss
Labels: status: verified, tab

#854 Consume sizing from schemas
  package-lock.json
  package.json
  src/components/avatar/avatar.ts
  src/components/avatar/themes/avatar.base.scss
  src/components/avatar/themes/dark/avatar.bootstrap.scss
  src/components/avatar/themes/dark/avatar.fluent.scss
  src/components/avatar/themes/dark/avatar.indigo.scss
  src/components/avatar/themes/dark/avatar.material.scss
  src/components/avatar/themes/light/avatar.base.scss
  src/components/avatar/themes/light/avatar.fluent.scss
  src/components/avatar/themes/light/avatar.indigo.scss
  src/components/avatar/themes/light/avatar.material.scss
  src/components/button/themes/button/light/button.base.scss
  src/components/button/themes/button/light/button.bootstrap.scss
  src/components/button/themes/button/light/button.fluent.scss
  src/components/button/themes/button/light/button.indigo.scss
  src/components/button/themes/button/light/button.material.scss
  src/components/button/themes/icon-button/light/icon-button.bootstrap.scss
  src/components/button/themes/icon-button/light/icon-button.fluent.scss
  src/components/button/themes/icon-button/light/icon-button.indigo.scss
  src/components/button/themes/icon-button/light/icon-button.material.scss
  src/components/chip/themes/chip.base.scss
  src/components/chip/themes/chip.bootstrap.scss
  src/components/chip/themes/chip.fluent.scss
  src/components/chip/themes/chip.indigo.scss
  src/components/chip/themes/chip.material.scss
  src/components/icon/icon.base.scss
  src/components/icon/light/icon.bootstrap.scss
  src/components/icon/light/icon.fluent.scss
  src/components/icon/light/icon.indigo.scss
  src/components/icon/light/icon.material.scss
  src/components/input/themes/light/input.base.scss
  src/components/input/themes/light/input.bootstrap.scss
  src/components/input/themes/light/input.fluent.scss
  src/components/input/themes/light/input.indigo.scss
  src/components/input/themes/light/input.material.scss
  src/components/tree/themes/light/tree-item.base.scss
  src/components/tree/themes/light/tree-item.bootstrap.scss
  src/components/tree/themes/light/tree-item.fluent.scss
  src/components/tree/themes/light/tree-item.indigo.scss
  src/components/tree/themes/light/tree-item.material.scss
  src/components/tree/tree-item.ts
  src/styles/themes/dark/bootstrap.scss
  src/styles/themes/dark/fluent.scss
  src/styles/themes/dark/indigo.scss
  src/styles/themes/dark/material.scss
Labels: status: verified

#865 fix(button): set the same min-width as in ingniteUI for angular
  src/components/button/themes/button/light/button.base.scss
Labels: status: verified, button

#874 refactor(stepper): add color state styles directly to the indicator part
  src/components/stepper/themes/step/light/step.base.scss
  src/components/stepper/themes/step/light/step.bootstrap.scss
  src/components/stepper/themes/step/light/step.fluent.scss
  src/components/stepper/themes/step/light/step.indigo.scss
  src/components/stepper/themes/step/light/step.material.scss
Labels: status: verified, stepper

#867 refactor(rating): update the colors for fluent theme according to the UI kit
  src/components/rating/dark/rating.fluent.scss
  src/components/rating/rating-symbol.base.scss
  src/components/rating/rating.fluent.scss
  src/styles/themes/dark/fluent.scss
Labels: status: verified, design: verified

#876 fix(input): outlined styling issues
  src/components/combo/themes/light/combo.material.scss
  src/components/input/themes/light/input.material.scss
  src/components/select/themes/light/select.material.scss
Labels: status: verified, input, material-theme

#881 fix(input-group): indigo theme bottom line styling
  src/components/input/themes/light/input.indigo.scss
Labels: status: verified, input, safari

#884 stepper: consume colors from schemas
  src/components/stepper/themes/step/dark/_themes.scss
  src/components/stepper/themes/step/dark/step.bootstrap.scss
  src/components/stepper/themes/step/dark/step.fluent.scss
  src/components/stepper/themes/step/dark/step.indigo.scss
  src/components/stepper/themes/step/dark/step.material.scss
  src/components/stepper/themes/step/light/step.base.scss
  src/components/stepper/themes/step/light/step.bootstrap.scss
  src/components/stepper/themes/step/light/step.fluent.scss
  src/components/stepper/themes/step/light/step.indigo.scss
  src/components/stepper/themes/step/light/step.material.scss
  src/styles/themes/dark/bootstrap.scss
  src/styles/themes/dark/fluent.scss
  src/styles/themes/dark/indigo.scss
  src/styles/themes/dark/material.scss
Labels: status: verified, stepper

#886 feat(stepper): add animations
  src/animations/presets/fade/index.ts
  src/animations/presets/grow/index.ts
  src/animations/presets/index.ts
  src/animations/presets/slide/index.ts
  src/components/dialog/dialog.ts
  src/components/expansion-panel/expansion-panel.ts
  src/components/snackbar/snackbar.ts
  src/components/stepper/animations.ts
  src/components/stepper/step.ts
  src/components/stepper/stepper.ts
  src/components/stepper/themes/step/light/step.base.scss
  src/components/stepper/themes/stepper/stepper.base.scss
  src/components/toast/toast.ts
  src/components/tree/tree-item.ts
  stories/stepper.stories.ts
Labels: status: verified, themes, stepper, animations

#889 fix(select): styling issues in outlined variant
  src/components/select/themes/light/select.material.scss
Labels: status: verified, material-theme, select

#871 refactor: Deprecated validation properties on several components
  CHANGELOG.md
  scripts/build-stories.js
  src/components/checkbox/checkbox-base.ts
  src/components/checkbox/checkbox.ts
  src/components/checkbox/switch.ts
  src/components/combo/combo.spec.ts
  src/components/combo/combo.ts
  src/components/common/types.ts
  src/components/common/validators.ts
  src/components/date-time-input/date-time-input.spec.ts
  src/components/date-time-input/date-time-input.ts
  src/components/form/form.ts
  src/components/input/input-base.ts
  src/components/input/input.spec.ts
  src/components/input/input.ts
  src/components/radio/radio.spec.ts
  src/components/radio/radio.ts
  src/components/rating/rating.spec.ts
  src/components/rating/rating.ts
  src/components/select/select.ts
  src/components/slider/slider.ts
  src/components/stepper/stepper.ts
  src/components/tree/tree-item.ts
  src/components/tree/tree.navigation.ts
  src/components/tree/tree.ts
  stories/checkbox.stories.ts
  stories/combo.stories.ts
  stories/date-time-input.stories.ts
  stories/dialog.stories.ts
  stories/input.stories.ts
  stories/mask-input.stories.ts
  stories/radio.stories.ts
  stories/rating.stories.ts
  stories/select.stories.ts
  stories/slider.stories.ts
  stories/switch.stories.ts
Labels: status: verified, switch, radio, squash-merge, checkbox, input, slider, refactoring, rating, tree, mask, select, stepper, combo

#894 docs: Updated CHANGELOG
  CHANGELOG.md
Labels: documentation
