Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2023-06, with the labels that each got.

#778 chore(combo): drop blazorAlternateType meta that's now redundant
  src/components/combo/combo.ts
Labels: combo

#775 feat(combo): Ignore diacritic marks when filtering
  CHANGELOG.md
  src/components/combo/combo.spec.ts
  src/components/combo/combo.ts
  src/components/combo/operations/filter.ts
  src/components/combo/types.ts
  src/components/combo/utils/converters.ts
Labels: enhancement, status: verified, squash-merge, combo

#782 refactor(combo): set and get the value as an array of values
  src/components/combo/combo.spec.ts
  src/components/combo/combo.ts
  src/components/combo/controllers/selection.ts
  stories/combo.stories.ts
Labels: status: awaiting-test, combo

#777 refactor(stepper): Make the step content container stretch
  src/components/stepper/themes/step/light/step.base.scss
Labels: status: verified, stepper

#785 fix(combo): parent overflow issues
  src/components/combo/combo.ts
  stories/combo.stories.ts
Labels: status: awaiting-test, combo

#788 feat: Floating elements auto-update behavior
  src/components/toggle/toggle.directive.ts
Labels: enhancement, status: verified, drop-down, select, combo

#792 build(deps): Bumped to latest dependencies
  package-lock.json
  package.json
  scripts/_package.json
  scripts/build-styles.mjs
  scripts/sass.mjs
  src/components/combo/combo.spec.ts
Labels: squash-merge, dependencies

#625 feat(dialog/snackbar/toast): animate component states
  src/animations/presets/fade/index.ts
  src/animations/presets/index.ts
  src/components/dialog/dialog.spec.ts
  src/components/dialog/dialog.ts
  src/components/dialog/themes/light/dialog.base.scss
  src/components/snackbar/snackbar.spec.ts
  src/components/snackbar/snackbar.ts
  src/components/toast/toast.spec.ts
  src/components/toast/toast.ts
Labels: status: verified, snackbar, toast, dialog, animations

#795 fix(select,combo): error in Chromium on remove from DOM after blur
  src/components/combo/combo.ts
  src/components/select/select.ts
Labels: status: awaiting-test, select, combo

#794 fix(animations): player throws warning
  src/animations/player.ts
Labels: status: verified, animations

#799 build: Updated to latest lit-analyzer packages
  package-lock.json
  package.json
  scripts/_package.json
  src/components/combo/combo.spec.ts
  src/components/combo/combo.ts
  src/components/combo/types.ts
Labels: dependencies

#798 build: GH pages deploy chunked files naming
  .storybook/main.ts
  package.json
Labels: :book: storybook

#800 fix(combo): selection/deselection event details
  src/components/combo/combo.spec.ts
  src/components/combo/controllers/selection.ts
  src/components/combo/types.ts
  stories/combo.stories.ts
Labels: status: verified, combo

#791 refactor(select): deprecate `sameWidth` and `positionStrategy`
  CHANGELOG.md
  src/components/select/select.spec.ts
  src/components/select/select.ts
  stories/select.stories.ts
Labels: documentation, select

#802 Keep firstUpdated overrides protected
  src/components/dropdown/dropdown.ts
  src/components/expansion-panel/expansion-panel.ts
  src/components/select/select.ts
  src/components/snackbar/snackbar.ts
  src/components/toast/toast.ts
Labels: documentation, refactoring

#804 fix(date-time-input): use hourCycle option instead of hour12
  src/components/date-time-input/date-util.ts
Labels: status: verified

#807 refactor(combo): generic type param default, explicit selection type
  src/components/combo/combo.spec.ts
  src/components/combo/combo.ts
Labels: combo

#806 docs(stepper): drop internal prop from public API
  src/components/stepper/step.ts
Labels: documentation, stepper

#808 chore: igc-select flip on by default
  src/components/combo/combo.ts
  src/components/select/select.ts
  stories/combo.stories.ts
  stories/select.stories.ts
Labels: documentation, select, combo

#797 chore(*): links-to-slider-docs-roadmap
  ROADMAP.md
Labels: documentation

#819 refactor(select): update the consumed colors
  src/components/select/themes/light/select.bootstrap.scss
  src/components/select/themes/light/select.fluent.scss
  src/components/select/themes/light/select.indigo.scss
  src/components/select/themes/light/select.material.scss
Labels: status: verified, select
