Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2024-02, with the labels that each got.

#1047 fix(btn-group): disabled state in safari
  src/components/button-group/themes/button.base.scss
  src/components/button-group/themes/shared/button/button.common.scss
Labels: status: verified, safari, button-group

#1038 fix(input/combo/select): styling issues
  src/components/combo/themes/dark/_themes.scss
  src/components/combo/themes/light/_themes.scss
  src/components/combo/themes/shared/combo.bootstrap.scss
  src/components/combo/themes/shared/combo.fluent.scss
  src/components/combo/themes/shared/combo.indigo.scss
  src/components/combo/themes/shared/combo.material.scss
  src/components/input/themes/shared/input.material.scss
  src/components/select/themes/dark/_themes.scss
  src/components/select/themes/dark/select.bootstrap.scss
  src/components/select/themes/dark/select.fluent.scss
  src/components/select/themes/dark/select.indigo.scss
  src/components/select/themes/dark/select.material.scss
  src/components/select/themes/light/_themes.scss
  src/components/select/themes/light/select.bootstrap.scss
  src/components/select/themes/light/select.fluent.scss
  src/components/select/themes/light/select.indigo.scss
  src/components/select/themes/light/select.material.scss
  src/components/select/themes/shared/select.bootstrap.scss
  src/components/select/themes/shared/select.fluent.scss
  src/components/select/themes/shared/select.indigo.scss
  src/components/select/themes/shared/select.material.scss
Labels: status: verified, input, select, combo

#1059 fix(select/combo): wrong error color
  src/components/combo/themes/dark/_themes.scss
  src/components/combo/themes/light/_themes.scss
  src/components/select/themes/dark/_themes.scss
  src/components/select/themes/light/_themes.scss
Labels: status: verified, select, combo

#1049 fix(slider): A few bugfixes and code cleanups
  CHANGELOG.md
  src/components/common/utils.spec.ts
  src/components/slider/range-slider.ts
  src/components/slider/slider-base.ts
  src/components/slider/slider.spec.ts
  src/components/slider/slider.ts
  stories/range-slider.stories.ts
  stories/slider.stories.ts
Labels: status: verified, squash-merge, slider, refactoring

#1054 fix(button): slotted icon size
  src/components/button/themes/button/button.base.scss
Labels: status: verified, button, icon

#1060 feat(navbar): add border in bootstrap theme
  package-lock.json
  package.json
  src/components/navbar/themes/shared/navbar.bootstrap.scss
  src/styles/utilities/_overwrites.scss
Labels: status: verified, navbar, bootstrap-theme

#1061 build: Bumped dependencies
  .storybook/preview.ts
  package-lock.json
  package.json
Labels: dependencies

#1062 chore: Bump dependencies
  package-lock.json
  package.json
Labels: dependencies

#1050 feat(button/icon-button): refactor buttons and add new states
  package-lock.json
  package.json
  src/components/button/themes/button/shared/button.bootstrap.scss
  src/components/button/themes/button/shared/button.common.scss
  src/components/button/themes/button/shared/button.fluent.scss
  src/components/button/themes/button/shared/button.indigo.scss
  src/components/button/themes/button/shared/button.material.scss
  src/components/button/themes/icon-button/shared/icon-button.bootstrap.scss
  src/components/button/themes/icon-button/shared/icon-button.common.scss
  src/components/button/themes/icon-button/shared/icon-button.fluent.scss
  src/components/button/themes/icon-button/shared/icon-button.indigo.scss
Labels: status: verified, themes, button, icon-button, design: verified

#1074 chore: bump dev dependencies
  package-lock.json
  package.json
Labels: dependencies

#1070 fix(input): Apply validation logic synchronously
  CHANGELOG.md
  src/components/common/localization/validation-en.ts
  src/components/common/utils.spec.ts
  src/components/common/validators.ts
  src/components/input/input.spec.ts
  src/components/input/input.ts
  stories/input.stories.ts
Labels: status: verified, squash-merge, form, input

#1089 refactor: Progressbar components
  src/components/progress/base.ts
  src/components/progress/circular-progress.spec.ts
  src/components/progress/circular-progress.ts
  src/components/progress/linear-progress.spec.ts
  src/components/progress/linear-progress.ts
Labels: status: verified, refactoring, circular-progress, linear-progress

#1077 fix(date-time-input): setRangeText updates underlying value
  CHANGELOG.md
  src/components/date-time-input/date-time-input.spec.ts
  src/components/date-time-input/date-time-input.ts
  src/components/mask-input/mask-input-base.ts
  src/components/mask-input/mask-input.spec.ts
  src/components/mask-input/mask-input.ts
Labels: status: verified, squash-merge, mask
