Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2024-12, with the labels that each got.

#1499 build(deps): Bumped SB, Vite and supporting packages
  package-lock.json
  package.json
  src/components/common/mixins/alert.ts
  src/components/common/mixins/combo-box.ts
Labels: dependencies

#1498 fix(scrollbar): use angular proj scrollbar vars as fallback values
  src/styles/common/component.scss
Labels: themes, scrollbars

#1503 perf(build): Don't invoke tsc during test and development
  .github/CONTRIBUTING.md
  package-lock.json
  package.json
  web-test-runner.config.mjs
Labels: squash-merge, dependencies

#1504 fix(avatar): slotted icon size
  src/components/avatar/themes/shared/avatar.common.scss
  src/components/avatar/themes/shared/avatar.indigo.scss
  stories/avatar.stories.ts
Labels: :white_check_mark: status: verified, avatar

#1501 fix(stepper): linear property in story not working
  stories/stepper.stories.ts
Labels: :white_check_mark: status: verified, stepper

#1511 build(deps): Bumped dependencies
  package-lock.json
  package.json
Labels: dependencies

#1464 feat: Expose defaultValue/defaultChecked property for form-associated components
  CHANGELOG.md
  src/components/button/button.spec.ts
  src/components/checkbox/checkbox-base.ts
  src/components/checkbox/checkbox.spec.ts
  src/components/checkbox/switch.spec.ts
  src/components/combo/combo-item.ts
  src/components/combo/combo.spec.ts
  src/components/combo/combo.ts
  src/components/combo/controllers/data.ts
  src/components/combo/controllers/navigation.ts
  src/components/combo/controllers/selection.ts
  src/components/common/mixins/form-associated.spec.ts
  src/components/common/mixins/forms/associated.ts
  src/components/common/mixins/forms/form-value.ts
  src/components/common/mixins/forms/types.ts
  src/components/common/util.ts
  src/components/common/utils.spec.ts
  src/components/common/validators.ts
  src/components/date-picker/date-picker.spec.ts
  src/components/date-picker/date-picker.ts
  src/components/date-picker/validators.ts
  src/components/date-time-input/date-time-input.spec.ts
  src/components/date-time-input/date-time-input.ts
  src/components/date-time-input/validators.ts
  src/components/input/input.spec.ts
  src/components/input/input.ts
  src/components/mask-input/mask-input.spec.ts
  src/components/mask-input/mask-input.ts
  src/components/radio-group/radio-group.spec.ts
  src/components/radio-group/radio-group.ts
  src/components/radio/radio.spec.ts
  src/components/radio/radio.ts
  src/components/rating/rating-symbol.ts
  src/components/rating/rating.spec.ts
  src/components/rating/rating.ts
  src/components/select/select.spec.ts
  src/components/select/select.ts
  src/components/slider/slider-base.ts
  src/components/slider/slider.spec.ts
  src/components/slider/slider.ts
  src/components/textarea/textarea.spec.ts
  src/components/textarea/textarea.ts
  stories/combo.stories.ts
  stories/input.stories.ts
Labels: :white_check_mark: status: verified, squash-merge, forms

#1519 fix(textarea): helper text disabled color
  src/components/textarea/themes/shared/textarea.common.scss
Labels: :white_check_mark: status: verified, text area

#1523 build(deps): Bumped dependencies
  package-lock.json
  package.json
Labels: dependencies

#1525 fix(input): invalid helper text
  src/components/input/themes/shared/input.common.scss
  src/components/input/themes/shared/input.indigo.scss
Labels: :white_check_mark: status: verified, input

#1518 feat(textarea): fix material textarea label positioning
  src/components/textarea/textarea.ts
  src/components/textarea/themes/shared/textarea.material.scss
  stories/textarea.stories.ts
Labels: :white_check_mark: status: verified, material-theme, text area

#1520 fix(input-group): make sure that the input of type search does not interfere with the outline variant
  src/components/input/themes/shared/input.material.scss
Labels: :white_check_mark: status: verified, input

#1492 refactor(progressbar): Animate the value change using CSS counters and custom CSS props
  src/components/progress/base.ts
  src/components/progress/circular-progress.spec.ts
  src/components/progress/circular-progress.ts
  src/components/progress/linear-progress.spec.ts
  src/components/progress/linear-progress.ts
  src/components/progress/themes/animations.scss
  src/components/progress/themes/circular/circular.progress.base.scss
  src/components/progress/themes/circular/shared/circular.progress.bootstrap.scss
  src/components/progress/themes/circular/shared/circular.progress.common.scss
  src/components/progress/themes/circular/shared/circular.progress.fluent.scss
  src/components/progress/themes/circular/shared/circular.progress.indigo.scss
  src/components/progress/themes/linear/linear.progress.base.scss
  src/components/progress/themes/linear/shared/linear.progress.bootstrap.scss
  src/components/progress/themes/linear/shared/linear.progress.common.scss
  src/components/progress/themes/linear/shared/linear.progress.fluent.scss
  src/components/progress/themes/linear/shared/linear.progress.indigo.scss
  src/components/progress/themes/vars.scss
  src/styles/themes/base/_theme.scss
  stories/circular-progress.stories.ts
Labels: squash-merge, circular-progress, linear-progress, animations
