Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2024-05, with the labels that each got.

#1194 chore: Bumped dependencies
  package-lock.json
  package.json
  src/components/calendar/themes/shared/bootstrap/days-view.bootstrap.scss
  src/components/dialog/themes/shared/dialog.indigo.scss
Labels: dependencies

#1147 refactor(navbar): update indigo theme styling
  src/components/navbar/themes/shared/navbar.bootstrap.scss
  src/components/navbar/themes/shared/navbar.common.scss
  src/components/navbar/themes/shared/navbar.indigo.scss
Labels: status: awaiting-test, navbar, design: awaiting-validation

#1148 feat(navdrawer): update indigo navdrawer
  src/components/nav-drawer/themes/header-item.ts
  src/components/nav-drawer/themes/shared/container/nav-drawer.indigo.scss
  src/components/nav-drawer/themes/shared/header-item/header-item.indigo.scss
  src/components/nav-drawer/themes/shared/item/item.indigo.scss
Labels: status: awaiting-test, nav-drawer, design: awaiting-validation, indigo-theme

#1149 feat(switch): implement indigo design changes
  src/components/checkbox/themes/shared/switch/switch.common.scss
  src/components/checkbox/themes/shared/switch/switch.indigo.scss
Labels: status: awaiting-test, switch, indigo-theme

#1197 refactor(ripple): Cleaned code and added tests
  src/components/ripple/ripple.spec.ts
  src/components/ripple/ripple.ts
Labels: ripple, refactoring

#1199 build: Migrate to latest Storybook
  .storybook/main.ts
  package-lock.json
  package.json
Labels: dependencies, :book: storybook

#1203 build: Bumped storybook tried to fix acorn error
  .storybook/main.ts
  .storybook/preview-head.html
  package-lock.json
  package.json
Labels: dependencies, :book: storybook

#1196 Themes: Add updated Indigo themes for Navbar, Navdrawer, and Switch
  package-lock.json
  package.json
  src/components/checkbox/themes/shared/switch/switch.common.scss
  src/components/checkbox/themes/shared/switch/switch.indigo.scss
  src/components/nav-drawer/themes/container.base.scss
  src/components/nav-drawer/themes/header-item.ts
  src/components/nav-drawer/themes/shared/container/nav-drawer.indigo.scss
  src/components/nav-drawer/themes/shared/header-item/header-item.indigo.scss
  src/components/nav-drawer/themes/shared/item/item.indigo.scss
  src/components/navbar/themes/shared/navbar.bootstrap.scss
  src/components/navbar/themes/shared/navbar.common.scss
  src/components/navbar/themes/shared/navbar.indigo.scss
Labels: status: verified, switch, navbar, nav-drawer, design: verified, indigo-theme

#1192 feat(radio): implement radio enchancments
  src/components/radio/themes/dark/_themes.scss
  src/components/radio/themes/dark/radio.bootstrap.scss
  src/components/radio/themes/dark/radio.fluent.scss
  src/components/radio/themes/dark/radio.indigo.scss
  src/components/radio/themes/dark/radio.material.scss
  src/components/radio/themes/dark/radio.shared.scss
  src/components/radio/themes/shared/radio.bootstrap.scss
  src/components/radio/themes/shared/radio.fluent.scss
  src/components/radio/themes/themes.ts
Labels: status: awaiting-test, radio, bootstrap-theme, fluent-theme, material-theme, design: awaiting-validation

#1181 feat(checkbox): complete checkbox refinements
  src/components/checkbox/checkbox-base.ts
  src/components/checkbox/themes/dark/checkbox/checkbox.bootstrap.scss
  src/components/checkbox/themes/shared/checkbox/checkbox.bootstrap.scss
  src/components/checkbox/themes/shared/checkbox/checkbox.common.scss
  src/components/checkbox/themes/shared/checkbox/checkbox.fluent.scss
  src/components/checkbox/themes/shared/checkbox/checkbox.indigo.scss
  src/components/checkbox/themes/shared/checkbox/checkbox.material.scss
Labels: status: verified, checkbox, bootstrap-theme, fluent-theme, material-theme, design: in-validation

#1177 feat(switch): implement switch refinements
  src/components/checkbox/themes/dark/switch/_themes.scss
  src/components/checkbox/themes/dark/switch/switch.bootstrap.scss
  src/components/checkbox/themes/dark/switch/switch.fluent.scss
  src/components/checkbox/themes/dark/switch/switch.indigo.scss
  src/components/checkbox/themes/dark/switch/switch.material.scss
  src/components/checkbox/themes/dark/switch/switch.shared.scss
  src/components/checkbox/themes/shared/switch/switch.bootstrap.scss
  src/components/checkbox/themes/shared/switch/switch.fluent.scss
  src/components/checkbox/themes/shared/switch/switch.material.scss
  src/components/checkbox/themes/switch-themes.ts
Labels: status: awaiting-test, switch, bootstrap-theme, fluent-theme, material-theme, design: verified

#1207 fix(storybook): Default textarea story is always recreated
  stories/textarea.stories.ts
Labels: :book: storybook, text area

#1214 Navbar - fix the size of the button in the context of navbar to be 2
  package-lock.json
  package.json
  src/components/navbar/themes/navbar.base.scss
Labels: status: verified, navbar

#1216 build: Dev dependencies
  package-lock.json
  package.json
Labels: dependencies

#1111 docs: Updated contribution guide & code style guidelines
  .github/CODING_GUIDELINES.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: documentation, enhancement

#1215 fix(input,textarea): Cannot set value to undefined
  CHANGELOG.md
  src/components/input/input.spec.ts
  src/components/input/input.ts
  src/components/select/select.spec.ts
  src/components/textarea/textarea.spec.ts
  src/components/textarea/textarea.ts
  stories/textarea.stories.ts
Labels: status: verified, input, text area

#1187 refactor: Abstracted keyboard focus styles logic
  src/components/button-group/button-group.ts
  src/components/button-group/toggle-button.ts
  src/components/button/button-base.ts
  src/components/checkbox/checkbox-base.ts
  src/components/checkbox/checkbox.ts
  src/components/checkbox/switch.ts
  src/components/common/controllers/focus-ring.spec.ts
  src/components/common/controllers/focus-ring.ts
  src/components/radio/radio.ts
Labels: status: awaiting-test, button, link-button, switch, radio, squash-merge, checkbox, refactoring, button-group

#1220 fix(textarea): indigo helper text
  src/components/textarea/themes/shared/textarea.indigo.scss
Labels: status: verified, design: verified, indigo-theme, text area

#1189 feat(dropdown): update indigo styles
  src/components/dropdown/themes/header.ts
  src/components/dropdown/themes/item.ts
  src/components/dropdown/themes/shared/dropdown.indigo.scss
  src/components/dropdown/themes/shared/header/dropdown-header.indigo.scss
  src/components/dropdown/themes/shared/item/dropdown-item.common.scss
  src/components/dropdown/themes/shared/item/dropdown-item.indigo.scss
Labels: status: awaiting-test, indigo-theme, drop-down, design: in-validation

#1208 indigo - update list theme
  src/components/list/themes/item.base.scss
  src/components/list/themes/shared/item/list-item.bootstrap.scss
  src/components/list/themes/shared/item/list-item.common.scss
  src/components/list/themes/shared/item/list-item.fluent.scss
  src/components/list/themes/shared/item/list-item.indigo.scss
Labels: list, indigo-theme

#1193 feat(progress): update indigo theme styles
  src/components/progress/themes/circular/shared/circular.progress.indigo.scss
  src/components/progress/themes/circular/themes.ts
  src/components/progress/themes/linear/shared/linear.progress.indigo.scss
Labels: status: awaiting-test, circular-progress, linear-progress, indigo-theme

#1217 Banner - add themes styling
  src/components/banner/banner.ts
  src/components/banner/themes/banner.base.scss
  src/components/banner/themes/dark/_themes.scss
  src/components/banner/themes/dark/banner.bootstrap.scss
  src/components/banner/themes/dark/banner.fluent.scss
  src/components/banner/themes/dark/banner.indigo.scss
  src/components/banner/themes/dark/banner.material.scss
  src/components/banner/themes/light/_themes.scss
  src/components/banner/themes/light/banner.bootstrap.scss
  src/components/banner/themes/light/banner.fluent.scss
  src/components/banner/themes/light/banner.indigo.scss
  src/components/banner/themes/light/banner.material.scss
  src/components/banner/themes/shared/banner.bootstrap.scss
  src/components/banner/themes/shared/banner.fluent.scss
  src/components/banner/themes/shared/banner.indigo.scss
  src/components/banner/themes/shared/banner.material.scss
  src/components/banner/themes/themes.ts
  stories/banner.stories.ts
Labels: status: awaiting-test, themes, design: verified, banner

#1221 feat(slider): update indigo slider
  src/components/slider/themes/shared/slider.indigo.scss
  src/components/slider/themes/slider.base.scss
Labels: status: verified, slider, design: verified, indigo-theme
