Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2024-06, with the labels that each got.

#1230 build: Updated linter dependencies
  biome.json
  package-lock.json
  package.json
  src/components/button-group/themes/button.ts
  src/components/button-group/themes/group.ts
  src/components/calendar/calendar-rendering.spec.ts
  src/components/common/decorators/blazorDeepImport.ts
  src/components/common/decorators/blazorIndirectRender.ts
  src/components/common/decorators/blazorSuppressComponent.ts
  src/components/common/mixins/event-emitter.ts
  src/components/common/mixins/form-associated.ts
  src/components/common/mixins/sizable.ts
  src/components/common/utils.spec.ts
  src/components/dropdown/dropdown-group.ts
  src/components/radio/utils.ts
  src/components/tree/tree.spec.ts
Labels: dependencies

#1231 build: Updated dependencies
  package-lock.json
  package.json
Labels: dependencies

#1234 refactor(progressbars): Added CSS parts documentation
  src/components/progress/base.ts
  src/components/progress/circular-progress.ts
  src/components/progress/linear-progress.ts
Labels: documentation, refactoring, circular-progress, linear-progress

#1225 feat(navdrawer): implement disabled navdrawer item styles
  package-lock.json
  package.json
  src/components/nav-drawer/themes/container.ts
  src/components/nav-drawer/themes/dark/_themes.scss
  src/components/nav-drawer/themes/dark/container/nav-drawer.bootstrap.scss
  src/components/nav-drawer/themes/dark/container/nav-drawer.fluent.scss
  src/components/nav-drawer/themes/dark/container/nav-drawer.indigo.scss
  src/components/nav-drawer/themes/dark/container/nav-drawer.material.scss
  src/components/nav-drawer/themes/dark/container/nav-drawer.shared.scss
  src/components/nav-drawer/themes/shared/item/item.common.scss
  stories/nav-drawer.stories.ts
Labels: status: verified, themes, nav-drawer, design: verified

#1185 Add Banner Component
  CHANGELOG.md
  src/components/banner/banner.spec.ts
  src/components/banner/banner.ts
  src/components/banner/themes/banner.base.scss
  src/components/banner/themes/dark/_themes.scss
  src/components/banner/themes/dark/banner.bootstrap.scss
  src/components/banner/themes/dark/banner.fluent.scss
  src/components/banner/themes/dark/banner.indigo.scss
  src/components/banner/themes/dark/banner.material.scss
  src/components/banner/themes/light/_themes.scss
  src/components/banner/themes/light/banner.bootstrap.scss
  src/components/banner/themes/light/banner.fluent.scss
  src/components/banner/themes/light/banner.indigo.scss
  src/components/banner/themes/light/banner.material.scss
  src/components/banner/themes/shared/banner.bootstrap.scss
  src/components/banner/themes/shared/banner.fluent.scss
  src/components/banner/themes/shared/banner.indigo.scss
  src/components/banner/themes/shared/banner.material.scss
  src/components/banner/themes/themes.ts
  src/components/common/definitions/defineAllComponents.ts
  src/index.ts
  stories/banner.stories.ts
Labels: status: verified, themes, squash-merge, design: verified, banner

#1239 docs(dropdown): deprecation format
  src/components/dropdown/dropdown.ts
Labels: documentation, drop-down

#1241 refactor(checkbox): Code cleanup
  src/components/checkbox/checkbox-base.ts
  src/components/checkbox/checkbox.spec.ts
  src/components/checkbox/checkbox.ts
  src/components/checkbox/switch.ts
  stories/checkbox.stories.ts
Labels: checkbox, refactoring

#1240 perf(core): Improved LTR-RTL detection
  package-lock.json
  package.json
  src/components/common/util.ts
  src/components/input/input.spec.ts
Labels: status: verified, squash-merge, dependencies, RTL, improvement

#1224 Indigo Themes: Update List, Progress, and Dropdown
  package-lock.json
  package.json
  src/components/dropdown/dropdown.ts
  src/components/dropdown/themes/header.ts
  src/components/dropdown/themes/item.ts
  src/components/dropdown/themes/shared/dropdown.indigo.scss
  src/components/dropdown/themes/shared/header/dropdown-header.indigo.scss
  src/components/dropdown/themes/shared/item/dropdown-item.common.scss
  src/components/dropdown/themes/shared/item/dropdown-item.indigo.scss
  src/components/list/themes/header.ts
  src/components/list/themes/item.base.scss
  src/components/list/themes/shared/container/list.bootstrap.scss
  src/components/list/themes/shared/container/list.fluent.scss
  src/components/list/themes/shared/container/list.indigo.scss
  src/components/list/themes/shared/container/list.material.scss
  src/components/list/themes/shared/header/list-header.indigo.scss
  src/components/list/themes/shared/item/list-item.bootstrap.scss
  src/components/list/themes/shared/item/list-item.common.scss
  src/components/list/themes/shared/item/list-item.indigo.scss
  src/components/progress/themes/circular/shared/circular.progress.indigo.scss
  src/components/progress/themes/circular/themes.ts
  src/components/progress/themes/linear/shared/linear.progress.indigo.scss
Labels: status: verified, themes, list, circular-progress, linear-progress, design: verified, indigo-theme, drop-down

#1228 refactor(icon-button): update component styles
  package-lock.json
  package.json
  src/components/button/themes/icon-button/icon-button.base.scss
  src/components/button/themes/icon-button/shared/icon-button.bootstrap.scss
  src/components/button/themes/icon-button/shared/icon-button.common.scss
  src/components/button/themes/icon-button/shared/icon-button.fluent.scss
  src/components/button/themes/icon-button/shared/icon-button.indigo.scss
  src/components/button/themes/icon-button/shared/icon-button.material.scss
Labels: status: verified, icon-button, design: verified

#1245 build: Updated dependencies
  .husky/pre-commit
  package-lock.json
  package.json
Labels: dependencies

#1243 Stepper - indigo theme update
  src/components/stepper/themes/step/shared/step.common.scss
  src/components/stepper/themes/step/shared/step.indigo.scss
  src/components/stepper/themes/stepper/stepper.indigo.scss
  stories/stepper.stories.ts
Labels: stepper

#1248 fix(popover): white edges in dark themes
  src/components/combo/themes/shared/combo.common.scss
  src/components/dropdown/themes/shared/dropdown.common.scss
  src/components/popover/popover.ts
  src/components/select/themes/shared/select.common.scss
Labels: status: verified, themes, drop-down, select, combo

#1250 fix(mask): Reset underlying input value and placeholder after a form reset
  CHANGELOG.md
  src/components/mask-input/mask-input.spec.ts
  src/components/mask-input/mask-input.ts
Labels: mask

#1252 build: Bump dependencies
  package-lock.json
  package.json
Labels: dependencies

#1251 refactor(tree): allow changing --ig-size via part
  CHANGELOG.md
  src/components/tree/themes/item.base.scss
  src/components/tree/themes/shared/item.indigo.scss
Labels: status: verified, themes, tree

#1256 dependencies: Bumped Vite version
  package-lock.json
  package.json
Labels: dependencies

#1259 build: Updated dependencies
  package-lock.json
  package.json
Labels: dependencies

#1086 Add date picker component
  CHANGELOG.md
  src/components/calendar/calendar.ts
  src/components/common/definitions/defineAllComponents.ts
  src/components/common/localization/validation-en.ts
  src/components/common/util.ts
  src/components/common/validators.ts
  src/components/date-picker/date-picker.spec.ts
  src/components/date-picker/date-picker.ts
  src/components/date-picker/themes/dark/_themes.scss
  src/components/date-picker/themes/dark/date-picker.bootstrap.scss
  src/components/date-picker/themes/dark/date-picker.fluent.scss
  src/components/date-picker/themes/dark/date-picker.indigo.scss
  src/components/date-picker/themes/dark/date-picker.material.scss
  src/components/date-picker/themes/date-picker.base.scss
  src/components/date-picker/themes/light/_themes.scss
  src/components/date-picker/themes/light/date-picker.bootstrap.scss
  src/components/date-picker/themes/light/date-picker.fluent.scss
  src/components/date-picker/themes/light/date-picker.indigo.scss
  src/components/date-picker/themes/light/date-picker.material.scss
  src/components/date-picker/themes/light/date-picker.shared.scss
  src/components/date-picker/themes/shared/date-picker.bootstrap.scss
  src/components/date-picker/themes/shared/date-picker.common.scss
  src/components/date-picker/themes/shared/date-picker.fluent.scss
  src/components/date-picker/themes/shared/date-picker.indigo.scss
  src/components/date-picker/themes/themes.ts
  src/components/date-time-input/date-time-input.spec.ts
  src/components/date-time-input/date-time-input.ts
  src/components/dialog/dialog.ts
  src/components/dialog/themes/dialog.base.scss
  src/components/focus-trap/focus-trap.spec.ts
  src/components/focus-trap/focus-trap.ts
  src/components/icon/internal-icons-lib.ts
  src/components/mask-input/mask-input.ts
  src/components/popover/popover.ts
  src/index.ts
  stories/datepicker.stories.ts
Labels: status: verified, feature, squash-merge, design: verified, date-picker

#1257 Adding Divider Component
  CHANGELOG.md
  src/components/common/definitions/defineAllComponents.ts
  src/components/divider/divider.spec.ts
  src/components/divider/divider.ts
  src/components/divider/themes/dark/_themes.scss
  src/components/divider/themes/dark/divider.bootstrap.scss
  src/components/divider/themes/dark/divider.fluent.scss
  src/components/divider/themes/dark/divider.indigo.scss
  src/components/divider/themes/dark/divider.material.scss
  src/components/divider/themes/divider.base.scss
  src/components/divider/themes/light/_themes.scss
  src/components/divider/themes/light/divider.bootstrap.scss
  src/components/divider/themes/light/divider.fluent.scss
  src/components/divider/themes/light/divider.indigo.scss
  src/components/divider/themes/light/divider.material.scss
  src/components/divider/themes/light/divider.shared.scss
  src/components/divider/themes/shared/divider.common.scss
  src/components/divider/themes/shared/divider.indigo.scss
  src/components/divider/themes/themes.ts
  src/index.ts
  stories/divider.stories.ts
Labels: status: verified, feature, squash-merge, divider

#1264 fix(date-picker): Open interaction initial validation
  src/components/date-picker/date-picker.spec.ts
  src/components/date-picker/date-picker.ts
  stories/divider.stories.ts
Labels: date-picker

#1262 feat(radio-group): Set radio properties through the group
  CHANGELOG.md
  src/components/radio-group/radio-group.spec.ts
  src/components/radio-group/radio-group.ts
  src/components/radio/radio.ts
  src/components/radio/utils.ts
  stories/radio-group.stories.ts
Labels: status: verified, radio, radio-group, squash-merge

#1265 fix(date-time-input): Double `igcChange` emit
  CHANGELOG.md
  src/components/date-time-input/date-time-input.ts
Labels: date-time-input

#1267 fix(nav-drawer): Mini variant not initially visible
  CHANGELOG.md
  src/components/nav-drawer/nav-drawer.spec.ts
  src/components/nav-drawer/nav-drawer.ts
Labels: status: verified, nav-drawer

#1268 build: Bump linter packages
  package-lock.json
  package.json
Labels: dependencies

#1269 build: Updated typescript version and package.json metadata
  package-lock.json
  package.json
  scripts/_package.json
  scripts/gen-changelog.mjs
  scripts/report.js
  src/components/banner/banner.spec.ts
  src/theming/config.spec.ts
Labels: dependencies

#1270 build(deps): bump igniteui-theming to version 8.2.0
  package-lock.json
  package.json
Labels: status: verified, themes, circular-progress, chip, linear-progress, divider

#1261 fix(combo): resolve #1229 #1238 #1260
  CHANGELOG.md
  src/components/combo/combo.spec.ts
  src/components/combo/combo.ts
  src/components/combo/controllers/navigation.ts
  src/components/combo/controllers/selection.ts
Labels: status: verified, combo

#1176 deprecate(input): inputmode property
  CHANGELOG.md
  src/components/input/input.ts
  stories/input.stories.ts
Labels: input

#1271 build: Updated dependencies
  package-lock.json
  package.json
Labels: dependencies

#1274 build(deps): update igniteui-theming to version 9.0.0
  package-lock.json
  package.json
  src/components/calendar/themes/shared/bootstrap/year-month-view.bootstrap.scss
  src/components/calendar/themes/shared/fluent/year-month-view.fluent.scss
  src/components/calendar/themes/shared/indigo/year-month-view.indigo.scss
  src/components/calendar/themes/shared/material/year-month-view.material.scss
Labels: status: verified, themes, calendar, igniteui-theming

#1272 refactor(progress): update typography and sizes
  src/components/progress/themes/circular/circular.progress.base.scss
  src/components/progress/themes/circular/shared/circular.progress.bootstrap.scss
  src/components/progress/themes/circular/shared/circular.progress.common.scss
  src/components/progress/themes/circular/shared/circular.progress.fluent.scss
  src/components/progress/themes/circular/shared/circular.progress.indigo.scss
  src/components/progress/themes/linear/linear.progress.base.scss
  src/components/progress/themes/linear/shared/linear.progress.fluent.scss
  src/components/progress/themes/linear/shared/linear.progress.indigo.scss
Labels: status: verified, refactoring, circular-progress, linear-progress, design: verified

#1276 build: Bumped dependencies
  package-lock.json
  package.json
  scripts/build-typedoc.js
Labels: dependencies
