Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2024-03, with the labels that each got.

#1079 feat(avatar): set icon size in indigo avatar
  src/components/avatar/themes/shared/avatar.indigo.scss
Labels: status: awaiting-test, avatar, indigo-theme

#1084 feat(snackbar): implement indigo design changes
  src/components/snackbar/themes/shared/snackbar.indigo.scss
Labels: status: awaiting-test, snackbar, indigo-theme

#1071 feat(dialog): update indigo dialog paddings
  src/components/dialog/themes/dialog.base.scss
  src/components/dialog/themes/shared/dialog.indigo.scss
  stories/dialog.stories.ts
Labels: status: in-test, dialog, design: awaiting-validation, indigo-theme

#1069 feat(radio): update indigo radio to fit new UI kit
  src/components/radio/themes/shared/radio.indigo.scss
Labels: status: awaiting-test, radio, design: awaiting-validation, indigo-theme

#1068 feat(btn-group): implement indigo design changes
  src/components/button-group/themes/shared/button/button.common.scss
  src/components/button-group/themes/shared/button/button.indigo.scss
Labels: status: awaiting-test, design: awaiting-validation, indigo-theme, button-group

#1065 feat(button/icon button): update indigo buttons for new ui kit
  src/components/button/themes/button/shared/button.common.scss
  src/components/button/themes/button/shared/button.indigo.scss
  src/components/button/themes/icon-button/shared/icon-button.indigo.scss
Labels: button, status: in-test, icon-button, design: awaiting-validation, indigo-theme

#1058 refactor(input): implement indigo design changes
  src/components/input/themes/shared/input.indigo.scss
  src/components/textarea/themes/shared/textarea.common.scss
  src/components/textarea/themes/shared/textarea.indigo.scss
  src/components/textarea/themes/textarea.base.scss
Labels: status: verified, input, design: awaiting-validation, indigo-theme

#1057 feat(checkbox): update checkbox to new indigo theme
  src/components/checkbox/themes/shared/checkbox/checkbox.indigo.scss
Labels: status: awaiting-test, checkbox, indigo-theme

#1078 refactor: Animation player as controller
  src/animations/player.spec.ts
  src/animations/player.ts
  src/components/common/mixins/alert.ts
  src/components/dialog/dialog.ts
  src/components/expansion-panel/expansion-panel.ts
  src/components/snackbar/snackbar.ts
  src/components/stepper/step.ts
  src/components/toast/toast.ts
  src/components/tree/tree-item.ts
Labels: status: verified, squash-merge, refactoring, animations

#1072 feat(card): implement indigo design changes
  src/components/card/themes/actions.ts
  src/components/card/themes/card.actions.base.scss
  src/components/card/themes/container.ts
  src/components/card/themes/content.ts
  src/components/card/themes/dark/_themes.scss
  src/components/card/themes/dark/card.bootstrap.scss
  src/components/card/themes/dark/card.fluent.scss
  src/components/card/themes/dark/card.indigo.scss
  src/components/card/themes/dark/card.material.scss
  src/components/card/themes/dark/card.shared.scss
  src/components/card/themes/header.ts
  src/components/card/themes/light/content/card.content.bootstrap.scss
  src/components/card/themes/light/content/card.content.fluent.scss
  src/components/card/themes/light/content/card.content.indigo.scss
  src/components/card/themes/light/content/card.content.material.scss
  src/components/card/themes/light/header/card.header.bootstrap.scss
  src/components/card/themes/light/header/card.header.fluent.scss
  src/components/card/themes/light/header/card.header.indigo.scss
  src/components/card/themes/light/header/card.header.material.scss
  src/components/card/themes/shared/actions/card.actions.indigo.scss
  src/components/card/themes/shared/container/card.indigo.scss
  src/components/card/themes/shared/header/card.header.indigo.scss
  stories/card.stories.ts
Labels: status: awaiting-test, card, design: awaiting-validation, indigo-theme

#1091 chore: Updated dev dependencies
  package-lock.json
  package.json
Labels: dependencies

#1093 chore: update analyzer attributes
  src/components/combo/combo.ts
  src/components/dropdown/dropdown.ts
  src/components/input/input.ts
  src/components/popover/popover.ts
  src/components/select/select.ts
  src/components/textarea/textarea.ts
  src/components/tree/tree.navigation.ts
  src/components/tree/tree.selection.ts
Labels: documentation, blazor

#1095 chore(button-group): add toggle button dep analyzer attr
  src/components/button-group/button-group.ts
Labels: documentation, blazor, button-group

#1097 chore(textarea): add textarea two-way analyzer attr
  src/components/textarea/textarea.ts
Labels: documentation, blazor, text area

#1098 build: Updated to lastest TS
  package-lock.json
  package.json
Labels: dependencies

#1096 refactor: Migrate to globalThis references
  src/components/common/mixins/alert.ts
  src/components/common/util.ts
  src/components/nav-drawer/nav-drawer.ts
  src/components/popover/popover.ts
  src/components/radio/utils.ts
  src/theming/config.spec.ts
  src/theming/config.ts
  src/theming/theming-controller.ts
  src/theming/utils.ts
Labels: squash-merge, refactoring

#1101 chore: CS suppress case-only renamed deprecated props
  src/components/common/mixins/sizable.ts
  src/components/date-time-input/date-time-input.ts
  src/components/dropdown/dropdown.ts
  src/components/form/form.ts
  src/components/input/input-base.ts
  src/components/input/input.ts
  src/components/rating/rating.ts
  src/components/slider/range-slider.ts
Labels: documentation, input, rating, blazor

#1103 refactor(dropdown,select): make base abstract
  src/components/common/mixins/combo-box.ts
  src/components/common/mixins/event-emitter.ts
  src/components/dropdown/dropdown.ts
  src/components/select/select.ts
Labels: refactoring, drop-down, select

#1104 fix(input): outline border and undefined value
  src/components/input/themes/shared/input.material.scss
  stories/input.stories.ts
Labels: status: verified, input, design: verified

#1113 chore: Updated dev dependencies
  package-lock.json
  package.json
Labels: dependencies

#1090 refactor(themes): implement Indigo Theme changes
  package-lock.json
  package.json
  src/components/avatar/themes/shared/avatar.indigo.scss
  src/components/badge/themes/shared/badge.indigo.scss
  src/components/badge/themes/themes.ts
  src/components/button-group/themes/shared/button/button.common.scss
  src/components/button-group/themes/shared/button/button.indigo.scss
  src/components/button/themes/button/shared/button.common.scss
  src/components/button/themes/button/shared/button.indigo.scss
  src/components/button/themes/icon-button/shared/icon-button.indigo.scss
  src/components/card/themes/actions.ts
  src/components/card/themes/card.actions.base.scss
  src/components/card/themes/card.content.base.scss
  src/components/card/themes/container.ts
  src/components/card/themes/content.ts
  src/components/card/themes/dark/_themes.scss
  src/components/card/themes/dark/card.bootstrap.scss
  src/components/card/themes/dark/card.fluent.scss
  src/components/card/themes/dark/card.indigo.scss
  src/components/card/themes/dark/card.material.scss
  src/components/card/themes/dark/card.shared.scss
  src/components/card/themes/header.ts
  src/components/card/themes/light/content/card.content.bootstrap.scss
  src/components/card/themes/light/content/card.content.fluent.scss
  src/components/card/themes/light/content/card.content.indigo.scss
  src/components/card/themes/light/content/card.content.material.scss
  src/components/card/themes/light/header/card.header.bootstrap.scss
  src/components/card/themes/light/header/card.header.fluent.scss
  src/components/card/themes/light/header/card.header.indigo.scss
  src/components/card/themes/light/header/card.header.material.scss
  src/components/card/themes/shared/actions/card.actions.indigo.scss
  src/components/card/themes/shared/container/card.indigo.scss
  src/components/card/themes/shared/header/card.header.indigo.scss
  src/components/checkbox/themes/shared/checkbox/checkbox.indigo.scss
  src/components/dialog/themes/dialog.base.scss
  src/components/dialog/themes/shared/dialog.indigo.scss
  src/components/expansion-panel/themes/shared/expansion-panel.common.scss
  src/components/expansion-panel/themes/shared/expansion-panel.indigo.scss
  src/components/input/themes/shared/input.bootstrap.scss
  src/components/input/themes/shared/input.common.scss
  src/components/input/themes/shared/input.fluent.scss
  src/components/input/themes/shared/input.indigo.scss
  src/components/input/themes/shared/input.material.scss
  src/components/radio-group/radio-group.indigo.scss
  src/components/radio-group/radio-group.ts
  src/components/radio/themes/shared/radio.indigo.scss
  src/components/snackbar/themes/shared/snackbar.indigo.scss
  src/components/snackbar/themes/snackbar.base.scss
  src/components/stepper/themes/step/step.base.scss
  src/components/textarea/themes/shared/textarea.common.scss
  src/components/textarea/themes/shared/textarea.indigo.scss
  src/components/textarea/themes/textarea.base.scss
  src/styles/themes/base/_indigo.scss
  stories/badge.stories.ts
  stories/button.stories.ts
  stories/card.stories.ts
  stories/checkbox.stories.ts
  stories/dialog.stories.ts
  stories/input.stories.ts
Labels: status: verified, squash-merge, design: verified, indigo-theme

#1115 fix(date-input): inputFormat not applied on already set value
  CHANGELOG.md
  src/components/date-time-input/date-time-input.spec.ts
  src/components/date-time-input/date-time-input.ts
Labels: status: verified, squash-merge, date-time-input

#1119 chore: Updated dev dependencies
  package-lock.json
  package.json
Labels: dependencies
