Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2024-01, with the labels that each got.

#1013 build: Bumped dev dependencies
  package-lock.json
  package.json
  src/components/calendar/calendar-keyboard-navigation.spec.ts
Labels: dependencies

#1007 Code cleanups and WAI-ARIA improvements
  CHANGELOG.md
  src/components/avatar/avatar.spec.ts
  src/components/avatar/avatar.ts
  src/components/badge/badge.spec.ts
  src/components/badge/badge.ts
  src/components/button-group/toggle-button.ts
  src/components/button/button-base.ts
  src/components/button/button.spec.ts
  src/components/button/button.ts
  src/components/button/icon-button.spec.ts
  src/components/combo/combo-item.ts
  src/components/combo/combo-list.ts
  src/components/combo/combo.spec.ts
  src/components/combo/combo.ts
  src/components/combo/operations/group.ts
  src/components/common/controllers/root-click.ts
  src/components/dialog/dialog.spec.ts
  src/components/icon/icon.ts
  src/components/toggle/test.component.spec.ts
  src/components/toggle/toggle.controller.ts
  src/components/toggle/toggle.directive.ts
  src/components/toggle/toggle.spec.ts
  src/components/toggle/types.ts
  stories/avatar.stories.ts
  stories/badge.stories.ts
  stories/button.stories.ts
  stories/icon-button.stories.ts
Labels: a11y, enhancement, status: verified, avatar, badge, button, link-button, squash-merge, icon, refactoring, combo

#1011 fix(nav-drawer): hide mini variant
  src/components/nav-drawer/themes/container.base.scss
Labels: bug, status: verified, nav-drawer

#1005 style: simplify theme styles
  src/components/avatar/avatar.ts
  src/components/avatar/themes/themes.ts
  src/components/badge/badge.ts
  src/components/badge/themes/themes.ts
  src/components/button-group/button-group.ts
  src/components/button-group/themes/button.ts
  src/components/button-group/themes/group.ts
  src/components/button-group/toggle-button.ts
  src/components/button/button.ts
  src/components/button/icon-button.ts
  src/components/button/themes/button/themes.ts
  src/components/button/themes/icon-button/themes.ts
  src/components/calendar/calendar.ts
  src/components/calendar/themes/calendar.ts
  src/components/card/card.content.ts
  src/components/card/card.header.ts
  src/components/card/card.ts
  src/components/card/themes/container.ts
  src/components/card/themes/content.ts
  src/components/card/themes/header.ts
  src/components/chip/chip.ts
  src/components/chip/themes/themes.ts
  src/components/dialog/dialog.ts
  src/components/dialog/themes/themes.ts
  src/components/expansion-panel/expansion-panel.ts
  src/components/expansion-panel/themes/themes.ts
  src/components/icon/icon.ts
  src/components/icon/themes/themes.ts
  src/components/list/list-header.ts
  src/components/list/list-item.ts
  src/components/list/themes/header.ts
  src/components/list/themes/item.ts
  src/components/nav-drawer/nav-drawer-header-item.ts
  src/components/nav-drawer/nav-drawer-item.ts
  src/components/nav-drawer/nav-drawer.ts
  src/components/nav-drawer/themes/container.ts
  src/components/nav-drawer/themes/header-item.ts
  src/components/nav-drawer/themes/item.ts
  src/components/navbar/navbar.ts
  src/components/navbar/themes/themes.ts
  src/components/progress/circular-progress.ts
  src/components/progress/linear-progress.ts
  src/components/progress/themes/circular/themes.ts
  src/components/progress/themes/linear/themes.ts
  src/components/rating/rating.ts
  src/components/rating/themes/themes.ts
  src/components/snackbar/snackbar.ts
  src/components/snackbar/themes/themes.ts
  src/components/stepper/step.ts
  src/components/stepper/themes/step/themes.ts
  src/components/tabs/tab.ts
  src/components/tabs/tabs.ts
  src/components/tabs/themes/tab-themes.ts
  src/components/tabs/themes/tabs-themes.ts
  src/components/toast/themes/themes.ts
  src/components/toast/toast.ts
Labels: themes, web-components

#1003 Add toggleNodeOnClick property
  CHANGELOG.md
  src/components/tree/tree-item.ts
  src/components/tree/tree.spec.ts
  src/components/tree/tree.ts
  stories/tree.stories.ts
Labels: status: verified, tree

#1015 feat(rating): Added property to prevent deselection of current value
  CHANGELOG.md
  src/components/rating/rating.spec.ts
  src/components/rating/rating.ts
  stories/rating.common.ts
  stories/rating.stories.ts
Labels: squash-merge, rating

#1044 refactor(btn-group): update fluent theme styles
  package-lock.json
  package.json
  src/components/button-group/themes/shared/button/button.fluent.scss
Labels: enhancement, status: verified, fluent-theme, design: verified, button-group

#1048 build: Updated dependencies
  .husky/pre-commit
  package-lock.json
  package.json
  scripts/_package.json
Labels: dependencies
