Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2024-04, with the labels that each got.

#1124 fix(igc-dialog): do not display title or footer with no content
  src/components/dialog/dialog.ts
  src/components/dialog/themes/dialog.base.scss
Labels: status: verified, dialog

#1130 fix(radio): fix radio label type style in bootstrap
  src/components/radio/themes/shared/radio.bootstrap.scss
Labels: status: verified, radio, squash-merge

#1125 fix(select, dropdown): Clicks inside item slotted content
  CHANGELOG.md
  src/components/common/util.ts
  src/components/dropdown/dropdown.spec.ts
  src/components/dropdown/dropdown.ts
  src/components/select/select.spec.ts
  src/components/select/select.ts
Labels: status: verified, squash-merge, drop-down, select

#1118 feat(slider): implement indigo slider
  src/components/slider/themes/shared/slider.indigo.scss
Labels: status: awaiting-test, slider, design: awaiting-validation

#1133 fix(tree): Active tree item on click
  CHANGELOG.md
  src/components/tree/tree-item.ts
Labels: status: verified, tree

#1135 fix(slider): allow touch sliding
  src/components/slider/themes/slider.base.scss
Labels: status: verified, slider

#1136 build: Updated dev dependencies
  package-lock.json
  package.json
Labels: dependencies

#1128 fix(radio, checkbox, switch): Synchronous form validation
  CHANGELOG.md
  src/components/accordion/accordion.ts
  src/components/checkbox/checkbox-base.ts
  src/components/checkbox/checkbox.spec.ts
  src/components/common/mixins/combo-box.ts
  src/components/common/mixins/form-associated.ts
  src/components/dialog/dialog.ts
  src/components/radio/radio.spec.ts
  src/components/radio/radio.ts
  src/components/radio/utils.ts
  src/components/tree/tree-item.ts
Labels: status: verified, switch, radio, squash-merge, checkbox

#1138 docs: Updated CHANGELOG.md
  CHANGELOG.md
Labels: documentation

#1142 fix(tabs): Tabs throw if a child tab is immediately appended
  CHANGELOG.md
  src/components/tabs/tabs.spec.ts
  src/components/tabs/tabs.ts
Labels: status: verified, tab

#1137 feat(tree): implement new indigo tree design
  src/components/tree/themes/shared/item.common.scss
  src/components/tree/themes/shared/item.indigo.scss
Labels: status: awaiting-test, tree, design: awaiting-validation

#1146 fix(checkbox, switch): participate in form submission when initially checked
  CHANGELOG.md
  src/components/checkbox/checkbox-base.ts
  src/components/checkbox/checkbox.spec.ts
  src/components/dialog/dialog.ts
  stories/checkbox.stories.ts
  stories/switch.stories.ts
Labels: switch, squash-merge, checkbox

#1150 refactor(dialog): Hiding with event sequence
  src/components/dialog/dialog.ts
Labels: refactoring, dialog

#1151 fix(typography): bootstrap theme type-styles
  src/components/checkbox/themes/shared/switch/switch.bootstrap.scss
  src/components/list/themes/shared/item/list-item.bootstrap.scss
  src/components/nav-drawer/themes/item.ts
  src/components/nav-drawer/themes/shared/item/item.bootstrap.scss
Labels: status: verified, switch, list, nav-drawer, bootstrap-theme

#1153 chore(select): add analyzer tag for value two way binding
  src/components/select/select.ts
Labels: select

#1154 chore(rating,slider): add analyzer tag for value two way binding
  src/components/rating/rating.ts
  src/components/slider/slider.ts
Labels: slider, rating, blazor

#1158 build: Updated dev dependencies
  package-lock.json
  package.json
Labels: dependencies

#1157 fix(tabs, blazor): Wrapper container is undefined
  src/components/tabs/tabs.ts
Labels: blazor, tab

#1159 docs: Updated CHANGELOG
  CHANGELOG.md
Labels: changelog

#1156 refactor(chip): remove explicit icon sizes
  src/components/chip/themes/chip.base.scss
Labels: status: verified, themes, chip, design: verified

#1168 feat(button-group): clear selection via selectedItems
  CHANGELOG.md
  src/components/button-group/button-group.spec.ts
  src/components/button-group/button-group.ts
Labels: status: verified, button-group

#1082 feat: Use the Popover API to render floating elements
  CHANGELOG.md
  src/components/combo/themes/combo.base.scss
  src/components/popover/popover.ts
  src/components/popover/themes/light/popover.base.scss
Labels: status: verified, feature, squash-merge, popover

#1172 build: Disabled storybook autodocs feature
  .storybook/main.ts
Labels: documentation, :book: storybook

#1175 deprecate(dropdown): positionStrategy deprecation
  CHANGELOG.md
  src/components/combo/combo.ts
  src/components/dropdown/dropdown.ts
  src/components/popover/popover.spec.ts
  src/components/popover/popover.ts
  src/components/popover/themes/light/popover.base.scss
  src/components/select/select.ts
  stories/combo.stories.ts
  stories/dialog.stories.ts
  stories/dropdown.stories.ts
Labels: squash-merge, drop-down

#1173 refactor(btn-group): Removed theme property listener
  src/components/button-group/button-group.ts
Labels: refactoring, button-group

#1164 refactor(mask): Parser perf improvements
  src/components/mask-input/mask-parser.ts
Labels: refactoring, mask

#1182 fix(date-time input): Label in Material with read-only
  CHANGELOG.md
  src/components/date-time-input/date-time-input.ts
  tsconfig.json
Labels: status: verified, date-time-input

#1178 feat(input,textarea): Added validate-only
  CHANGELOG.md
  src/components/input/input.ts
  src/components/textarea/textarea.ts
  stories/input.stories.ts
  stories/textarea.stories.ts
Labels: enhancement, status: verified, squash-merge, input, text area

#1186 refactor: Do not create dynamic theme property
  src/components/button-group/toggle-button.ts
  src/components/common/util.ts
  src/components/common/validators.ts
  src/components/date-time-input/date-time-input.ts
  src/components/progress/base.ts
  src/components/rating/rating.ts
  src/components/slider/slider-base.ts
  src/components/stepper/step.ts
  src/components/tabs/tab.ts
  src/components/tabs/tabs.ts
  src/components/tree/tree-item.ts
Labels: refactoring, rating
