Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2024-11, with the labels that each got.

#1457 refactor(carousel): select index overload, change detail, suppress slides
  CHANGELOG.md
  src/components/carousel/carousel.spec.ts
  src/components/carousel/carousel.ts
Labels: squash-merge, refactoring, blazor, carousel

#1460 build(deps): Bumped Storybook to latest
  package-lock.json
  package.json
Labels: dependencies

#1459 fix(tabs): Nested tabs selection behavior
  CHANGELOG.md
  src/components/button-group/button-group.ts
  src/components/carousel/carousel.ts
  src/components/common/controllers/mutation-observer.ts
  src/components/tabs/tabs.spec.ts
  src/components/tabs/tabs.ts
Labels: :white_check_mark: status: verified, squash-merge, tab

#1461 chore: Added library branding to Storybook samples
  .storybook/manager-head.html
  .storybook/preview-head.html
Labels: :book: storybook

#1463 docs: Updated CHANGELOG
  CHANGELOG.md
Labels: changelog

#1469 build(deps): Bumped dependencies
  package-lock.json
  package.json
Labels: dependencies

#1474 deps(theming): bump to 14.2.0
  package-lock.json
  package.json
Labels: dependencies, igniteui-theming

#1476 build(deps): Updated dev dependencies
  package-lock.json
  package.json
Labels: dependencies

#1466 fix(badge): align colors with UI kits
  src/components/badge/themes/badge.base.scss
  src/components/badge/themes/shared/badge.common.scss
  src/components/badge/themes/shared/badge.indigo.scss
Labels: :white_check_mark: status: verified, themes, badge

#1472 fix(card): fix card actions content alignment in vertical orientation.
  src/components/card/themes/card.actions.base.scss
Labels: :white_check_mark: status: verified, card

#1475 fix(dialog): fluent theme typography
  src/components/dialog/themes/shared/dialog.fluent.scss
Labels: :white_check_mark: status: verified, fluent-theme, dialog

#1471 fix(dropdown): remove bootstrap top and bottom padding from the base part
  src/components/dropdown/themes/header.ts
  src/components/dropdown/themes/shared/dropdown.bootstrap.scss
  src/components/dropdown/themes/shared/header/dropdown-header.fluent.scss
Labels: :white_check_mark: status: verified, drop-down

#1480 refactor(list): update item gaps
  src/components/list/themes/item.base.scss
  src/components/list/themes/shared/container/list.indigo.scss
  src/components/list/themes/shared/item/list-item.common.scss
  src/components/list/themes/shared/item/list-item.indigo.scss
Labels: :white_check_mark: status: verified, themes, list

#1482 fix(radio): remove label part when there's no text in the slot
  src/components/radio/radio.ts
Labels: :white_check_mark: status: verified, radio

#1479 fix(checkbox): remove extra gap
  src/components/checkbox/checkbox-base.ts
  src/components/checkbox/checkbox.ts
  src/components/checkbox/themes/checkbox.base.scss
  src/components/checkbox/themes/shared/checkbox/checkbox.bootstrap.scss
  src/components/checkbox/themes/shared/checkbox/checkbox.fluent.scss
  src/components/checkbox/themes/shared/checkbox/checkbox.indigo.scss
  src/components/checkbox/themes/shared/checkbox/checkbox.material.scss
Labels: :x: status: awaiting-test, checkbox

#1470 refactor: Added support for string-based property values for date based components
  CHANGELOG.md
  src/components/calendar/base.ts
  src/components/calendar/calendar.interaction.spec.ts
  src/components/calendar/calendar.ts
  src/components/calendar/helpers.ts
  src/components/date-picker/date-picker.spec.ts
  src/components/date-picker/date-picker.ts
  src/components/date-time-input/date-time-input.spec.ts
  src/components/date-time-input/date-time-input.ts
  src/components/date-time-input/date-util.spec.ts
  src/components/date-time-input/date-util.ts
  tsconfig.json
Labels: :white_check_mark: status: verified, squash-merge, calendar, date-picker, date-time-input

#1487 build(deps): Bumped dependencies and update playwrigt CI hook
  .github/workflows/node.js.yml
  package-lock.json
  package.json
Labels: dependencies

#1491 build(deps): Bumped dependencies
  package-lock.json
  package.json
Labels: dependencies

#1488 fix(list): discrepancies with UI Kit
  package-lock.json
  package.json
  src/components/list/themes/item.base.scss
  src/components/list/themes/shared/item/list-item.common.scss
  src/components/list/themes/shared/item/list-item.fluent.scss
  src/components/list/themes/shared/item/list-item.indigo.scss
Labels: :white_check_mark: status: verified, themes, list

#1489 feat(checkbox): update checkbox implementation and slotted checkbox styles
  src/components/checkbox/themes/checkbox.base.scss
  src/components/checkbox/themes/shared/checkbox/checkbox.bootstrap.scss
  src/components/checkbox/themes/shared/checkbox/checkbox.fluent.scss
  src/components/checkbox/themes/shared/checkbox/checkbox.indigo.scss
  src/components/checkbox/themes/shared/checkbox/checkbox.material.scss
  src/components/list/themes/item.base.scss
  src/components/tree/themes/shared/item.material.scss
Labels: :white_check_mark: status: verified, themes, checkbox
