Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2024-08, with the labels that each got.

#1338 test(calendar): Fixed flaky test
  src/components/calendar/calendar-rendering.spec.ts
Labels: calendar, tests

#1336 refactor(icon-service): update icon references
  CHANGELOG.md
  src/components/common/util.ts
  src/components/icon/icon-references.ts
  src/components/icon/icon.registry.ts
  src/components/rating/rating.ts
  src/components/tree/themes/item.base.scss
  src/components/tree/tree-item.ts
  src/components/tree/tree-utils.spec.ts
  src/components/tree/tree.spec.ts
  src/theming/theming-controller.ts
  src/theming/theming-decorator.ts
Labels: :white_check_mark: status: verified, icon, 5.0.0

#1232 fix(IgcCombo): Add a tag that generates generic type for blazor.
  src/components/combo/combo.ts
  src/components/input/input.ts
Labels: squash-merge, 5.0.0

#1341 build: Bumped dev dependencies
  package-lock.json
  package.json
Labels: dependencies

#1325 removal: Remove custom focus/blur events
  CHANGELOG.md
  src/components/button/button-base.ts
  src/components/button/button.spec.ts
  src/components/button/button.ts
  src/components/button/icon-button.ts
  src/components/checkbox/checkbox-base.ts
  src/components/checkbox/checkbox.spec.ts
  src/components/checkbox/checkbox.ts
  src/components/checkbox/switch.spec.ts
  src/components/checkbox/switch.ts
  src/components/combo/combo.ts
  src/components/combo/types.ts
  src/components/common/utils.spec.ts
  src/components/date-time-input/date-time-input.spec.ts
  src/components/date-time-input/date-time-input.ts
  src/components/input/input-base.ts
  src/components/input/input.spec.ts
  src/components/input/input.ts
  src/components/mask-input/mask-input.ts
  src/components/radio-group/radio-group.spec.ts
  src/components/radio/radio.spec.ts
  src/components/radio/radio.ts
  src/components/select/select.ts
  src/components/textarea/textarea.spec.ts
  src/components/textarea/textarea.ts
  stories/button.stories.ts
  stories/checkbox.stories.ts
  stories/combo.stories.ts
  stories/date-time-input.stories.ts
  stories/input.stories.ts
  stories/mask-input.stories.ts
  stories/radio-group.stories.ts
  stories/radio.stories.ts
  stories/select.stories.ts
  stories/switch.stories.ts
  stories/textarea.stories.ts
Labels: switch, squash-merge, checkbox, input, mask, select, combo, breaking-change, date-time-input, 5.0.0

#1295 feat(icon-registry): add broadcast channel to sync icons.
  src/components/icon/icon-state.broadcast.ts
  src/components/icon/icon.registry.ts
  src/components/icon/icon.spec.ts
  src/components/icon/icon.ts
  src/components/icon/registry/default-map.ts
  src/components/icon/registry/types.ts
Labels: :white_check_mark: status: verified, squash-merge, icon, 5.0.0

#1340 fix: Programmatic showing of popovers
  CHANGELOG.md
  src/components/common/controllers/root-click.ts
  src/components/common/mixins/combo-box.ts
  src/components/date-picker/date-picker.ts
  src/components/dropdown/dropdown.spec.ts
  src/components/dropdown/dropdown.ts
  src/components/select/select.spec.ts
  src/components/select/select.ts
  stories/dropdown.stories.ts
Labels: :white_check_mark: status: verified, drop-down, select, date-picker, 5.0.0

#1332 refactor: Migrate common union types to a type alias
  cem.config.mjs
  package-lock.json
  package.json
  scripts/build-stories.mjs
  src/components/badge/badge.ts
  src/components/calendar/base.ts
  src/components/chip/chip.ts
  src/components/date-picker/date-picker.ts
  src/components/input/input-base.ts
  src/components/input/input.ts
  src/components/mask-input/mask-input-base.ts
  src/components/progress/base.ts
  src/components/textarea/textarea.ts
  src/components/types.ts
  src/index.ts
  stories/chip.stories.ts
Labels: refactoring, blazor, 5.0.0

#1345 refactor: analyzer meta adjustments
  src/components/checkbox/checkbox-base.ts
  src/components/common/controllers/key-bindings.ts
  src/components/common/controllers/mutation-observer.ts
  src/components/divider/divider.ts
  src/components/icon/registry/types.ts
  src/components/radio-group/radio-group.ts
  src/components/radio/radio.ts
Labels: blazor, 5.0.0

#1330 refactor(circular-progress): use relative font size
  package-lock.json
  package.json
  src/components/progress/themes/circular/circular.progress.base.scss
  src/components/progress/themes/circular/shared/circular.progress.bootstrap.scss
  src/components/progress/themes/circular/shared/circular.progress.common.scss
  src/components/progress/themes/circular/shared/circular.progress.fluent.scss
  src/components/progress/themes/circular/shared/circular.progress.indigo.scss
  src/components/progress/themes/vars.scss
Labels: :white_check_mark: status: verified, circular-progress, design: verified

#1353 build: Updated Lit packages and non-major dependencies
  package-lock.json
  package.json
  scripts/_package.json
Labels: dependencies

#1348 refactor(icons): update input clear icon in material theme
  src/components/icon/icon-references.ts
Labels: icon, refactoring

#1355 refactor: Clean up the code for #1340
  src/components/common/controllers/root-click.ts
  src/components/common/mixins/combo-box.ts
  src/components/date-picker/date-picker.spec.ts
  src/components/dropdown/dropdown.spec.ts
  src/components/select/select.spec.ts
Labels: squash-merge, drop-down, select, date-picker

#1350 chore(input): revert generic input in blazor
  src/components/input/input.ts
Labels: input, blazor

#1354 chore(*): Do not use spread operator for object in icon service.
  src/components/icon/icon.registry.ts
  src/components/icon/icon.spec.ts
Labels: :white_check_mark: status: verified, squash-merge, icon

#1361 feat(indigo-icons): add indigo-specific icons and references
  src/components/checkbox/checkbox.ts
  src/components/checkbox/themes/shared/checkbox/checkbox.indigo.scss
  src/components/icon/icon-references.ts
  src/components/icon/internal-icons-lib.ts
Labels: :x: status: awaiting-test, themes, icon, design: awaiting-validation, indigo-theme

#1360 fix(icon-registry): broadcast sync external icon refs only
  src/components/icon/icon-state.broadcast.ts
  src/components/icon/icon.registry.ts
  src/components/icon/icon.spec.ts
Labels: :white_check_mark: status: verified, squash-merge, icon, 5.0.0

#1365 build: Bumped dependencies
  package-lock.json
  package.json
Labels: dependencies

#1357 fix(radio): Initial checked state through DOM attribute
  CHANGELOG.md
  src/components/common/mixins/form-associated.ts
  src/components/radio-group/radio-group.spec.ts
  src/components/radio-group/radio-group.ts
  src/components/radio/radio.ts
Labels: :white_check_mark: status: verified, radio, radio-group, squash-merge, 5.0.0

#1366 docs: Updated CHANGELOG for 5.0.0
  CHANGELOG.md
Labels: changelog

#1367 fix(select): Tab key behaviour with open dropdown
  CHANGELOG.md
  src/components/select/select.spec.ts
  src/components/select/select.ts
Labels: select

#1370 fix(radio): Use checked property instead of attribute when resolving group query
  src/components/radio-group/radio-group.spec.ts
  src/components/radio/radio.ts
  src/components/radio/utils.ts
Labels: radio, radio-group

#1371 docs: Updated CHANGELOG
  CHANGELOG.md
Labels: changelog

#1331 refactor(scrollbar): Update the styles to consume colors from schemas
  CHANGELOG.md
  package-lock.json
  package.json
  src/styles/common/component.scss
  src/styles/themes/base/_bootstrap.scss
  src/styles/themes/base/_fluent.scss
  src/styles/themes/base/_indigo.scss
  src/styles/themes/base/_material.scss
  src/styles/themes/base/_scrollbars.scss
  src/styles/themes/dark/bootstrap.scss
  src/styles/themes/dark/fluent.scss
  src/styles/themes/dark/indigo.scss
  src/styles/themes/dark/material.scss
  src/styles/themes/light/bootstrap.scss
  src/styles/themes/light/fluent.scss
  src/styles/themes/light/indigo.scss
  src/styles/themes/light/material.scss
  src/styles/utilities/_index.scss
  src/styles/utilities/_mixins.scss
Labels: :white_check_mark: status: verified, design: verified, scrollbars
