Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2024-07, with the labels that each got.

#1242 refactor(select): Do not invoke focus on active property change
  src/components/common/mixins/option.ts
  src/components/dropdown/dropdown-item.ts
  src/components/dropdown/dropdown.spec.ts
  src/components/dropdown/dropdown.ts
  src/components/select/select-item.ts
  src/components/select/select.spec.ts
  src/components/select/select.ts
Labels: squash-merge, refactoring, drop-down, select

#1277 docs: Updated CHANGELOG.md
  CHANGELOG.md
Labels: documentation

#1287 build: Updated dependencies
  package-lock.json
  package.json
Labels: dependencies

#1249 Indigo Themes: Updates to Toast, Stepper, Rating
  package-lock.json
  package.json
  src/components/rating/themes/rating-symbol.base.scss
  src/components/rating/themes/rating.base.scss
  src/components/rating/themes/shared/rating.indigo.scss
  src/components/stepper/themes/step/shared/step.common.scss
  src/components/stepper/themes/step/shared/step.indigo.scss
  src/components/stepper/themes/stepper/stepper.indigo.scss
  src/components/toast/themes/shared/toast.bootstrap.scss
  src/components/toast/themes/shared/toast.common.scss
  src/components/toast/themes/shared/toast.fluent.scss
  src/components/toast/themes/toast.base.scss
  stories/stepper.stories.ts
Labels: rating, toast, design: verified, indigo-theme, stepper

#1288 refactor(stepper): split body and content animations
  CHANGELOG.md
  src/components/stepper/animations.ts
  src/components/stepper/step.ts
  src/components/stepper/themes/step/step.base.scss
  src/components/stepper/themes/stepper/stepper.base.scss
  stories/stepper.stories.ts
Labels: status: verified, themes, design: verified, stepper, animations

#1281 removal(igc-form): Use native form element
  CHANGELOG.md
  src/components/common/definitions/defineAllComponents.ts
  src/components/dialog/dialog.spec.ts
  src/components/dialog/dialog.ts
  src/components/form/form.spec.ts
  src/components/form/form.ts
  src/components/mask-input/mask-input.spec.ts
  src/index.ts
  stories/dialog.stories.ts
  stories/form.stories.ts
Labels: forms

#1286 removal(igc-range-slider): ariaThumbLower/ariaThumbUpper
  CHANGELOG.md
  src/components/slider/range-slider.ts
  src/components/slider/slider.spec.ts
Labels: slider

#1285 removal(igc-rating): readonly property
  CHANGELOG.md
  src/components/rating/rating.ts
Labels: rating

#1284 removal(igc-dialog): closeOnEscape property
  CHANGELOG.md
  src/components/dialog/dialog.ts
Labels: dialog

#1283 removal: Popover deprecated properties
  CHANGELOG.md
  src/components/combo/combo.spec.ts
  src/components/combo/combo.ts
  src/components/dropdown/dropdown.ts
  src/components/select/select.ts
Labels: drop-down, select, combo

#1282 removal(igc-input): readonly, inputmode, maxlength and minlength
  CHANGELOG.md
  src/components/input/input-base.ts
  src/components/input/input.spec.ts
  src/components/input/input.ts
  src/components/mask-input/mask-input.spec.ts
  src/components/mask-input/mask-input.ts
Labels: input, mask

#1294 build: Bumped dependencies
  package-lock.json
  package.json
Labels: dependencies

#1296 build: Bumped dependencies
  package-lock.json
  package.json
Labels: dependencies

#1298 refactor: Migrate snackbar and toast to async public API
  src/components/common/mixins/alert.ts
  src/components/snackbar/snackbar.spec.ts
  src/components/toast/toast.spec.ts
Labels: :white_check_mark: status: verified, refactoring, snackbar, toast

#1299 refactor: Migrate dropdown, select and date-picker to async public API
  src/components/common/mixins/combo-box.ts
  src/components/dropdown/dropdown.ts
  src/components/select/select.ts
Labels: :white_check_mark: status: verified, refactoring, drop-down, select, date-picker

#1290 refactor(navbar): update theme to more closely match angular
  src/components/navbar/themes/navbar.base.scss
  stories/navbar.stories.ts
Labels: :white_check_mark: status: verified, themes, navbar

#1279 refactor: Removing size property from components
  CHANGELOG.md
  src/components/avatar/avatar.spec.ts
  src/components/avatar/avatar.ts
  src/components/banner/banner.spec.ts
  src/components/button/button-base.ts
  src/components/button/button.ts
  src/components/button/icon-button.spec.ts
  src/components/button/icon-button.ts
  src/components/calendar/calendar-keyboard-navigation.spec.ts
  src/components/calendar/calendar-rendering.spec.ts
  src/components/calendar/calendar.ts
  src/components/chip/chip.spec.ts
  src/components/chip/chip.ts
  src/components/common/mixins/sizable.ts
  src/components/common/utils.spec.ts
  src/components/date-picker/themes/shared/date-picker.common.scss
  src/components/dialog/dialog.spec.ts
  src/components/dialog/themes/shared/dialog.common.scss
  src/components/dropdown/dropdown.ts
  src/components/expansion-panel/expansion-panel.spec.ts
  src/components/icon/icon.ts
  src/components/input/input-base.ts
  src/components/input/input.spec.ts
  src/components/list/list.ts
  src/components/rating/rating.spec.ts
  src/components/rating/rating.ts
  src/components/snackbar/snackbar.spec.ts
  src/components/snackbar/snackbar.ts
  src/components/stepper/stepper-utils.spec.ts
  src/components/tabs/tabs.ts
  src/components/tree/tree-utils.spec.ts
  src/components/tree/tree.spec.ts
  src/components/tree/tree.ts
  stories/card.stories.ts
  stories/navbar.stories.ts
  stories/tabs.stories.ts
Labels: breaking-change

#1300 refactor: Migrate dialog to async public API
  src/components/common/util.ts
  src/components/common/utils.spec.ts
  src/components/dialog/dialog.spec.ts
  src/components/dialog/dialog.ts
Labels: refactoring, dialog

#1306 build: Bumped dependencies
  package-lock.json
  package.json
Labels: dependencies

#1198 refactor: Removed blazor decorators
  src/components/accordion/accordion.ts
  src/components/button/icon-button.ts
  src/components/calendar/calendar.ts
  src/components/calendar/common/calendar-base.ts
  src/components/checkbox/checkbox-base.ts
  src/components/chip/chip.ts
  src/components/common/decorators/alternateName.ts
  src/components/common/decorators/blazorSuppress.ts
  src/components/common/decorators/blazorTwoWayBind.ts
  src/components/dropdown/dropdown-group.ts
  src/components/dropdown/dropdown.ts
  src/components/input/input-base.ts
  src/components/mask-input/mask-input.ts
  src/components/radio/radio.ts
  src/components/select/select.ts
  src/components/tree/tree-item.ts
  src/components/tree/tree.ts
  stories/calendar.stories.ts
Labels: refactoring

#1311 build: Updated dependencies
  package-lock.json
  package.json
Labels: dependencies

#1312 style(*): remove sass warnings
  src/components/list/themes/shared/item/list-item.common.scss
  src/components/stepper/themes/stepper/stepper.base.scss
  src/components/stepper/themes/stepper/stepper.bootstrap.scss
  src/components/stepper/themes/stepper/stepper.fluent.scss
  src/components/stepper/themes/stepper/stepper.indigo.scss
  src/components/textarea/themes/textarea.base.scss
  src/styles/common/component.scss
Labels: :white_check_mark: status: verified, themes

#1310 build: Fix Storybook --watch errors while stories are rebuilt
  scripts/build-stories.mjs
Labels: :white_check_mark: status: verified, :book: storybook

#1308 refactor(stepper): update content padding
  src/components/stepper/themes/stepper/stepper.base.scss
  src/components/stepper/themes/stepper/stepper.indigo.scss
Labels: :white_check_mark: status: verified, stepper

#1305 refactor(nav-drawer): Migrate to public async API
  src/components/nav-drawer/nav-drawer-item.ts
  src/components/nav-drawer/nav-drawer.spec.ts
  src/components/nav-drawer/nav-drawer.ts
  stories/nav-drawer.stories.ts
Labels: nav-drawer, refactoring

#1297 refactor: Expansion panel async hide/show API invocations
  src/components/accordion/accordion.spec.ts
  src/components/accordion/accordion.ts
  src/components/expansion-panel/expansion-panel.spec.ts
  src/components/expansion-panel/expansion-panel.ts
Labels: refactoring, expansion-panel, accordion

#1318 build: Updated storybook and husky
  .husky/pre-commit
  package-lock.json
  package.json
Labels: dependencies

#1321 Date Time Input: update masked value on focus when value is set
  CHANGELOG.md
  src/components/date-time-input/date-time-input.spec.ts
  src/components/date-time-input/date-time-input.ts
Labels: :white_check_mark: status: verified, date-time-input

#1309 Update ROADMAP 16 July 2024
  ROADMAP.md
Labels: documentation

#1302 refactor(radio): Changed the igcChange custom event type
  CHANGELOG.md
  src/components/radio/radio.spec.ts
  src/components/radio/radio.ts
Labels: radio, breaking-change

#1327 fix(radio): Do not emit change event on already checked radio
  CHANGELOG.md
  src/components/radio/radio.spec.ts
  src/components/radio/radio.ts
Labels: radio

#1323 docs: Updated README
  README.md
Labels: documentation

#1313 feat(icons): add icon references
  src/components/calendar/calendar.ts
  src/components/chip/chip.ts
  src/components/chip/themes/shared/chip.common.scss
  src/components/combo/combo.ts
  src/components/date-picker/date-picker.spec.ts
  src/components/date-picker/date-picker.ts
  src/components/expansion-panel/expansion-panel.spec.ts
  src/components/expansion-panel/expansion-panel.ts
  src/components/icon/icon-references.ts
  src/components/icon/icon.registry.ts
  src/components/icon/icon.spec.ts
  src/components/icon/icon.ts
  src/components/icon/internal-icons-lib.ts
  src/components/icon/registry/default-map.ts
  src/components/icon/registry/parser.ts
  src/components/icon/registry/types.ts
  src/components/input/input-base.ts
  src/components/rating/rating.ts
  src/components/select/select.ts
  src/components/tabs/tabs.ts
  src/components/textarea/textarea.ts
  src/components/tree/tree-item.ts
  src/components/tree/tree-utils.spec.ts
  src/components/tree/tree.spec.ts
  src/index.ts
  src/theming/config.spec.ts
  src/theming/config.ts
  src/theming/theming-controller.ts
  src/theming/theming-decorator.ts
  src/theming/theming-event.ts
  src/theming/types.ts
  src/theming/utils.ts
  stories/expansion-panel.stories.ts
  stories/icon.stories.ts
Labels: :white_check_mark: status: verified, squash-merge, icon

#1200 refactor: Calendar and calendar views
  src/components/calendar/base.ts
  src/components/calendar/calendar-keyboard-navigation.spec.ts
  src/components/calendar/calendar-rendering.spec.ts
  src/components/calendar/calendar.interaction.spec.ts
  src/components/calendar/calendar.ts
  src/components/calendar/common/calendar-base.ts
  src/components/calendar/common/calendar.model.spec.ts
  src/components/calendar/common/calendar.model.ts
  src/components/calendar/common/utils.ts
  src/components/calendar/days-view/days-view.ts
  src/components/calendar/helpers.spec.ts
  src/components/calendar/helpers.ts
  src/components/calendar/model.spec.ts
  src/components/calendar/model.ts
  src/components/calendar/months-view/months-view.ts
  src/components/calendar/types.ts
  src/components/calendar/years-view/years-view.ts
  src/components/common/localization/intl-formatters.ts
  src/components/common/util.ts
  src/components/date-picker/date-picker.spec.ts
  src/components/date-picker/date-picker.ts
  src/components/date-time-input/date-util.ts
  src/index.ts
  stories/calendar.stories.ts
Labels: :white_check_mark: status: verified, calendar, refactoring

#1328 fix(calendar): Add correct dates DOM parts
  CHANGELOG.md
  src/components/calendar/calendar-rendering.spec.ts
  src/components/calendar/days-view/days-view.ts
Labels: :white_check_mark: status: verified, calendar

#1326 refactor: form-associated validators
  src/components/checkbox/checkbox-base.ts
  src/components/checkbox/validators.ts
  src/components/combo/combo.ts
  src/components/combo/validators.ts
  src/components/common/mixins/form-associated.ts
  src/components/date-picker/date-picker.ts
  src/components/date-picker/validators.ts
  src/components/date-time-input/date-time-input.ts
  src/components/date-time-input/validators.ts
  src/components/input/input.ts
  src/components/input/validators.ts
  src/components/mask-input/mask-input.ts
  src/components/mask-input/validators.ts
  src/components/radio/radio.ts
  src/components/radio/validators.ts
  src/components/select/select.ts
  src/components/select/validators.ts
  src/components/textarea/textarea.ts
  src/components/textarea/validators.ts
Labels: refactoring

#1333 build: Updated dependencies
  package-lock.json
  package.json
Labels: dependencies

#1293 calendar - update indigo theme to match the latest UI kit
  package-lock.json
  package.json
  src/components/calendar/themes/shared/bootstrap/days-view.bootstrap.scss
  src/components/calendar/themes/shared/bootstrap/year-month-view.bootstrap.scss
  src/components/calendar/themes/shared/fluent/days-view.fluent.scss
  src/components/calendar/themes/shared/fluent/year-month-view.fluent.scss
  src/components/calendar/themes/shared/indigo/days-view.indigo.scss
  src/components/calendar/themes/shared/indigo/year-month-view.indigo.scss
  src/components/calendar/themes/shared/material/days-view.material.scss
  src/components/calendar/themes/shared/material/year-month-view.material.scss
Labels: :white_check_mark: status: verified, calendar, design: awaiting-validation, indigo-theme
