Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2025-01, with the labels that each got.

#1530 build(typedoc): bump to latest version
  package-lock.json
  package.json
  scripts/build-typedoc.js
  src/components/stepper/step.ts
Labels: documentation, :x: status: awaiting-test

#1531 build(deps): Bumped to latest TS version
  package-lock.json
  package.json
Labels: dependencies

#1526 fix(textarea): remove space if prefix/suffix is hidden
  src/components/input/input-base.ts
  src/components/textarea/textarea.ts
Labels: :x: status: awaiting-test, themes, text area

#1522 fix(input): Incorrect validation with numeric input and step attribute
  CHANGELOG.md
  src/components/common/util.ts
  src/components/common/validators.ts
  src/components/input/input.spec.ts
  src/components/rating/rating.ts
Labels: input

#1532 fix(icon-broadcast): Do not sync between wc services, just with angul…
  src/components/icon/icon-state.broadcast.ts
  src/components/icon/icon.spec.ts
  src/components/icon/registry/types.ts
Labels: :white_check_mark: status: verified

#1535 build(deps): Bumped TS version
  package-lock.json
  package.json
Labels: dependencies

#1540 build(deps): Bumped Storybook version
  package-lock.json
  package.json
Labels: dependencies, :book: storybook

#1538 fix(list): consume all css vars from schemas
  src/components/list/list.ts
  src/components/list/themes/container.base.scss
  src/components/list/themes/container.ts
  src/components/list/themes/shared/container/list.bootstrap.scss
  src/components/list/themes/shared/container/list.common.scss
  src/components/list/themes/shared/item/list-item.bootstrap.scss
  src/components/list/themes/shared/item/list-item.common.scss
  src/components/list/themes/shared/item/list-item.fluent.scss
  src/components/list/themes/shared/item/list-item.indigo.scss
Labels: :white_check_mark: status: verified, themes, list

#1536 refactor(dialog): provide message slot
  CHANGELOG.md
  src/components/dialog/dialog.ts
  src/components/dialog/themes/dialog.base.scss
  stories/dialog.stories.ts
Labels: :white_check_mark: status: verified, dialog

#1544 build(deps): Bumped dependencies
  package-lock.json
  package.json
Labels: dependencies

#1553 docs: Updated CHANGELOG with patch notes
  CHANGELOG.md
Labels: changelog

#1555 fix(combo): default value with delayed data
  src/components/combo/combo.spec.ts
  src/components/combo/combo.ts
Labels: combo

#1556 build(deps): Bumped dev dependencies
  package-lock.json
  package.json
Labels: dependencies

#1547 feat(hint): update inputs hint paddings
  src/components/combo/themes/shared/combo.material.scss
  src/components/date-picker/themes/shared/date-picker.common.scss
  src/components/input/themes/shared/input.material.scss
  src/components/select/themes/shared/select.material.scss
  src/components/textarea/themes/shared/textarea.material.scss
Labels: :white_check_mark: status: verified, input, material-theme, select, combo, text area, date-picker, date-time-input

#1561 fix(rating): Value rounding calculation when step is not 1
  CHANGELOG.md
  src/components/rating/rating.spec.ts
  src/components/rating/rating.ts
Labels: :white_check_mark: status: verified, rating

#1562 build(deps): Bumped dev dependencies
  package-lock.json
  package.json
Labels: dependencies
