Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2025-03, with the labels that each got.

#1582 feat(progress): update values to be used from schemas
  package-lock.json
  package.json
  src/components/progress/themes/circular/shared/circular.progress.common.scss
  src/components/progress/themes/linear/linear.progress.base.scss
  src/components/progress/themes/linear/shared/linear.progress.bootstrap.scss
  src/components/progress/themes/linear/shared/linear.progress.common.scss
  src/components/progress/themes/linear/shared/linear.progress.fluent.scss
  src/components/progress/themes/linear/themes.ts
Labels: :white_check_mark: status: verified, themes, circular-progress, linear-progress

#1592 build(deps): Bumped to latest TS and Storybook
  package-lock.json
  package.json
Labels: dependencies

#1598 docs(slider-label): add doc comment and element tag for CEM
  src/components/slider/slider-label.ts
Labels: documentation, slider

#1600 build(deps): Bumped dependencies
  package-lock.json
  package.json
Labels: dependencies

#1597 fix(calendar): days row height for fluent and bootstrap theme
  src/components/calendar/themes/shared/bootstrap/days-view.bootstrap.scss
  src/components/calendar/themes/shared/fluent/days-view.fluent.scss
Labels: :white_check_mark: status: verified, calendar, bootstrap-theme, fluent-theme, styling

#1610 build(deps): Bumped dependencies
  package-lock.json
  package.json
Labels: dependencies

#1619 build(deps): Bumped dependencies
  package-lock.json
  package.json
Labels: dependencies

#1623 chore(tile-manager): adjust api analyzer tags, event arg interface
  src/components/resize-container/resize-container.ts
  src/components/tile-manager/tile-manager.ts
  src/components/tile-manager/tile.ts
Labels: blazor, tile-manager

#1608 Swap tiles based on moving direction
  src/components/common/controllers/drag.ts
  src/components/tile-manager/tile-dnd.spec.ts
  src/components/tile-manager/tile-ghost-util.ts
  src/components/tile-manager/tile.ts
Labels: :white_check_mark: status: verified, tile-manager

#1622 refactor(switch): remove invalid state props
  src/components/checkbox/themes/shared/switch/switch.bootstrap.scss
  src/components/checkbox/themes/shared/switch/switch.common.scss
  src/components/checkbox/themes/shared/switch/switch.fluent.scss
  src/components/checkbox/themes/shared/switch/switch.indigo.scss
  src/components/checkbox/themes/shared/switch/switch.material.scss
Labels: :x: status: awaiting-test, themes, switch

#1625 docs: Updated README with tile manager component
  README.md
Labels: documentation

#1620 [Card]: refactor spacings
  src/components/card/themes/card.actions.base.scss
  src/components/card/themes/container.ts
  src/components/card/themes/shared/container/card.bootstrap.scss
  src/components/card/themes/shared/container/card.indigo.scss
  src/components/card/themes/shared/content/card.content.bootstrap.scss
  src/components/card/themes/shared/header/card.header.bootstrap.scss
  src/components/card/themes/shared/header/card.header.fluent.scss
  src/components/card/themes/shared/header/card.header.indigo.scss
Labels: :white_check_mark: status: verified, card, refactoring, styling
