Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2025-10, with the labels that each got.

#1873 fix(card): size avatar only in the header thumbnail
  src/components/card/themes/card.content.base.scss
  src/components/card/themes/card.header.base.scss
  src/components/card/themes/content.ts
  src/components/card/themes/shared/content/card.content.indigo.scss
  src/components/card/themes/shared/header/card.header.indigo.scss
Labels: :white_check_mark: status: verified, themes, avatar, card

#1875 refactor(masked-input): Cleaned up internal state and derived components
  src/components/date-time-input/date-time-input.ts
  src/components/date-time-input/date-util.ts
  src/components/mask-input/mask-input-base.ts
  src/components/mask-input/mask-input.ts
  src/components/mask-input/mask-parser.ts
  src/components/mask-input/validators.ts
Labels: refactoring, mask, date-time-input

#1878 build(deps): Bumped dev dependencies
  package-lock.json
  package.json
Labels: dependencies

#1879 docs: Updated CHANGELOG with release notes
  CHANGELOG.md
Labels: changelog
