Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2025-07, with the labels that each got.

#1764 fix(date-range-picker): fix borders of pickers and indigo elevation
  src/components/date-range-picker/themes/dark/_themes.scss
  src/components/date-range-picker/themes/dark/date-range-picker.bootstrap.scss
  src/components/date-range-picker/themes/dark/date-range-picker.fluent.scss
  src/components/date-range-picker/themes/dark/date-range-picker.indigo.scss
  src/components/date-range-picker/themes/dark/date-range-picker.material.scss
  src/components/date-range-picker/themes/light/_themes.scss
  src/components/date-range-picker/themes/shared/date-range-picker.bootstrap.scss
  src/components/date-range-picker/themes/shared/date-range-picker.common.scss
  src/components/date-range-picker/themes/shared/date-range-picker.fluent.scss
  src/components/date-range-picker/themes/shared/date-range-picker.indigo.scss
Labels: :white_check_mark: status: verified, themes, date-range-picker

#1765 fix(datepicker): fix datepicker issues
  src/components/date-picker/themes/dark/_themes.scss
  src/components/date-picker/themes/dark/date-picker.bootstrap.scss
  src/components/date-picker/themes/dark/date-picker.fluent.scss
  src/components/date-picker/themes/dark/date-picker.indigo.scss
  src/components/date-picker/themes/dark/date-picker.material.scss
  src/components/date-picker/themes/light/_themes.scss
  src/components/date-picker/themes/shared/date-picker.bootstrap.scss
  src/components/date-picker/themes/shared/date-picker.common.scss
  src/components/date-picker/themes/shared/date-picker.fluent.scss
  src/components/date-picker/themes/shared/date-picker.indigo.scss
Labels: :white_check_mark: status: verified, themes, date-picker

#1768 feat(textarea): readonly styles
  src/components/input/themes/shared/input.indigo.scss
  src/components/textarea/themes/shared/textarea.bootstrap.scss
  src/components/textarea/themes/shared/textarea.common.scss
  src/components/textarea/themes/shared/textarea.fluent.scss
  src/components/textarea/themes/shared/textarea.indigo.scss
  src/components/textarea/themes/shared/textarea.material.scss
  stories/textarea.stories.ts
Labels: :white_check_mark: status: verified, design: verified, text area

#1774 fix(carousel): pause auto-rotation on pointer focus
  CHANGELOG.md
  src/components/carousel/carousel.spec.ts
  src/components/carousel/carousel.ts
Labels: :white_check_mark: status: verified, carousel

#1777 refactor(toast,snackbar): Abstracted show/hide logic and code clean-ups
  src/animations/player.ts
  src/components/common/mixins/alert.ts
  src/components/snackbar/snackbar.ts
  src/components/toast/toast.ts
Labels: refactoring, snackbar, toast

#1778 fix(carousel): emit igcSlideChanged on slide change
  CHANGELOG.md
  src/components/carousel/carousel.spec.ts
  src/components/carousel/carousel.ts
Labels: :white_check_mark: status: verified, carousel

#1779 build(deps): Bumped dev dependencies
  package-lock.json
  package.json
Labels: dependencies

#1775 fix(calendar): reflect the orientation attr.
  src/components/calendar/calendar-rendering.spec.ts
  src/components/calendar/calendar.ts
  src/components/calendar/helpers.spec.ts
  src/components/calendar/themes/calendar.base.scss
  src/components/calendar/themes/shared/bootstrap/calendar.bootstrap.scss
  src/components/calendar/themes/shared/fluent/calendar.fluent.scss
  src/components/calendar/themes/shared/indigo/calendar.indigo.scss
  src/components/calendar/themes/shared/material/calendar.material.scss
Labels: :x: status: awaiting-test, calendar, design: verified

#1783 fix(date-range-picker): focus on arrow-up/escape for single input
  src/components/date-range-picker/date-range-picker-single.spec.ts
  src/components/date-range-picker/date-range-picker-two-inputs.spec.ts
  src/components/date-range-picker/date-range-picker.ts
Labels: :white_check_mark: status: verified, date-range-picker

#1767 feat: Slot controller
  src/components/carousel/carousel-indicator.ts
  src/components/carousel/carousel-slide.ts
  src/components/carousel/carousel.ts
  src/components/checkbox/checkbox-base.ts
  src/components/checkbox/checkbox.spec.ts
  src/components/checkbox/checkbox.ts
  src/components/checkbox/switch.spec.ts
  src/components/checkbox/switch.ts
  src/components/chip/chip.ts
  src/components/common/controllers/slot.spec.ts
  src/components/common/controllers/slot.ts
  src/components/dialog/dialog.ts
  src/components/expansion-panel/expansion-panel.ts
  src/components/nav-drawer/nav-drawer-item.ts
  src/components/nav-drawer/nav-drawer.ts
  src/components/progress/base.ts
  src/components/progress/circular-gradient.ts
  src/components/progress/circular-progress.ts
  src/components/progress/linear-progress.ts
  src/components/radio-group/radio-group.ts
  src/components/radio/radio.spec.ts
  src/components/radio/radio.ts
  src/components/select/select.spec.ts
  src/components/select/select.ts
  src/components/slider/slider-label.ts
  src/components/textarea/textarea.ts
  src/components/tile-manager/tile.ts
  src/components/validation-container/validation-container.ts
  stories/dialog.stories.ts
  stories/file-input.stories.ts
Labels: enhancement, refactoring

#1793 build(deps): Bumped dependencies
  package-lock.json
  package.json
  src/components/tile-manager/position.ts
Labels: dependencies

#1795 fix(card): indigo theme avatar size
  src/components/card/themes/content.ts
  src/components/card/themes/shared/content/card.content.indigo.scss
Labels: :white_check_mark: status: verified, card, indigo-theme

#1792 fix(input): adjust placeholder-shown styles and label alignment in material theme
  src/components/input/themes/shared/input.material.scss
Labels: :white_check_mark: status: verified, input, material-theme

#1797 fix(textarea): fix resize issue and make textarea editable
  src/components/textarea/themes/shared/textarea.material.scss
Labels: :white_check_mark: status: verified, material-theme, design: verified, text area

#1800 build(deps): Bumped dependencies
  package-lock.json
  package.json
Labels: dependencies
