Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2025-08, with the labels that each got.

#1806 fix(nav-drawer): update styles and refactor stories
  src/components/nav-drawer/themes/container.base.scss
  src/components/nav-drawer/themes/shared/container/nav-drawer.common.scss
  stories/nav-drawer.stories.ts
Labels: :white_check_mark: status: verified, nav-drawer

#1815 refactor(keybinding controller): Default options refactoring
  src/components/accordion/accordion.ts
  src/components/calendar/days-view/days-view.ts
  src/components/calendar/months-view/months-view.ts
  src/components/calendar/years-view/years-view.ts
  src/components/carousel/carousel.ts
  src/components/common/controllers/key-bindings.ts
  src/components/common/util.ts
  src/components/date-picker/date-picker.ts
  src/components/date-range-picker/date-range-picker.ts
  src/components/date-time-input/date-time-input.ts
  src/components/expansion-panel/expansion-panel.ts
  src/components/rating/rating.ts
  src/components/slider/slider-base.ts
  src/components/tabs/tabs.ts
Labels: refactoring

#1814 refactor(themes): consume spacing from theming package
  package-lock.json
  package.json
  src/styles/themes/base/_theme.scss
Labels: :white_check_mark: status: verified, themes, spacing

#1819 feat(date-picker): set calendar activeDate on input
  src/components/date-picker/date-picker.spec.ts
  src/components/date-picker/date-picker.ts
Labels: enhancement, :white_check_mark: status: verified, date-picker

#1833 fix(card): default avatar size not correct in all themes bar indigo
  src/components/card/themes/card.content.base.scss
  src/components/card/themes/card.header.base.scss
Labels: :white_check_mark: status: verified, themes, avatar, bootstrap-theme, fluent-theme, material-theme
