Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2025-02, with the labels that each got.

#1543 Fix circular progress value and keyframes names
  src/components/progress/themes/animations.scss
  src/components/progress/themes/circular/circular.progress.base.scss
  src/components/progress/themes/circular/shared/circular.progress.fluent.scss
  src/components/progress/themes/linear/linear.progress.base.scss
  src/components/progress/themes/linear/shared/linear.progress.common.scss
  src/components/progress/themes/linear/shared/linear.progress.fluent.scss
Labels: :white_check_mark: status: verified, circular-progress, linear-progress

#1559 fix(datepicker): add component-size for datepicker
  src/components/date-picker/themes/shared/date-picker.common.scss
Labels: :white_check_mark: status: verified, date-picker

#1557 Refactor tile manager's drag and drop to use pointer events
  src/components/common/context.ts
  src/components/common/controllers/async-consumer.ts
  src/components/common/controllers/drag-and-drop.ts
  src/components/resize-container/resize-container.ts
  src/components/tile-manager/controllers/tile-dnd.ts
  src/components/tile-manager/themes/tile-manager.base.scss
  src/components/tile-manager/themes/tile.base.scss
  src/components/tile-manager/tile-dnd.spec.ts
  src/components/tile-manager/tile-manager.spec.ts
  src/components/tile-manager/tile-manager.ts
  src/components/tile-manager/tile-resize.spec.ts
  src/components/tile-manager/tile-util.ts
  src/components/tile-manager/tile.ts
  stories/tile-manager.stories.ts
Labels: tile-manager

#1566 fix(icon-button): material outlined button not visible
  src/components/button/themes/icon-button/shared/icon-button.material.scss
Labels: :white_check_mark: status: verified, themes, icon-button, material-theme

#1568 build(deps): Bumped dependencies
  package-lock.json
  package.json
Labels: dependencies

#1570 fix(navbar): slotted components sizes
  src/components/navbar/themes/navbar.base.scss
  src/components/navbar/themes/shared/navbar.indigo.scss
Labels: :x: status: awaiting-test, navbar

#1572 docs: Patch release notes
  CHANGELOG.md
Labels: changelog

#1573 fix(chip): bootstrap theme disabled state
  src/components/chip/themes/shared/chip.bootstrap.scss
Labels: :x: status: awaiting-test, themes, bootstrap-theme, chip

#1574 FinDashboard stories updated
  stories/tile-manager.stories.ts
Labels: tile-manager

#1579 build(dependencies): Updated to latest Lit packages
  package-lock.json
  package.json
  scripts/_package.json
Labels: dependencies

#1578 refactor(carousel): simplify slide template and styles
  CHANGELOG.md
  src/components/carousel/carousel-slide.ts
  src/components/carousel/carousel.spec.ts
  src/components/carousel/themes/carousel-slide.base.scss
  stories/carousel.stories.ts
Labels: :white_check_mark: status: verified, refactoring, carousel

#1585 docs: Updated CHANGELOG
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
Labels: documentation, dependencies

#1586 build(deps): Bumped to latest Vite and Storybook
  package-lock.json
  package.json
Labels: dependencies

#1588 fix(chip) styles for improved layout and responsiveness.
  src/components/chip/themes/chip.base.scss
Labels: :boom: status: in-test, chip, styling

#1580 fix(combo/select): toggle button states
  package-lock.json
  package.json
  src/components/combo/themes/shared/combo.common.scss
  src/components/combo/themes/shared/combo.fluent.scss
  src/components/combo/themes/shared/combo.indigo.scss
  src/components/combo/themes/shared/combo.material.scss
  src/components/date-picker/themes/shared/date-picker.common.scss
  src/components/date-picker/themes/shared/date-picker.indigo.scss
  src/components/input/themes/shared/input.material.scss
  src/components/select/themes/shared/select.common.scss
  src/components/select/themes/shared/select.fluent.scss
  src/components/select/themes/shared/select.indigo.scss
  src/components/textarea/themes/shared/textarea.material.scss
Labels: :white_check_mark: status: verified, input, material-theme, design: verified, select, combo

#1590 feat(list-item): add selected property
  CHANGELOG.md
  src/components/list/list-item.ts
  src/components/list/themes/shared/item/list-item.common.scss
  stories/avatar.stories.ts
Labels: :white_check_mark: status: verified, list
