Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2025-04, with the labels that each got.

#1634 Update README.md
  README.md
Labels: 6.0.0

#1633 Update ROADMAP.md
  ROADMAP.md
Labels: 6.0.0

#1630 [calendar] - Fix date text color in range selection when the current date is also the last or first in range
  src/components/calendar/themes/shared/material/days-view.material.scss
Labels: calendar, design: verified, styling

#1635 fix(chip): update bootstrap chip styles
  src/components/chip/themes/shared/chip.bootstrap.scss
Labels: :white_check_mark: status: verified, bootstrap-theme, chip

#1613 feat(file-input): Added file input component
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/common/mixins/forms/form-value.ts
  src/components/common/utils.spec.ts
  src/components/file-input/file-input.spec.ts
  src/components/file-input/file-input.ts
  src/components/file-input/themes/file-input.base.scss
  src/components/file-input/themes/shared/file-input.bootstrap.scss
  src/components/file-input/themes/shared/file-input.fluent.scss
  src/components/file-input/themes/shared/file-input.indigo.scss
  src/components/file-input/themes/shared/file-input.material.scss
  src/components/file-input/themes/themes.ts
  src/components/file-input/validators.ts
  src/components/input/input-base.ts
  src/components/input/themes/shared/input.bootstrap.scss
  src/components/input/themes/shared/input.material.scss
  src/index.ts
  src/theming/types.ts
  stories/file-input.stories.ts
Labels: :white_check_mark: status: verified, themes, squash-merge, input

#1641 build(deps): Bump dependencies
  package-lock.json
  package.json
Labels: dependencies

#1642 fix(stepper) fix header text aligment
  src/components/stepper/themes/step/step.base.scss
Labels: :white_check_mark: status: verified, stepper, styling

#1647 fix(file-input): instantiation fails because of super styles
  src/components/file-input/file-input.ts
Labels: :white_check_mark: status: verified, file-input

#1648 build(deps): Bumped typescript version
  package-lock.json
  package.json
  vite.config.ts
Labels: dependencies

#1629 [Calendar] - fix header size
  src/components/calendar/themes/calendar.base.scss
  src/components/calendar/themes/shared/bootstrap/calendar.bootstrap.scss
  src/components/calendar/themes/shared/bootstrap/days-view.bootstrap.scss
  src/components/calendar/themes/shared/fluent/calendar.fluent.scss
  src/components/calendar/themes/shared/indigo/calendar.indigo.scss
  src/components/calendar/themes/shared/material/calendar.material.scss
Labels: calendar, styling

#1638 fix(forms): Setting validation properties on a pristine non-dirty form
  CHANGELOG.md
  src/components/common/mixins/forms/associated.ts
  src/components/common/utils.spec.ts
  src/components/file-input/file-input.spec.ts
  src/components/file-input/file-input.ts
  src/components/input/input.spec.ts
  src/components/radio/radio.spec.ts
  src/components/radio/radio.ts
Labels: :white_check_mark: status: verified, squash-merge, forms

#1658 build(deps): Bumped to latest Lit packages
  package-lock.json
  package.json
  scripts/_package.json
Labels: dependencies

#1654 fix(rating): overwritten properties
  package-lock.json
  package.json
  src/components/rating/themes/rating.base.scss
  src/components/rating/themes/shared/rating.common.scss
  src/components/rating/themes/shared/rating.indigo.scss
Labels: :white_check_mark: status: verified, themes, rating

#1612 feat(carousel): use new button-focus-arrow-color prop
  src/components/carousel/themes/shared/carousel.bootstrap.scss
  src/components/carousel/themes/shared/carousel.common.scss
  src/components/carousel/themes/shared/carousel.fluent.scss
  src/components/carousel/themes/shared/carousel.indigo.scss
Labels: :white_check_mark: status: verified, themes, carousel

#1644 feat(radio): use the new focus-border-color for bootstrap
  src/components/radio/themes/shared/radio.bootstrap.scss
Labels: :x: status: awaiting-test, radio, bootstrap-theme

#1611 feat(checkbox): use focus-border-color prop for bootstrap
  src/components/checkbox/themes/shared/checkbox/checkbox.bootstrap.scss
Labels: :white_check_mark: status: verified, checkbox, bootstrap-theme

#1637 fix(calendar): address ARIA violation when a week with all days hidden is rendered
  src/components/calendar/calendar-rendering.spec.ts
  src/components/calendar/days-view/days-view.ts
Labels: :x: status: awaiting-test, calendar

#1661 build(deps): Bumped dev dependencies
  package-lock.json
  package.json
Labels: dependencies

#1662 docs: Added CHANGELOG release notes
  CHANGELOG.md
Labels: changelog

#1663 fix(tooltip): change themes import
  src/components/tooltip/tooltip.ts
Labels: tooltip

#1665 docs: Updated CHANGELOG notes
  CHANGELOG.md
Labels: changelog

#1666 fix(popover): Use absolute position and strategy
  src/components/popover/popover.ts
  src/components/popover/themes/light/popover.base.scss
Labels: :x: status: awaiting-test, popover

#1667 build(deps): Bumped to Storybook v9
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  stories/accordion.stories.ts
  stories/avatar.stories.ts
  stories/badge.stories.ts
  stories/banner.stories.ts
  stories/button-group.stories.ts
  stories/button.stories.ts
  stories/calendar.stories.ts
  stories/card.stories.ts
  stories/carousel.stories.ts
  stories/checkbox.stories.ts
  stories/chip.stories.ts
  stories/circular-progress.stories.ts
  stories/combo.stories.ts
  stories/date-time-input.stories.ts
  stories/datepicker.stories.ts
  stories/dialog.stories.ts
  stories/divider.stories.ts
  stories/dropdown.stories.ts
  stories/expansion-panel.stories.ts
  stories/file-input.stories.ts
  stories/icon-button.stories.ts
  stories/icon.stories.ts
  stories/input.stories.ts
  stories/linear-progress.stories.ts
  stories/list.stories.ts
  stories/mask-input.stories.ts
  stories/nav-drawer.stories.ts
  stories/navbar.stories.ts
  stories/radio-group.stories.ts
  stories/radio.stories.ts
  stories/range-slider.stories.ts
  stories/rating.stories.ts
  stories/ripple.stories.ts
  stories/select.stories.ts
  stories/slider.stories.ts
  stories/snackbar.stories.ts
  stories/stepper.stories.ts
  stories/story.ts
  stories/switch.stories.ts
  stories/tabs.stories.ts
  stories/textarea.stories.ts
  stories/tile-manager.stories.ts
  stories/toast.stories.ts
  stories/tooltip.stories.ts
  stories/tree.stories.ts
Labels: dependencies, :book: storybook

#1668 docs: Updated CHANGELOG
  CHANGELOG.md
  scripts/_package.json
Labels: changelog

#1513 refactor: enums with unset state changes
  CHANGELOG.md
  src/components/stepper/step.ts
  src/components/stepper/stepper.spec.ts
  src/components/stepper/stepper.ts
  src/components/textarea/textarea.ts
  src/components/types.ts
  stories/stepper.stories.ts
  stories/tabs.stories.ts
  stories/textarea.stories.ts
Labels: refactoring, blazor, stepper, text area

#1671 build(deps): Bumped Storybook version and fixed top level await
  package-lock.json
  package.json
  stories/tabs.stories.ts
Labels: dependencies, :book: storybook

#1486 fix(chip): styling discrepancies
  src/components/chip/chip.ts
  src/components/chip/themes/shared/chip.common.scss
  src/components/chip/themes/shared/chip.indigo.scss
Labels: :white_check_mark: status: verified, themes, chip
