Repository IgniteUI/igniteui-webcomponents, pull requests merged in 2025-09, with the labels that each got.

#1827 feat(select/combo): fix icon sizes for indigo
  src/components/combo/themes/shared/combo.indigo.scss
  src/components/select/themes/shared/select.indigo.scss
Labels: :white_check_mark: status: verified, select, combo

#1838 docs: Updated CHANGELOG
  CHANGELOG.md
Labels: changelog

#1842 fix(input-group): font discrepancies
  src/components/input/themes/shared/input.bootstrap.scss
  src/components/textarea/themes/shared/textarea.bootstrap.scss
Labels: :white_check_mark: status: verified, input, bootstrap-theme, text area

#1851 docs: Updated CHANGELOG
  CHANGELOG.md
Labels: changelog

#1853 fix(list): theme variables replicated for all list components
  src/components/list/themes/dark/header/list-header.bootstrap.scss
  src/components/list/themes/dark/header/list-header.fluent.scss
  src/components/list/themes/dark/header/list-header.indigo.scss
  src/components/list/themes/dark/header/list-header.material.scss
  src/components/list/themes/dark/item/list-item.bootstrap.scss
  src/components/list/themes/dark/item/list-item.fluent.scss
  src/components/list/themes/dark/item/list-item.indigo.scss
  src/components/list/themes/dark/item/list-item.material.scss
  src/components/list/themes/header.ts
  src/components/list/themes/item.ts
  src/components/list/themes/light/header/list-header.bootstrap.scss
  src/components/list/themes/light/header/list-header.fluent.scss
  src/components/list/themes/light/header/list-header.indigo.scss
  src/components/list/themes/light/header/list-header.material.scss
  src/components/list/themes/light/item/list-item.bootstrap.scss
  src/components/list/themes/light/item/list-item.fluent.scss
  src/components/list/themes/light/item/list-item.indigo.scss
  src/components/list/themes/light/item/list-item.material.scss
Labels: :white_check_mark: status: verified, themes, list

#1854 docs: Updated CHANGELOG
  CHANGELOG.md
Labels: changelog
